.thumbnail{
    width: 100%;
    max-width: 230px;
    height: 200px;}

.z-depth-1{
/*box-shadow: inset 0px 0px 1em rgba(204, 204, 204, 0.5); */
border: 1px solid #ccc;
background-color: #ffffff;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  padding: 10px;}
  
 pre, blockquote {
    margin-bottom: 0;}

iframe{
	min-width: 100%;
}	
	
.border{
	border: 1px solid #ccc;}

.container-big{
  max-width: 1200px;
  width: 95%;}
  
.auto-eg-padding{
	padding-top: 20px;
	padding-bottom: 20px;}