/**************************
HEADER STYLING
**************************/

.headerbar-leftside {
    margin-left: 70px;
    display: inline-block;
    float: left;
    max-width: 200px;
    white-space: nowrap;
    margin-right: 70px;
    height: 78px;
}

.logo{
    font-size: 26px !important;
    font-weight: 200;
    color: #447BDC;
    text-decoration: none;
}

.logo:hover{
	color: #2d56aa;
}

.ploticon-plotlylogo {
    font-family: "plotlylogo";
}

.logo em {
    font-style: normal;
}

.headerbar-rightside {
    display: inline-block;
    float: right;
    margin-left: 0px;
    max-width: 500px;
    white-space: nowrap;
    margin-right: 70px;
/*	margin-top: 25px; */
}

.headerbar-nav {
    display: inline-block;
    vertical-align: super;
}

.headerbar-nav-item {
    color: #69738a;
    display: inline-block;
    font-size: 10pt;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Open sans",verdana,arial,sans-serif;
	text-decoration: none;
}

.headerbar a{
	text-decoration: none;
}

.headerbar-nav-item:hover, .headerbar-nav-item.lateralmenu-item.is-active{
border-bottom: 2px solid #447bdc;
color: #447bcd;
cursor: pointer
}

@media (max-width: 1100px) {
	.headerbar{
	width: 100%;
	min-width: 150px;
	}
	
	.headerbar-leftside {
	margin-left: 20px;
	max-width: 100px;
	margin-right: 25px;
	}
	
}

/***********************
SOCIAL SHARE STYLING
************************/
.share_bar{
	height: 40px;
	margin: auto;
	width: 300px;
}
.share_one{
	padding-top: 10px;
	display: inline;
}
.share_two{
	display: inline;
}

/*************************
FOOTER STYLING
**************************/

.footer-bottom {
    font-size: 12px;
}

.footerarea h6 {
    color: #447bdc;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    line-height: 8px;
}

.footerarea li, .footerarea a, .footerarea p{
    color: #8c97af;
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    line-height: 4px;
    margin-top: 15px;
}

@media (max-width: 550px) {
	.footer-bottom li, .footer-bottom a, .footer-bottom p{
	margin-top: 2px;	
	margin: 0 0 10px 3px;}
	
}

.footerarea a{
	text-decoration: none;
	color: #8c97af;
}

.footerarea a:hover{
	color: #69738a;
}

.social_icon{
	color: #447bdc;
	font-size: 21px;
}

.plotly-social-media-small{
	display: inline-block;
}

.plotly-social-media-small li{
	display: inline;
	padding-right: 8px;
}


/***********************
NAVIGATION BAR STYLING
***********************/

.navigation-bar p, .navigation-bar a {
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
	display: inline;
	color: #69738a;
}
.navigation-bar a:hover{
	color: #447bdc;
	}
.navigation-bar p{
	float: left;
	}
.navigation-bar .float-right{
	margin-right: 70px;
	}
	
@media (max-width: 1100px) {
	.navigation-bar .float-right{
		margin-right: 40px;}
}
@media (max-width: 400px) {
	.navigation-bar p, .navigation-bar a {
	    font-size: 12px;}
}
@media (max-width: 550px) {
	.navigation-bar .float-right{
		display: none;}
}


/*****************************
ALL TUTORIALS SECTION STYLING
*****************************/
/* Spacing modifications */

#alltutorialsect{
	padding-top: 30px;
	padding-bottom: 30px;
}

.sectionseparator_b .titlecenter{
	background-color: #EEEEEE;
}

.sectionseparator_a li, .sectionseparator_b li, .sectionseparator_a a, .sectionseparator_b a{
	list-style: none;
	font-size: 12px;
	text-decoration: none;
/*	color: #8c97af; */
}


.sectionseparator_a a:hover, .sectionseparator_b a:hover{
/*	color: #69738a; */
}
/* Title Styling */

.tutorialsect_title{
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
}

/* Tutorial Block Titles */

.titlecenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}

.titlecenter h5{
    margin-top: auto;
	margin-bottom: auto;
	}
.tutorialsect_title{
		padding-left: 0px;
	}

@media (min-width: 550px) {
	.tutorialsect_title{
		padding-left: 5%;
	}
	.titlecenter h5{
	font-size: 16px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

.titlecenter h5{
	font-size: 16px;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {

.titlecenter h5{
	font-size: 18px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

.titlecenter h5{
	font-size: 18px;
	}
}

/* Excel logo */

.container-excel{
	position: relative;
}

.excel-logo{
	z-index: 999;
	position: absolute;
	max-width: 20%;
	right: 4px;
	bottom: 4px;
}



/********
BUTTONS
*********/



.button {
    background-color: #447bdc;
    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button a{
	text-decoration: none;}

@media (max-width: 550px) {
	.button {
		min-width: 100%;
	        margin: 5px 0;
		padding: 5px 0;
	}
}

@media (max-width: 700px) {
	.button {
		margin: 0 0px 10px;
	}
}

.secondary {
    background: none repeat scroll 0 0 #8c97af;
	    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover, .button.lateralmenu-item.is-active{
	background: none repeat scroll 0 0 #2d56aa;
	color: white;
}

.secondary:hover {
	background: none repeat scroll 0 0 #69738a;
	color: white;
}

/***********************
TUTORIAL HOME PAGE STYLING
************************/

.tuthome-padding{
	padding-top: 40px;
	padding-bottom: 80px;
}

.tuthome-padding-b{
	padding-bottom: 40px;
}

.tuthome-section-bg{
    background-color: #F3F3F3;
    width: 100%;
}

.tuthome-section{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.tuthome-section:last-child{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.tuthome-section li{
	list-style: none;
	font-size: 12px;
	text-decoration: none;
	color: #8c97af;
}

.tuthome-section a:hover, .tuthome-section a:hover{
	color: #69738a;
}
/* Button Styling */


#loadMore, #loadMore a, #loadMore a:hover{
	display: block;
	clear: both;
	color: #ffffff;
	text-align: center;

}

#loadMore{

    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
	font-size: 12px;
}

@media (min-width: 550px){
	#loadMore {
	margin-left: 37.5%;
	width: 25%;
	font-size: 8px;
	}
}



.categories{
	min-height: 350px;
	position: relative;
}

.categories h3{
margin: 3px 0;}

#thumimgA, #thumimgB, #thumimgC, #thumtextA, #thumtextB, #thumtextC{
	position: absolute;
	max-width: 100%;
}

#thumimgA, #thumimgB, #thumimgC {
	z-index: 99;
}

#thumtextA, #thumtextB, #thumtextC{
	z-index: 999;
}

.categories p{
	padding: 20% 20px 0px 20px;
	text-align: center;
	font-weight: 400;
}

@media (max-width: 750px){
	.categories p{
	font-size:12 px;
	}
}
@media (max-width: 550px){
	.categories p{
	font-size:18 px;
	}
}	



/********************
CLIENT APIS Rollover styling
********************/

.categories-apis{
	position: relative;
	height: 350px;
	padding: 10px;
	text-align: center;
	font-weight: 400;
}

#matlabImg, #pyImg, #rImg, #matlabText, #pyText, #rText {
	position: absolute;
	max-width: 100%;
}

#matlabImg, #pyImg, #rImg {
	z-index: 99;
}

#matlabText, #pyText, #rTextC{
	z-index: 999;
}

#matlabText, #pyText, #rText {
	padding: 20% 20px 0px 20px;
	text-align: center;
	font-weight: 400;
}

@media (max-width: 750px){
	.categories-apis p{
	font-size:12 px;
	}
}
@media (max-width: 550px){
	.categories-apis p{
	font-size:18 px;
	}
}


@media (min-width: 550px) {
	.categories, .categories-apis{
	    height: 200px;
	    padding: 3px;
	}
	.categories-apis p{
	   font-size: 11px;
	   line-height: 13px;
	}
	.categories-apis h6{
	   font-size: 13px;
	   line-height: 15px;
	}
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	.categories, .categories-apis{
	    min-height: 250px;
	    padding: 10px;
	}
	.categories-apis p{
	   font-size: 12px;
	   line-height: 14px;
	}
	.categories-apis h6{
	   font-size: 18px;
   	   line-height: 20px;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.categories, .categories-apis{
	height: 300px;
	padding: 10px;
	}
	.categories-apis p{
	font-size: 15px;
	line-height: 21px;
	}
	.categories-apis h6{
	font-size: 21px; 
	line-height: 27px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.categories, .categories-apis{
	    height: 350px;
	    padding: 10px;
	}
	.categories-apis p{
	  font-size: 15px;
	  line-height: 21px;
	}
	.categories-apis h6{
	font-size: 21px; 
	line-height: 27px;
	}
}
/*************************
POP-UP MENU STYLING
**************************/
.popupheader a{
	line-height: 78px;
}

.popupmenu li{
	list-style: none;
}

.popupmenu a{
	color: #69738a;
	text-decoration: none;
    	font-size: 40px;
    	font-weight: 150;
}
.popupmenu a:hover{
	color: #447bdc;
}



#popmenufull{
	z-index: 99999;
	position: fixed;
	opacity: 0.95;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
}

.popupheader{
	display: block;
	width: 100%;
	clear: both;
	height: 80px;
}
.popupmenu{
	padding-top: 20px;
}
.close{
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 40px;
	margin-top: 20px;}

/****************
TUTORIAL STYLING
****************/
.graphembed{
	max-height: 300px;
}

h3 code{
	padding: 0rem .2rem;
}

/**************
API SPLASH
**************/

.api-splash{
	background-image:url('https://plot.ly/static/img/api_splash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 300px;
	padding: 40px 0px 0px 10px;
	background-position: center top;
}
.api-splash h1{
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.api-splash h4{
	margin-left: 10px;
}
.api-sect-padding{
	padding-top: 40px;
	padding-bottom: 20px;
}

/* Larger than mobile */
@media (min-width: 400px) {
	.api-splash{
		height: 350px;
		}
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.api-splash{
		height: 400px;
		}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.api-splash{
		height: 500px;
		}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.api-splash{
		height: 600px;
		}
}



/**************
LANGUAGE PAGES
**************/
.btnrow{
	margin-top: 20px;
	margin-bottom: 20px;
}

/**************
TIP BOX
**************/
.tipbox{
	background-color: #ced9ed;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;}
	
.tipbox img{
	float: left;
	padding-right: 20px;
}

.tipbox p{
	margin-bottom: 0;
}

/**************
API THUMNAIL LIST
**************/
@media (max-width: 550px) {
	.api-sect-padding img{
		max-height: 200px;
		margin: auto;
	}
}

.api-thum-img{
	width: 60px;
}

/***********************
NAVIGATION BAR STYLING
***********************/
.lang_nav_button{
	background-color: #8d97b0;
    border: medium none;
    border-radius: 2px;
    color: #f8f8f9;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}
.lang_nav_button:hover{
	background-color: #6a758b;
}
.lang_nav_button a{
		color: #ffffff;
		font-weight: 400;
		text-decoration: none;
}

@media (max-width: 550px) {
	.lang_nav_button {
		min-width: 100%;
	    margin: 5px 0;
		padding: 5px 0;
	}
}

@media (max-width: 700px) {
	.lang_nav_button {
		margin: 0 0px 10px;
	}
}

.lang_nav_thum{
	max-width: 20px;
	vertical-align: middle;
	display: inline;
	padding-right: 5px;
}

.lang_nav_act{
	background-color: #143060;
}
