.db-client-lib {
  margin: 0px 0px 30px 0px;

  label {
    text-transform: uppercase;
    display: block;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.6;
  }
  .list-lib-wrap {
    overflow: auto;
    @media screen and (max-width: 767px) {
      max-width: calc(100vw - 80px);
    }
  }
  .list-lib {
    white-space: nowrap;
    display: flex;
    .list-lib-item {
      border: 1px solid transparent;
      padding: 10px;
      min-width: 80px;
      margin: 0px 10px 0px 0px;
      border-radius: 4px;
      display: none;
      flex-shrink: 0;
      order: 7;
      &.current {
        border: 1px solid #ddd;
      }
      .item-icon {
        width: 40px;
        height: 40px;
        margin: 0px auto;
        background-repeat: no-repeat;
        background-position: center center;
      }
      p {
        margin: 5px 0px 0px 0px;
        color: #506784;
        padding: 0px;
        text-align: center;
        text-decoration: none;
      }
      &:hover {
        border: 1px solid #ddd;
        text-decoration: none;
        p {
          text-decoration: none;
        }
      }

      &.matlab {
        display: inline-block;
        order: 6;
        .item-icon {
          background-image: url("../images/icon-matlab.png");
          background-size: 35px auto;
        }
      }
      &.python {
        display: inline-block;
        order: 1;
        .item-icon {
          background-image: url("../images/icon-python.png");
          background-size: 35px auto;
        }
      }
      &.r {
        display: inline-block;
        order: 2;
        .item-icon {
          background-image: url("../images/icon-r.png");
          background-size: 35px auto;
        }
      }
      &.julia {
        display: inline-block;
        order: 4;
        .item-icon {
          background-image: url("../images/icon-julia.png");
          background-size: 35px auto;
        }
      }
      &.ggplot2 {
        display: inline-block;
        order: 3;
        .item-icon {
          background-image: url("../images/icon-ggplot2.png");
          background-size: 35px auto;
        }
      }

      &.fsharp {
        display: inline-block;
        order: 15;
        .item-icon {
          background-image: url("../images/icon-fsharp.png");
          background-size: 35px auto;
        }
      }
      &.nodejs {
        display: none;
        .item-icon {
          background-image: url("../images/icon-nodejs.png");
          background-size: 35px auto;
        }
      }
      &.scala {
        display: none;
      }
      &.plotly_js {
        display: none;
        .item-icon {
          background-image: url("../images/icon-plotly_js.png");
          background-size: 35px auto;
        }
      }
      &.python\/v3 {
        display: none;
        .item-icon {
          background-image: url("../images/icon-python.png");
          background-size: 35px auto;
        }
      }
    }
  }
}
