//$icon-font-path: '../fonts/';
//
////abstract
@import "_abstract/_abstract";
//
//*{
//  box-sizing: border-box;
//}
//
////components
@import "_components/_base";
@import "_components/_header";
@import "_components/_foot";
@import "_components/_sidebar";
@import "_components/_breadcrumb";
@import "_components/_helpbox";
//
//
////pages

@import "_pages/_home";
@import "_pages/_tutorial-index";
@import "_pages/_tutorial-single";
//
//// old
//
//@import "_old/layout_block.css";


@import url(http://help.plot.ly/stylesheets/plotly_icons.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
//strong{
//  display: inline !important;
//  box-sizing: content-box;
//}