
////abstract
@import "_abstract/_abstract";

//normalize.scss
@import "_abstract/_normalize";

//codehighlighting 
@import "_abstract/_colorbrewer";
@import "_abstract/_tomorrow";

//// components
@import "_components/_base";
@import "_components/_header";
@import "_components/_foot";
@import "_components/_sidebar";
@import "_components/_breadcrumb";
@import "_components/_helpbox";
@import "_components/_highlighting";
@import "_components/_ads";
@import "_components/_algolia";
//// pages
@import "_pages/_home";
@import "_pages/_tutorial-index";
@import "_pages/_tutorial-single";
@import "_pages/_getting-started";

pre, code, .hljs{
  background: $lb !important;
  font-size:1rem;
  line-height:1.5rem;

}

// All styles for cards in any tutorial index
@import "layout/layout.grid";
@import "layout/layout.upgrade-cta";
