
////abstract
@import "_abstract/_abstract";

//// components

@import "_components/_base";
@import "_components/_header";
@import "_components/_foot";
@import "_components/_sidebar";
@import "_components/_breadcrumb";
@import "_components/_helpbox";
@import "_components/_highlighting";
@import "_components/_ads";



//// pages

@import "_pages/_home";
@import "_pages/_tutorial-index";
@import "_pages/_tutorial-single";
@import "_pages/_getting-started";

@import url(http://help.plot.ly/stylesheets/plotly_icons.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


pre, code, .hljs{
  background: $lb !important;
  font-size:1rem;
  line-height:1.5rem;

}