{% if page.industry == "Sales" %}

<h2>
    Dashboards for a new generation of sales teams
</h2>
<p>>
    Sales teams today communicate and monitor sales cycles on their mobile phones.
    They use suites of online tools to keep track of their leads and accounts.
    These sales dashboards show how easy it is to create dashboards in Plotly
    that combine data from disparate tools and help sales teams focus on the prize.
</p>
<ul>
    <li>Plotly works with tools that your data science team likes: R, Python, MATLAB, and Excel.</li>
    <li>Plotly dashboards are gorgeous. They look and present better than any other dashboard platform.</li>
    <li>Plotly dashboards work in a web browser or your phone. Never download or install anything.</li>
</ul>

{% elsif page.industry == "Marketing" %}

<h2>
    Dashboards for a new generation of marketers
</h2>
<p>
    Today’s data-driven marketing requires cutting-edge tools and automated reporting 
    to maximize the value you get from your analysis. Plotly dashboards are the only tools 
    that give you both the power to pull data from almost any source with or without code. 
    If you want to understand trends, track KPIs or measure the success of your campaigns – 
    our dashboard solution has you covered.
</p>

{% elsif page.industry == "Insurance" %}

<h2>
    Dashboards for a new generation of insurance analytics
</h2>
<p>
    Plotly is a passport for your data that gives your insurance agents, underwriters, and managers 
    the power to drill into code-level detail in just a few clicks. Our Workspace gives non-technical 
    users the power to build, upload, and design their own interactive visualizations.
</p>
<p>
    Track insurance metrics like customer satisfaction, claim ratios, broker performance with or 
    without code – it’s up to you. 
</p>
<p>
    Boston-based car insurance provider Goji saved over one hundred thousand dollars on BI infrastructure by 
    replacing their traditional data warehouse and monolithic, GUI-based data analysis software with Plotly On-Premise.
</p>

<blockquote>
    Thanks to Plotly dashboards, Goji updates its internal reporting in real-time from multiple sources: 
    their call centers, their CRM system and their website. Our dashboards give the Goji data science team
    the power to visualize and share web-based charts and graphs with colleagues. Plotly’s interactive dashboards 
    are smart, clear and easy for everyone in the office to follow. 
    <p></p>
</blockquote>

{% elsif page.industry == "Internet of Things" %}

<h2>
    Dashboards for a new generation of makers and hardware entrepreneurs
</h2>
<p>
    Plotly’s IoT dashboards have a wide range of applications in meteorology,
    chemistry, physics, manufacturing, healthcare, energy, and home automation. 
</p>
<p>
    Using popular platforms like Raspberry Pi and Arduino, Plotly gives data science 
    and research teams the ability to stream live data to dashboards either on Plotly cloud or 
    Plotly On-Premise. Transfer data without human-to-human or human-to-computer interaction.  
</p>

{% elsif page.industry == "Manufacturing SPC" %}

<h2>
    Dashboards for a new generation of manufacturing
</h2>
<p>
    Best-in-class manufacturing clients like Tesla and Siemens use Plotly’s interactive D3.js charts and dashboards 
    to optimize their production lines and improve their product performance. Our dashboards help them explore, monitor, 
    and analyze their manufacturing lines. 
</p>
<p>
    Customize your own manufacturing SPC dashboards to track metrics in real-time like:
</p>
<ul>
    <li>Backlogs, open orders</li>
    <li>Downtime and seasonal trends</li>
    <li>Equipment and labor utilization</li>
    <li>Inventory levels and turnover</li> 
    <li>On-time delivery/split shipment</li>
    <li>Production and output</li>
    <li>Quality control and product defects</li>
    <li>Product safety and defect analysis</li>
    <li>Year-to-date (YTD) sales, invoiced sales and sales vs. budget numbers</li>
    <li>Profit margins and vendor quality</li>
    <li>Capacity utilization, scheduling and flow time</li>
</ul>

{% elsif page.industry == "Energy" %}

<h2>
    Dashboards for a new generation of energy technology
</h2>

<p>
    Plotly provides best-in-class data visualization tools for oil and gas firms like C12 Energy, 
    energy software providers like Opower, and renewable energy companies like Ambri and Sighten. 
    Plotly graphs help them quickly and easily digest large quantities of data.
</p>

<p>
    C-12 Energy’s technology team built their real-time data acquisition, visualization and analysis 
    platform on Plotly’s data visualization and dashboard technology. Their platform uses a mix of 
    Python, Javascript and Plotly.js to capture and analyze large data sets:
</p>    

<blockquote>
    Plotly is what our users see before having their morning coffee. We assemble data from automated measurement 
    acquisition systems and submitted by operators in the field, and drop it onto Plotly graphs that are very 
    intuitive and easy to use. Engineers and operators use Plotly to flag and discuss production issues, and it 
    allows them to act on problems that would otherwise take days to be noticed.
    <p></p>
</blockquote>

{% elsif page.industry == "Weather" %}

<h2>
    Dashboards for a new generation of weather analytics
</h2>

<p>
    Geographic data is one of the most abundant forms of data available. With today’s prevalence of satellite data and cheap, 
    distributed sensors, dashboards that show geographic trends with high granularity across multiple dimensions
    are now the status-quo rather than the exception.
</p>   

<p>
    For global-scale interactive maps, Plotly provides unparalled geo graphics that have the feature breadth of Python's 
    Basemap library. With 16 geographic projections, vector rendering, and a streaming API, Plotly maps are used in mission 
    critical applications for call centers, satellite trajectories, product tracking, the social sciences, weather forecasting,
    and online journalism.
</p>   

{% endif %}
