// CSS for Algolia Serach
.search-header {
  font-weight: 400;
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.algolia__input {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  padding:.25rem .5rem;
  border-color: #2391fe;
  width: 250px;
  border-radius: 4px;
}

/* Search results container */
.algolia__initial-content {
  display:block;
}
.algolia__initial-content--hidden {
  display:none;
}
.algolia__search-content {
  display:none;
}
.algolia__search-content--active {
  display:block;
}

/* Search results */
.algolia__result {
  margin-bottom: 1rem;
}
.algolia__result-link {
  font-size: 1.2rem;
  font-weight:bold;
}
.algolia__result-text {
  font-size: 0.9rem;
}
.algolia__result-link .algolia__result-highlight {
  background-color:#D3E8F6;
  background-color: rgba(38,139,210,0.2);
}
.algolia__result-text .algolia__result-highlight {
  font-weight:bold;
}
