//base
html {
  font-size: 14.5px;
  font-family: $font;
  font-weight: 400;
}

body:not(:-moz-handler-blocked) {
  main.\--page {
    .\--page-body {
      //width: calc(100% - 220px);
      //padding-left:220px !important;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  p {
    line-height: 1.85;
    font-weight: 400 !important;
    a {
      font-weight: 400 !important;
      color: $blue !important;
      &:hover {
        color: $bblue !important;
      }
    }
    * {
      font-weight: 400 !important;

    }
  }
  main.\--page {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    & > .\--wrap {
      //flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .\--page-body {
      width: calc(100% - 220px);
      @include handheld {
        width: 100%;
        overflow-x: hidden !important;
      }
    }
    &.\--tutorial-index {
      margin-top: 0;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 100%;
  color: #333333;
  font-size: 1.2rem;
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  th, tr, td {
    font-family: 'Droid Sans Mono', monospace;
    font-weight: 200;
  }
  th {
    font-weight: bold;
  }
  tr:nth-child(even) {
      background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
}

a:link, a:visited, a:active {
  color: currentColor;

}

a {
  &:link:not(.button) {
    //display: inline-block;
    position: relative;
    opacity: 0.95;
    color: currentColor;
    text-decoration: none;
    font-weight: 400;

    &::before {
      //width: 100%;
      //content: '';
      //position: absolute;
      //z-index: -5;
      //top: 100%;
      //background: currentColor;
      ////opacity:1;
      //height: 1px;
      //left: 0;
      //transform: scale(0, 1);
      //opacity: 0.5;
      //transition: 0.1s all ease-in-out;
      //transform-origin: 0;

      //display: none !important;
    }
  }
  &:active {

  }
  &:visited {

  }
  &:hover {
    opacity: 1 !important;
    text-decoration: underline !important;
    color: $blue !important;
    &::before {
      //transform: scale(1, 1) !important;
    }
  }
}

h6 {
  //color: $blue;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  margin: 0;
  padding-bottom: $unit*1.5;
  margin-bottom: $unit*1.5;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: $unit*4;
    height: 3px;
    background: darken(rgb(244, 244, 248), 6%);
  }

}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: -38px;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;

}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 48px;
  display: none;
  left: 50%;
  margin-left: -5px;
  margin-top: -7px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: rotate(180deg);
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
  @extend .tooltip-fi;
}

pre {
  position: relative;
}

span.copyCode {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  div.icon {
    transform: scale(0.75);
    opacity: 0.3;
    margin-top: 2px;
  }
  padding: $unit;
  border-bottom: $border;
  border-left: $border;
  //font-family:$op;
  background: darken($lb, 5%);
  position: absolute;
  font-family: "Open Sans", sans-serif !important;
  &.zeroclipboard-is-hover {
    background: white;
    cursor: pointer;
  }
}

*:focus {
  outline: 0 !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    //margin-top:$unit;
  }

  to {
    opacity: 1;
    //transform: none;
  }
}

.fiu {
  animation: fadeInUp 0.5s forwards ease-in-out;
  opacity: 1 !important;
}

.tooltip-fi {
  animation: fadeInUp 0.18s forwards ease-in-out;
  opacity: 1 !important;
}

.fiud {
  //animation: fadeInUp 0.5s forwards ease-in-out;
  opacity: 1 !important;
}

main {
  //@extend .fiu;
  //opacity: 0;

}

.mobile-menu-btn {

  @include desktop {
    display: none;
  }
  position: relative;
  z-index: 99;
  /* btn */
  .menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 25px;
  }
  .menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;
    transition: background 0.2s ease-in-out;
  }
  .menu span:before, .menu span:after {
    position: absolute;
    content: '';
  }
  .menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: $grey;
    display: block;
  }
  .menu span:before {
    margin-top: -12px;
    transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  }
  .menu span:after {
    margin-top: 12px;
    transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;

  }
  /* --- btn --- */

}

&.mobile-menu {
  .menu span {
    background-color: rgba(0, 0, 0, 0.0);
    transition: background 0.2s ease-in-out 0s;
  }
  .menu span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition: margin 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0.2s;
  }
  .menu span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: margin 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0.2s;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body.no-scroll {
  overflow: hidden !important;
}

pre {
  word-break: break-all;
  background-color: rgb(244, 244, 248);
  margin: $unit 0;
  border: $border;
  width: 100%;
  max-width: 100%;
  overflow: auto;

  code {
    display: block;
    font-size: 0.85rem;
    width: 100%;
    background-color: rgb(244, 244, 248);
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
}

// getting started
section.section {
  h2 {
    //font-weight:300;
    @extend h1;
  }
}

// 404

.page404 {
  margin: 0 auto;
  text-align: center;
  min-width: 260px;
  color: #333;
  padding: 50px;
}

.page404-heading {
  color: #447ADB;
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
}

.page404-bars {
  background-color: #447ADB;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 75px;
  margin: 0 6px 10px 6px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: bottom;
  width: 75px;
}

.page404-bars svg {
  margin-bottom: 30px;
}

.page404-txt {
  font-weight: 300;
  font-size: 16px;
  br {
    display: none;
  }
  h3 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
    a {
      font-size: 1rem;
      background: $blue;
      color: white !important;
&:hover{
  cursor: pointer;
}
      padding: $unit*2;
    }
  }
}

.page404-cta {
  padding: 24px 0;

}

.page404-cta p {
  margin: 0;
  line-height: 24px;
  line-height: 1.5rem;
}

.\--sidebar-fixed::-webkit-scrollbar {
  width: 2px;
  height: 1px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.\--sidebar-fixed::-webkit-scrollbar-thumb {
  background: rgba($blue, 0.8);
  border-radius: 0;
  width: 3px;
}

h2 {
  code {
    font-size: inherit !important;
    background: transparent !important;
  }
}

section.\--page-body.\--full-width {
  max-width: 100%;
}

.not-found {
  .\--wrap {
    &::before {
      display: none;
    }
  }
}
