//base
html {
  font-size: 12px;
  font-family: $font;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  p, table, tr, th, td {
    line-height: 1.8;
    font-weight: 400 !important;
    a{
      font-weight:400 !important;
      color: $blue !important;
      &:hover{
        color: $bblue !important;
      }
    }
    * {
      font-weight: 400 !important;

    }
  }
  main.\--page {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    & > .\--wrap {
      //flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .\--page-body {
      width: calc(100% - 220px);
    }
    &.\--tutorial-index {
      margin-top: 0;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link, a:visited, a:active {
  color: currentColor;

}

a {
  &:link:not(.button) {
    //display: inline-block;
    position: relative;
    opacity: 0.8;
    color: currentColor;
    text-decoration: none;
    font-weight: 400;

    &::before {
      //width: 100%;
      //content: '';
      //position: absolute;
      //z-index: -5;
      //top: 100%;
      //background: currentColor;
      ////opacity:1;
      //height: 1px;
      //left: 0;
      //transform: scale(0, 1);
      //opacity: 0.5;
      //transition: 0.1s all ease-in-out;
      //transform-origin: 0;

      //display: none !important;
    }
  }
  &:active {

  }
  &:visited {

  }
  &:hover {
    opacity: 1 !important;
    text-decoration: underline !important;
    color: $blue !important;
    &::before {
      //transform: scale(1, 1) !important;
    }
  }
}

h6 {
  color: $blue;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  margin: 0;
  padding-bottom: $unit*1.5;
  margin-bottom: $unit*1.5;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: $unit*4;
    height: 3px;
    background: darken(rgb(244, 244, 248), 6%);
  }

}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: -111%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;

}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 111%;
  left: 50%;
  margin-left: -5px;
  margin-top: -7px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transform: rotate(180deg);
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

*:focus {
  outline: 0 !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    //margin-top:$unit;
  }

  to {
    opacity: 1;
    //transform: none;
  }
}

.fiu {
  //animation: fadeInUp 0.5s forwards ease-in-out;
  opacity:1 !important;
}

.fiud {
  //animation: fadeInUp 0.5s forwards ease-in-out;
  opacity:1 !important;
}

main {
  //@extend .fiu;
  //opacity: 0;

}

//-------------------
// Mobile Specific Styles

//-------------------

$tablet: 585px;
$desktop: 1024px;
$bigaf: 1315px;
@mixin handheld {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin handheld-up {
  @media (min-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin bigaf {
  @media (min-width: #{$bigaf}) {
    @content;
  }
}

.mobile-menu-btn {

  @include desktop {
    display: none;
  }
  position: relative;
  z-index: 99;
  /* btn */
  .menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 25px;
  }
  .menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;
    transition: background 0.2s ease-in-out;
  }
  .menu span:before, .menu span:after {
    position: absolute;
    content: '';
  }
  .menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: $grey;
    display: block;
  }
  .menu span:before {
    margin-top: -12px;
    transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  }
  .menu span:after {
    margin-top: 12px;
    transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;

  }
  /* --- btn --- */

}

&.mobile-menu {
  .menu span {
    background-color: rgba(0, 0, 0, 0.0);
    transition: background 0.2s ease-in-out 0s;
  }
  .menu span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition: margin 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0.2s;
  }
  .menu span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: margin 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0.2s;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body.no-scroll {
  overflow: hidden !important;
}

pre {
  word-break: break-all;
  background-color: rgb(244, 244, 248);
  margin: $unit 0;
  border: $border;
  width:100%;
  max-width:100%;
  overflow: auto;

  code {
    display: block;
    font-size: 0.85rem;
    width: 100%;
    background-color: rgb(244, 244, 248);
    padding: $unit*2 !important;
    width:100%;
    max-width:100%;
    overflow: auto;
  }
}

// getting started
section.section {
  h2{
    //font-weight:300;
  @extend h1;
  }
}
