//footer

.\--footer-main {
  position: relative;
  z-index: 100;
  background-color: #fff;
  border-top: $border;
  font-size: 1rem;
  flex-direction: column;
  flex: 0;

  .\--footer-top {
    padding: $unit * 2;
    flex: 0 0;
  }
  ul.\--footer-body {
    flex: 0 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: $unit;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  .\--footer-column {
    flex: 1 1 20%;
    padding: $unit;
    min-width: 125px;

    .social-icons-wrapper {
      .social-icons {
        a {
          height: 40px;
        }
      }
    }

    @include tablet {
      flex: 1 1 33.3333%;
      max-width: 33.3333%;
    }
    @include handheld {
      flex: 1 1 50%;
    }
  }
  ul {
    list-style-type: none;
    a {
      color: $grey;
      display: inline-block;
      p {
        padding: 0;
        margin: 0;
      }
      margin: 2px 0;
    }
    ul.plotly-social-media-small {
      display: flex;
      flex-wrap: wrap;
      li {
        padding-right: $unit;
        i {
          opacity: 0.8;
          margin-right: 2px;
        }
        span {
          display: inline-block;
          padding: 0 $unit/2;
        }
      }
    }
  }
}

.\--wrap {
  max-width: $mw;
  margin: 0 auto;
  width: 100%;
}

.plotly-social-media-small {
  li {
    &:hover {
      a {
        div.icon {
          opacity: 1;
          svg path {
            fill: $blue !important;
          }
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      div.icon {
        transform: scale(0.7);
        opacity: 0.8;
      }

      span {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}

.\--footer-meta {
  padding: $unit * 2;
  flex: 0 0;
  border-top: $border;
  font-size: 0.85rem;
  font-weight: 400;
  width: 100%;
  .\--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
  }
  background: rgb(244, 244, 248);
  width: 100%;
  .right {
    display: flex;
    a {
      font-weight: 400;
      display: inline-block;
      margin-left: $unit * 2;
    }
  }
}

.subscribe-text {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  font-size: 80%;
  color: #626262;
}

.subscribe-button {
  text-decoration: none;
  padding: 5px;
  background-color: #119dff;
  color: white !important;
  border-radius: 5px;
  margin-top: 11px !important;
  font-size: 13px;
}

.subscribe-button:hover {
  text-decoration: none !important;
  color: white !important;
}

.subscribe-button:focus {
  text-decoration: none;
}
