//header
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.header-large--wrap {
  position: relative;
  display: flex;
  align-items: stretch;
  color: rgb(244, 244, 248);
  p a {
    color: rgb(244, 244, 248) !important;
  }
  .header--blue-bg {
    background-image: linear-gradient(0deg, rgba(29, 156, 252, .9) -10%, rgba(30, 66, 125, 1) 100%);
    width: 100%;
    height: 100%;

    .\--image {
      background-image: url('https://images.plot.ly/excel/plotlyjs/plotlyjs-banner-background.png');
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
      background-position: center top;
      width: 100%;
      //height: 350px;
      height: 100%;
      position: absolute;
      z-index: 1;
      opacity: 0.5;
      mix-blend-mode: multiply;
    }
    .header--meta-content {
      display: flex;
      position: relative;
      z-index: 2;
      font-size: 2.3rem;
      color: white;
      max-width: $max-width;
      margin: 0 auto;
      width: 80%;
      margin-top: 80px;
      padding: $unit*3;
      flex-wrap: wrap;
      justify-content: center;
      p {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
        width: 100%;
      }
      .github-star {
        width: 100%;
        margin-top: $unit*2;
        display: flex;
        justify-content: center;
        padding: $unit 0;
      }
      .banner{
        display: block;
        text-align: center;
        font-size: 1.4rem;
        border: solid;
        border-radius: 8px;
        border-width: .1em;
        padding: 30px;
        padding-top: 20px;
        opacity: .98;
        text-decoration: none;
      }
      .banner-button{
        border: solid;
        border-radius: 6px;
        padding: 7px;
        background-color: rgb(229, 105, 227);
        border-color: rgb(229, 105, 227);
        text-decoration: none;
      }
    }
    //position: absolute;
  }
}

.header-large--wrap + header.header-main.\--default {
  //display: none !important;
  color: white !important;
  background: transparent;
  border-bottom: 0;
  .\-identity {
    color: white !important;
  }
  &.mobile-menu {
    .mobile-menu-btn {
      span {
        background: transparent;
        transition: background 0.2s ease-in-out 0s;

        &::before, &::after {
          background: $grey;
        }
      }
    }
  }
  .mobile-menu-btn {
    span {
      background: white;
      transition: background 0.2s ease-in-out 0s;

      &::before, &::after {
        background: white;
      }
    }
  }
  &.affix {
    .mobile-menu-btn {
      span {
        background: $grey;
        transition: background 0.2s ease-in-out 0s;
        &::before, &::after {
          background: $grey;
        }
      }
    }
    @extend .\--default;
    border-bottom: $border;
    .\-identity {
      color: $blue !important;
    }
  }
  a {
    &:link, &:visited, &:active {
      color: currentColor !important;
    }

  }

}

header {
  .\-identity {
    color: $blue;
  }

  &.header-main {
    //display: none !important;
    transition: 0.2s ease-in-out all;
    position: fixed;
    top: 0;
    z-index: 9999;
    border-bottom: $border;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $unit*2;
    height: 80px;
    &.mobile-menu {
      .\--wrap .\--nav-mobile {
        display: flex;
        opacity: 0;
        @extend .fiud;
        color: $grey !important;
        a {
          color: $grey !important;
        }
        li:not(.tablet) {
          @include tablet {
            display: none !important;

          }
          @include handheld {
            display: flex !important;
          }
        }

      }
    }
    * {
      text-decoration: none !important;
      //display: none;
      //font-size: 14px !important;

    }
    &.\--white {
      color: white !important;
      border-bottom: 0;
      a {
        &:link, &:visited, &:active {
          color: currentColor !important;
          text-decoration: none !important;
        }

      }
    }

    &.\--default {
      color: $grey !important;
      a:not(.button) {
        &:link, &:visited, &:active {
          color: currentColor !important;
        }

      }
      background-color: #00004f;

    }
    .\--wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
      font-weight: 300;
      .\--wrap-left {
        display: flex;
        align-items: center;
      }
      .\-identity {
        &::before {
          display: none !important;
        }
        a.logo {
          max-width: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          svg {
            max-width: 60px;
            width: 60px;
          }
        }

        h1 {
          display: inline;
          font-weight: 300;
          padding: $unit;
          font-size: 1.5rem;
          //font-size:16px;
        }
        //min-width: 125px;
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        div.logo {
          //display: inline;
          max-width: 50px;
          flex: 0 0 80px;
          margin: 0;
          padding: 0;
          //height:100%;
          svg {
            max-width: 100%;
            rect {
              fill: currentColor;
            }
          }
        }
      }
      //nav styles
      nav {
        font-size: 1.1rem;
        ul {
          list-style-type: none;
          display: flex;
          margin: 0;
          padding: 0;
          li {
            padding: $unit/2;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
        &.\--item {
          color: currentColor;
        }
      }
      .\--nav-mobile {
        @include desktop {
          display: none;
        }
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 100vh;
        //display: flex;
        align-items: stretch;
        justify-content: center;
        z-index: 2;
        ul {
          display: flex;
          flex-wrap: wrap;

          width: 100%;

          li {
            min-width: 100%;
            padding: $unit*2;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend .fiud;
            a {
              width: 100%;
              align-self: stretch;
              display: flex;
              align-items: center;
              justify-content: center;
              text-transform: uppercase;
              //font-weight:bold !important;
              letter-spacing: 2px;
              font-size: 1rem !important;
              &::before {
                display: none !important;
              }
            }
            &:hover {
              background: rgb(244, 244, 248);
            }
          }
        }
      }
      .\--nav-site {
        ul {
          li {
            padding: $unit;
            display: flex;
            .\--item {
              display: flex;
              position: relative;
              .icon {
                position: absolute;
                top: 0;
                right: -$unit*2;
                margin-top: -3px;
                margin-left: -3px;
                transform: scale(0.75);
                svg {
                  path {
                    fill: currentColor;
                  }
                }
              }
            }
            a {
              display: flex;
            }
          }
        }
      }
      .\--nav-meta {
        @include tablet {
          display: none !important;
        }
      }
      .\--nav-site {
        @include handheld {
          display: none !important;
        }
      }
      .button {
        display: inline-block;
        padding: $unit/2 $unit;
        position: relative;
        font-size: 12px !important;
        letter-spacing: 0.5px;
        font-weight: 600;
        opacity: 1;
        background-color: #119dff;
        border-radius: 4px;
        color: white;
        &::before {
        }

        &:hover {
          text-decoration: none;
          color: white !important;
          opacity: 1;
          &::before {
            border-color: currentColor !important;
            opacity: 1;
          }
        }

      }

      .\-hamburger-btn {
        display: none;
      }
    }
  }
}
