.\--help-box {
  background: #000749;
  padding: $unit * 4 $unit * 2;
  flex: auto;
  width: 100%;
  position: relative;
  z-index: 99;
  min-width: 100%;
  .\--wrap {
    //display: flex;
    //flex-direction: column;
    text-align: center;
    .\--title {
      color: white;
      font-size: 2rem;
    }
    ul {
      display: flex;
      color: white;
      width: 100%;
      justify-content: center;
      //ta
      //border-bottom:$border;
      //padding:$unit*2 0;
      @include handheld {
        flex-wrap: wrap;
        li {
          flex: 1 1 100%;
          text-align: center;
          a {
            justify-content: center;
            align-items: center;
            border-right: 0;
            flex-direction: column;
            margin-top: $unit;
            border-bottom: 1px solid lighten($blue, 12%);
            padding: $unit * 2;
          }
        }
      }
      padding-bottom: $unit * 2;
      li {
        &:nth-of-type(1) {
          a::before {
            transform-origin: right;
          }
        }
        &:nth-of-type(2) {
          a::before {
            transform-origin: 50% !important;
          }
        }

        div.icon {
          margin-right: $unit/2;
          margin-top: -3px;
          svg {
            path {
              //fill: lighten($blue, 25%);
              fill: currentColor;
            }
          }
        }
        &:last-of-type {
          a {
            border-right: 0;
          }
        }
        span {
          display: inline-block;
          padding-right: $unit;
          display: none;
        }
      }
      a {
        padding: $unit/2 $unit;
        padding-top: $unit * 1.2;
        border-right: 1px solid lighten($blue, 12%);

        //margin:$unit/2;
        display: flex;
        &:hover {
          background: darken($blue, 5%);
        }

        color: white;
        &:hover {
          color: white !important;
          opacity: 1 !important;
        }
      }
    }
    h5 {
      font-weight: bold;
      color: lighten($bblue, 25%);
      opacity: 0.8;
      font-size: 1.5rem;
      padding-bottom: $unit * 2;
      margin-bottom: $unit * 2;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: $unit * 4;
        background: lighten($blue, 8%);
        height: 6px;
        left: 50%;
        margin-left: -$unit * 2;
        top: 100%;
      }
    }
    color: lighten($blue, 25%);
    .\--cta {
      background: darken($blue, 5%);
      padding: $unit;
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      max-width: 300px;
      p {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: underline;
        color: #ffffff !important;
      }
    }
  }
}
