// Sidebar

// Sidebar
.\--page.\--index {
  .\--wrap {
    position: relative;
    &::before {
      content: '';
      height: 100%;
      width: 50vw;
      left: 0;
      margin-left: -25vw;
      top: 0;
      position: absolute;
      background: rgb(244, 244, 248);
      z-index: -1;
    }
  }
}

.\--page-body {
  background: white;
}

aside {

  &.\--sidebar-container {
    transition: all 0.2s ease-in-out;
    @include handheld {
      background: white !important;
      margin-left: -220px;
      position: static;
      z-index: 999;
      min-height: 100vh;
      &.show {
        margin-left: 0;
      }
    }
    width: 220px;
    min-width: 220px;
    border-right: $border;
    //border-left:$border;
    background: rgb(244, 244, 248);
    //padding: 0$unit*2;
    header.\--sidebar-header {
      padding: $unit*1.5 $unit;
      background: darken(rgb(244, 244, 248), 4%);
      border-bottom: $border;
      font-weight: 600;
      border-left: $border;
      color: rgba(black, 0.7);
      font-weight: bold;
      &:not(:first-of-type) {
        border-top: $border;
      }
      //color: white;

    }

    .\--sidebar-fixed {
      width: 219px;
      z-index: 99;
      max-height: calc(100vh - 128px);
      overflow-y: auto;
      overflow-x: hidden;
      &.affix {
        top: calc(80px + 48px) !important;
        z-index: 1;
        position: fixed !important;
      }
      &.affix-top {
        position: absolute;
        top: 0;
      }
      & > *:last-child {
        margin-bottom: $unit*8;
      }
    }
    .\--sidebar-body {
      overflow-y: auto;
      * {
        &::before {
          display: none !important;
        }
      }
      a {
        &:hover {
          color: currentColor;
        }
      }

      ul {
        li {
          //border-bottom:$border;

          font-size: 1.2rem;
          &.\--category-title {
            background: rgb(244, 244, 248);
            font-weight: 400;
            //pad
            //padding:$unit*2 $unit;
            &:hover {
              pointer-events: none;
            }
          }
          a {
            padding: $unit $unit;
            display: inline-block;
            width: 100%;
            text-decoration: none;
            font-size: 1rem;
            &::before {
              display: none !important;
            }
          }
          &.\--sidebar-item:hover {
            background: lighten(rgb(244, 244, 248), 5%);
          }
        }
      }
    }
    .\--btn {
      background: transparent;
      border: $border;
      width: calc(100%);
      position: relative;
      padding: $unit;
      //margin-top:$unit*2;
      //margin-left:$unit*2;
      background: lighten($bblue, 40%);
      background: lighten(rgb(244, 244, 248), 2%);

      //border-bottom:$border;
      //border-left:$border;
      //border-top:$border;
      border-right: 0;

      color: $grey;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      &:hover {
        background: lighten($bblue, 100%);
        div.icon svg path {
          fill: $bblue;
        }
      }
      margin-top: $unit;
      &:not(:last-of-type) {
      }
      .icon {
        margin-left: $unit;
        //position: absolute;
        margin-right: $unit/2;
        //display: none;
        margin-bottom: -5px;
        svg {
          path {
            fill: darken(rgb(244, 244, 248), 20%)

          }
        }
      }
    }
  }
}

.sidebar {
  background: white;
  h1 {
    background: darken(white, 2%);
    width: 100%;
    //border-bottom: 1px solid lighten($blue, 8%);
    border-bottom: $border;
    margin: 0;
    padding: $unit;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.75rem;
    letter-spacing: 1px;
    color: $blue;
  }
  width: 220px;
  max-width: 220px;
  min-height: 100vh;
  border-right: $border;
  position: fixed;
  //left: 0;
  top: 140px;
  ul {

    &.sidebar-list.reference {
      .back {
        // position: fixed;
        // z-index: 99999999999;
        // bottom:0;
      }
      overflow-y: auto;

      // max-height: none;
      padding-bottom: $unit*20;
      ul {
        li {

          //background: lighten($blue, 10%);
          border-bottom: 1px solid $slg;
          padding-left: $unit*2;
          &:hover {
            background: lighten($blue, 15%);
          }
        }
        ul {
          li {
            background: lighten($blue, 15%);
            padding-left: $unit*4;
            border-bottom: 1px solid $blue;
            &:hover {
              background: lighten($blue, 20%);
            }
          }
        }
      }
    }
    width: 100%;
    max-height: calc(100vh - 189px);
    min-height: calc(100vh - 189px);

    // overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    //display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    .back {
      border: 1px solid lighten($slg, 0%);
      padding: $unit;
      margin: $unit;
      color: lighten($blue, 25%);
      position: relative;
      padding-left: $unit*4;
      width: 184px;
      &:hover {
        cursor: pointer;
        color: darken($blue, 25%);
        .back-icon path {
          fill: darken($blue, 25%);
        }
      }
      .back-icon {
        position: absolute;
        left: $unit;
        path {
          fill: lighten($blue, 8%);
        }
      }
    }
    overflow-y: auto;
    div.back {
      margin-bottom: $unit*25.5;
    }
    li {
      border-right: 5px solid lighten($slg, 100%);
      color: $grey;
      //padding: $unit;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid lighten($slg, 2%);
      transition: all 0.2s ease-in-out;
      position: relative;
      padding: 4px $unit;
      font-size: 12px;
      //display: flex;
      //align-items:center;
      &.category-title {
        padding: 6px $unit;
        background: rgb(244, 244, 248);
        border-right-color: rgb(244, 244, 248);
        font-weight: 600;
        pointer-events: none;
      }

      span {
        position: absolute;
        //top: 80%;
        margin-top: -12px;
        bottom: $unit*2;
        opacity: 0;
        left: $unit*2;
        transition: all 0.2s ease-in-out;
        font-weight: 600;
        font-size: 1rem;
        //color: $blue;
        display: inline-block;
        padding: $unit/2 $unit;
        color: white;
        background-color: $blue;
        max-width: 80%;

      }
      img {
        transition: all 0.2s ease-in-out;
      }

      a {
        color: inherit !important;
      }
      &:last-of-type {

        // margin-bottom: 9999px;
      }
      &:hover {
        background: lighten($slg, 3%);
        border-color: $blue;
        cursor: pointer;
        border-bottom: 1px solid lighten($slg, 2%);

        img {
          opacity: 0.2;
        }
        span {
          opacity: 1;
          margin-top: -6px;
        }

      }
      &.main-links {
        background: lighten($blue, 8%);
        width: 50%;
        border-bottom: 1px solid $blue;

        // float: left;
        // font-weight: bold;
      }
      &.label {
        font-weight: bold;
        background: darken($blue, 8%);
        border-left: 5px solid darken($blue, 8%);
        border-bottom: 1px solid $blue;
      }
    }
  }
  & + main {
    width: calc(100% - 220px);
    //flex: 1 1 auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px;
    div.meta-header {
      width: 100%;
    }
    &.tutorials {
      float: right;
      display: flex;
      //justify-content: center;
      article {

        padding: 0 $unit*2;
        max-width: 1120px;
        width: 100%;
        padding-bottom: $unit*2;
        font-size: 1rem;
        color: $grey;
        p {
          font-size: 1rem;

        }
        header {
          h1 {
            border-bottom: 0;
            width: 100%;
            //font-size: 1rem;
            //border-right:$border;
            padding-right: $unit*2;
          }
        }
        //dash
        video {
          max-width: 1120px;
        }
        ul.toc {
          list-style-type: none;
          display: flex;
          //flex-direction:column;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          //border:$border;
          border-right: $border;
          background-color: rgb(244, 244, 248);
          border-bottom: $border;
          margin-top: $unit*2;
          li {
            //padding:$unit;
            border-top: $border;
            border-left: $border;
            flex: 1 1 50%;
            max-width: 50%;
            background: white;
            //background-color:rgb(244, 244, 248);
            margin: 0;
            &:last-of-type {
              border-right: $border;
            }
            &:nth-last-of-type(2) {
              border-bottom: $border;
            }
            position: relative;
            padding-left: $unit*4;
            &::before {
              content: '';
              display: block;
              $size: 18px;
              height: $size;
              width: $size;
              //opacity:0.1;
              transform: scale(0.6);
              top: 50%;
              margin-top: $size*-0.5;
              left: $unit*2;
              position: absolute;
              //background: no-repeat url('/images/frontend/help-circle.svg');
              //background-size: contain;
              //background: $slg;
              border-radius: 50%;
              border: $border;
              border-color: $bblue;

              transition: all 0.2s ease-in-out;
            }

            &:hover {
              &::before {
                //opacity:1;
                background: $bblue;
                transform: scale(0.9);
                border-color: $bblue;
              }
              a {
                color: $bblue !important;
              }
              background-color: rgb(244, 244, 248);
            }
            a {
              display: block;
              width: 100%;
              padding: $unit*2 $unit*2;
            }
          }
        }
        h1 {
          font-size: 2.5rem;
          margin: 0;
          border-bottom: $border;
          padding-bottom: $unit*2;
        }
        img {
          margin: $unit*2 0;
          box-shadow: $shadow;
        }
        h2, h5 {
          text-align: left;
          font-size: 1.5rem;
          letter-spacing: 0.5px;
          margin: 0;
          padding: $unit;
          //padding-left: $unit*2;

          // padding-bottom: $unit;
          //border-left: 5px solid $blue;
          border-bottom: $border;
          color: $grey;
          font-weight: 100;
          margin: $unit*2 0;
        }
        p {
          padding-left: $unit*4;

          img {
            margin: $unit;
          }
        }
        h3 {

          padding: $unit*3;
          color: $grey;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.4rem;
          border: $border;
          //text-align: center;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          &:hover {
            background-color: lighten($slg, 3%);
          }
          a {
            font-weight: 100;
            //width: 100%;
            //flex: 1 1 70%;
            margin-left: $unit;
            display: block;
            //padding-top:$unit/2;
          }
        }
      }
      // display:flex;
      .tutorial-single-wrap {
        width: 100%;
        section {
          width: 100%;
        }
        section {
          h3,
          td,
          div,
          p {
            padding: $unit*2;

          }
          p {
            max-width: 1120px;
            border-top: $border;
            //border-left:5px solid $slg;
            //margin-left:$unit*2;
          }
          h3 {
            //border-bottom: $border;
            //border-top: $border;
            margin: 0;
            max-width: 1120px;
          }
          table {
            //background: $slg;
            border-bottom: $border;
            &:first-of-type {
              border-top: $border;
            }
            width: 100%;
            max-width: 1120px;
            tr {
              display: flex;
              flex-wrap: wrap;
              //td ~ td {
              //  flex: 1 1 100%;
              //  max-width:100%;
              //}
              td {
                //flex: 1 1 50%;
                //max-width: 50%;
                //border-right: $border;
                img {
                  border: $border;
                  max-width: 100%;
                }
                //display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                strong {
                  display: inline;
                }
              }
            }
            &:not(:first-of-type) {
              border-top: $border;
            }
          }
        }
      }
      header {
        font-size: 2rem;
        letter-spacing: normal;
        margin: 0;
        margin-bottom: $unit*2;
        padding: $unit*2;
        color: $blue;
        border-bottom: $border;
        //border-top: $border;
        width: 100%;
        background: rgb(244, 244, 248);
        display: flex;
        flex-wrap: wrap;
        h1 {
          margin: $unit*2 0;
          font-size: 3.25rem;
          padding: 0;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          .category-img {
            //position: absolute;
            margin-right: $unit*2;
            $imgsize: 85px;
            height: $imgsize;
            width: $imgsize;
            min-height: $imgsize;
            min-width: $imgsize;
            //top: $imgsize*-0.5;
            //left: 50%;
            //margin-left: $imgsize*-0.5;
            @include flex-center;
            //margin-right: $unit*2;
            background-color: white;
            border: $border;
            border-radius: 50%;
            padding: $unit;
            transition: 0.2s all ease-in-out;
            //transform: scale(0.8);
            img, svg {
              width: 85%;
              max-width: 85%;
              max-height: 90px;
            }
          }
          &:hover {
            .category-img {
              //border-color: $bblue;
            }
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.85rem;
          max-width: 1120px;
          width: 80%;
        }
      }
      .wrap {
        padding-left: $unit*2;
        flex-wrap: wrap;
        h1,
        section {
          width: 100%;
        }
        section {
          .row {
            a {
              display: inline-block;
              &.tutorialsect_title {
                width: 100%;
                padding: 0;
                margin: 0;
              }
            }
          }
          h2, h4 {
            text-align: left;
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            margin: 0;
            padding: $unit;
            padding-left: $unit*2;

            // padding-bottom: $unit;
            //border-left: 5px solid $blue;
            border-bottom: $border;
            color: $grey;
            font-weight: 100;
          }
          hr {
            margin: $unit 0;
            display: none;
          }
          ul {
            padding-left: $unit*2;
            padding-top: $unit*2;
            //border-left: 5px solid $slg;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
              position: relative;

              background: white;
              //flex: 1 1 48.5%;
              //max-width: 48.5%;
              width: 160px;
              height: 160px;
              //border: $border;
              margin: 0;
              padding: 0;
              //margin-bottom: $unit;
              //margin-right: $unit;
              &:last-of-type {
                align-self: flex-start;
              }
              * {
                background: transparent;
              }
              h5 {
                letter-spacing: normal;
                margin: 0;
                padding-right: $unit*2;

                // font-weight: 400;
                color: $blue;

                // border-left: $border;
              }
              &:hover {
                img {
                  opacity: 0.08;

                }
                .alltutcol .titlecenter {
                  opacity: 1;

                  transform: translateY(10px);
                }
              }

              // display:flex;
              .alltutcol {
                background: transparent;
                //display: flex;
                //height: auto;
                position: relative;
                width: 100%;
                width: 160px;
                &:hover {
                  opacity: 1;
                }

                //max-height: 100px;
                height: 160px;
                justify-content: flex-start;
                margin: 0;
                .titlecenter {
                  position: absolute;
                  margin: 0;
                  padding: 0;
                  padding-left: $unit*2;
                  text-align: left !important;
                  background: transparent;
                  //border-left: $border;
                  opacity: 0;
                  color: $blue;
                  -webkit-transform: translateY(-5px);
                  -moz-transform: translateY(-5px);
                  -ms-transform: translateY(-5px);
                  -o-transform: translateY(-5px);
                  transform: translateY(-5px);
                  transition: 0.2s ease-in-out all;
                  .centered {
                    text-align: left;
                    //color: white;
                    font-weight: 400;
                  }
                }
              }
              img {
                position: absolute;
                //width: 100%;
                min-width: 100%;
                width: 160px;
                height: 160px;
                z-index: 9;
                transition: 0.2s ease-in-out all;
              }

            }
          }
        }
      }
    }

    // align-self:
  }
}

.ais-refinement-list--header.ais-header {
  //@extend --sidebar-header !important;
  padding: $unit*1.5 $unit;
  h5 {
    margin: 0;
    padding: 0;
  }
  //background: darken(rgb(244, 244, 248), 0%);
  //border-bottom:$border;
  font-weight: 600;
  color: rgba(black, 0.7);
}

.lang-nav {
  &--list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: $unit*2;
    @include handheld {
      max-width: 100%;
      flex-wrap: wrap;

    }

  }
  &--item {
    display: flex;
    align-items: stretch;
    margin-right: $unit;
    margin-bottom:$unit;

    @include handheld {

      margin-bottom: $unit !important;

    }

    a {
      background: white;
      padding: $unit;
      border: $border;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgb(244, 244, 248);
      }
      &:before {
        position: absolute;
        top: 100%;
        height: 2px;
        background: $bblue;
        width: 100%;
        left: 0;
        z-index: 99;
      }
      &.current {
        background: $lb;
        &:hover {
          //pointer-events: none;
        }
        &:before {
          position: absolute;
          top: 100%;
          height: 2px;
          background: $bblue;
          width: 100%;
          left: 0;
          z-index: 99;
          transform: none;
        }
        position: relative;
      }
    }
    img {
      max-width: 24px;
      margin-right: $unit/2;
    }
  }
}

pre {
  word-break: break-all;
  background-color: rgb(244, 244, 248);
  margin: $unit 0;
  border: $border;
  //padding: $unit*3;
  code {
    font-size: 0.85rem;
    width: 100%;
    background-color: rgb(244, 244, 248);
    padding: $unit*3;

  }
}

ul {
  &.\--ref {
    display: flex !important;
    flex-wrap: wrap;
    li {
      flex: 1 1 100% !important;
      display: flex;
      align-items: center;
      &.\--sub-head {
        border-top: $border;
        border-bottom: $border;
        background: lighten($lb, 3%);
        flex: 1 1 100% !important;
      }
    }
  }
}

.--icon-notebook {
  width: 56px;
}
