@charset "UTF-8";

@font-face {
  font-family: "unified";
  src:url("fonts/unified.eot");
  src:url("fonts/unified.eot?#iefix") format("embedded-opentype"),
    url("fonts/unified.woff") format("woff"),
    url("fonts/unified.ttf") format("truetype"),
    url("fonts/unified.svg#unified") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "unified" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "unified" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "a";
}
.icon-book:before {
  content: "b";
}
.icon-chart-icon-free:before {
  content: "c";
}
.icon-chart-icon-individual:before {
  content: "d";
}
.icon-chart-icon-organization:before {
  content: "e";
}
.icon-check:before {
  content: "f";
}
.icon-check-mark:before {
  content: "g";
}
.icon-folder-closed:before {
  content: "h";
}
.icon-document:before {
  content: "i";
}
.icon-edit:before {
  content: "j";
}
.icon-edit-text:before {
  content: "k";
}
.icon-envelope:before {
  content: "l";
}
.icon-facebook:before {
  content: "m";
}
.icon-filing-cabinet:before {
  content: "n";
}
.icon-full-view:before {
  content: "o";
}
.icon-github:before {
  content: "p";
}
.icon-google:before {
  content: "q";
}
.icon-graph:before {
  content: "r";
}
.icon-grid-alt:before {
  content: "s";
}
.icon-inbox:before {
  content: "t";
}
.icon-link:before {
  content: "u";
}
.icon-linkedin-iconsvg:before {
  content: "v";
}
.icon-list-view:before {
  content: "w";
}
.icon-lock:before {
  content: "x";
}
.icon-plotlylogo:before {
  content: "y";
}
.icon-notebook-ip:before {
  content: "z";
}
.icon-notebook-m-icon:before {
  content: "A";
}
.icon-notebook-r:before {
  content: "B";
}
.icon-notifications:before {
  content: "C";
}
.icon-office:before {
  content: "D";
}
.icon-folder-open:before {
  content: "E";
}
.icon-people:before {
  content: "F";
}
.icon-phone:before {
  content: "G";
}
.icon-plot-box:before {
  content: "H";
}
.icon-plot-3d-surface:before {
  content: "I";
}
.icon-plot-3d-line:before {
  content: "J";
}
.icon-plot-3d-scatter:before {
  content: "K";
}
.icon-tooltip-compare:before {
  content: "L";
}
.icon-tooltip-basic:before {
  content: "M";
}
.icon-autoscale:before {
  content: "N";
}
.icon-zoom-minus:before {
  content: "O";
}
.icon-zoom-plus:before {
  content: "P";
}
.icon-pan:before {
  content: "Q";
}
.icon-zoombox:before {
  content: "R";
}
.icon-themes:before {
  content: "S";
}
.icon-analysis:before {
  content: "T";
}
.icon-annotate:before {
  content: "U";
}
.icon-axes:before {
  content: "V";
}
.icon-copy:before {
  content: "X";
}
.icon-plot-error-bars:before {
  content: "Y";
}
.icon-plot-stacked-area:before {
  content: "Z";
}
.icon-plot-scatter:before {
  content: "0";
}
.icon-plot-line:before {
  content: "1";
}
.icon-plot-hist:before {
  content: "2";
}
.icon-plot-heatmap:before {
  content: "3";
}
.icon-plot-fit:before {
  content: "4";
}
.icon-save:before {
  content: "5";
}
.icon-plot-bar:before {
  content: "6";
}
.icon-plot-area:before {
  content: "7";
}
.icon-plot-2d-hist:before {
  content: "8";
}
.icon-fold:before {
  content: "9";
}
.icon-plot:before {
  content: "!";
}
.icon-grid:before {
  content: "\"";
}
.icon-import:before {
  content: "$";
}
.icon-plus:before {
  content: "%";
}
.icon-recent:before {
  content: "&";
}
.icon-revisons:before {
  content: "'";
}
.icon-share:before {
  content: "(";
}
.icon-star:before {
  content: ")";
}
.icon-suitcase:before {
  content: "*";
}
.icon-tag:before {
  content: "+";
}
.icon-team:before {
  content: ",";
}
.icon-thumbnail-view:before {
  content: "-";
}
.icon-trash:before {
  content: ".";
}
.icon-twitter:before {
  content: "/";
}
.icon-unlock:before {
  content: ":";
}
.icon-phone-alt:before {
  content: ";";
}
.icon-upload-file:before {
  content: "<";
}
.icon-upload:before {
  content: "=";
}
.icon-video:before {
  content: ">";
}
.icon-close:before {
  content: "?";
}
.icon-reorder:before {
  content: "@";
}
.icon-rotate-left:before {
  content: "[";
}
.icon-file:before {
  content: "]";
}
.icon-angle-down:before {
  content: "^";
}
.icon-globe:before {
  content: "_";
}
.icon-code:before {
  content: "`";
}
.icon-bookmark:before {
  content: "{";
}
.icon-play:before {
  content: "|";
}
.icon-talk-chat:before {
  content: "}";
}
.icon-gears-setting:before {
  content: "~";
}
.icon-credit-card:before {
  content: "\\";
}
.icon-caret-right:before {
  content: "\e000";
}
.icon-angle-left:before {
  content: "\e001";
}
.icon-angle-right:before {
  content: "\e002";
}
.icon-angle-up:before {
  content: "\e003";
}
.icon-chat:before {
  content: "\e004";
}
.icon-cog-gear:before {
  content: "\e005";
}
.icon-external-link:before {
  content: "\e006";
}
.icon-files:before {
  content: "\e007";
}
.icon-talk-chat-1:before {
  content: "\e008";
}
.icon-filter:before {
  content: "\e009";
}
.icon-download-1:before {
  content: "\e00a";
}
.icon-search:before {
  content: "\e00b";
}
.icon-refresh:before {
  content: "\e00c";
}
.icon-resize-expand:before {
  content: "\e00d";
}
.icon-resize-down:before {
  content: "\e00e";
}
.icon-caret-left:before {
  content: "\e00f";
}
.icon-caret-down:before {
  content: "\e010";
}
.icon-caret-up:before {
  content: "\e011";
}
.icon-signout:before {
  content: "\e012";
}
.icon-cloud:before {
  content: "\e013";
}
.icon-bar-chart:before {
  content: "\e014";
}
.icon-wrench:before {
  content: "\e015";
}
.icon-heart:before {
  content: "\e016";
}
.icon-pencil:before {
  content: "\e017";
}
.icon-minus:before {
  content: "\e018";
}
.icon-ploticon:before {
  content: "W";
}
.icon-ploticon-1:before {
  content: "#";
}
.icon-collaborator-icon:before {
  content: "\e019";
}
.icon-embed-icon:before {
  content: "\e01a";
}
.icon-link-icon:before {
  content: "\e01b";
}
.icon-plot-pie:before {
  content: "\e01c";
}
.icon-rotate-right {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.icon-rotate-right:before {
  content: "[";
}
