.no-display{
	display: none;}
.centered{
	text-align: center;}
.no_underline{
	text-decoration: none;}
.padding_left{
    padding-left: 70px;}
.no_deco{
	text-decoration: none;}
.hoverlight:hover{
	opacity= 0.5;}
.wide{
	width: 100%;}
.no-margin{
	margin: 0;}
.align-right{
	float: right;}
@media (max-width: 550px) {
	.float_right{
		float: none;
		margin: auto;}
	.centered_on_mobile, .centered_on_mobile p{
		text-align: center;}
}

@media (max-width: 1100px) {
	.hidesmall{
	display: none;
	}
}

@media (min-width: 700px) {
	.nowraptitle{
		    white-space: nowrap;
	}
}

@media (max-width: 1100px) {
	.padding_left{
	padding-left: 20px;
	}
}
