/***********************
Main Styling
***********************/
.container {
	max-width: 1000px;}

iframe{
	max-width: 100%;
}

/***********************
TABLES
***********************/

.responsive-table td{
 width: auto;
}


td{
width: 50%;
}

 @media (max-width: 1200px){
	.container{
	max-width: 700px;}
 }

 @media (max-width: 550px) {
		table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
		td { 
		width: 95%;
	}
}
