---
name: Logarithmic Axes
plot_url: https://codepen.io/plotly/embed/76827d94af2b6bb176dd0c12da79a18d/?height=500&theme-id=15263&default-tab=result
language: plotly_js
suite: axes
order: 3
sitemap: false
arrangement: horizontal
---
var trace1 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8],
  y: [8, 7, 6, 5, 4, 3, 2, 1, 0],
  type: 'scatter'
};
var trace2 = {
  x: [0, 1, 2, 3, 4, 5, 6, 7, 8],
  y: [0, 1, 2, 3, 4, 5, 6, 7, 8],
  type: 'scatter'
};
var data = [trace1, trace2];
var layout = {
  xaxis: {
    type: 'log',
    autorange: true
  },
  yaxis: {
    type: 'log',
    autorange: true
  }
};
Plotly.newPlot('myDiv', data, layout);
