<footer class="--footer-main">
    <section class="--footer-top">
        <div class="--wrap">
            <ul class="--footer-body">
                <li class="--footer-column">
                    <h6 class="--footer-heading">Developers</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/python/" target="_self">Python</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/r/" target="_self">R & Shiny</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/matlab/" target="_self">MATLAB</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/javascript-graphing-library/" target="_self">Javascript</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://api.plot.ly/v2/" target="_self">REST API</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 class="--footer-heading">Company</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/company/careers/" target="_self">Careers</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://blog.plot.ly/" target="_self">Blog</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://moderndata.plot.ly/" target="_blank">Modern Data</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/products/industries/" target="_blank">Industries</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plotcon.plot.ly/" target="_blank">Workshops</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plotly.typeform.com/to/r4OilH" target="_blank">Customer Contact</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 class="--footer-heading">Resources</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://support.plot.ly/" target="_self">Developer Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://community.plot.ly/" target="_self">Community Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="http://help.plot.ly/" target="_self">Documentation</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 class="--footer-heading">Data Science</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/dash/" target="_self">Dash</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/plotly-js-scientific-d3-charting-library/" target="_self">Plotly.js</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-python-and-pandas-charts/" target="_self">Plotly.py</a>
                        </li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-r-and-shiny-charts/" target="_self">Plotly.R</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 class="--footer-heading">Business Intelligence</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/online-chart-maker/" target="_self">Chart Studio</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/dashboards/" target="_self">Dashboards</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/powerpoint-online/" target="_self">Slide Decks</a>
                        </li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://marketing.plot.ly/database-connectors/" target="_self">Falcon SQL Client (Free)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="--footer-meta">
        <div class="--wrap">
            <div class="left">
                <article class="--copyright">Copyright &copy; 2018 Plotly. All rights reserved.</article>
            </div>
            <div class="right">
                <article class="--tos"><a href="https://plot.ly/terms-of-service/" target="_blank">Terms of Service</a>
                </article>
                <article class="--privacy"><a href="https://plot.ly/privacy/" target="_blank">Privacy Policy</a>
                </article>
            </div>
        </div>
    </section>
</footer>

