<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left"><a href="https://plot.ly/feed/" target="_blank" class="-identity">
            <div class="-identity">
                <div class="logo">
                    <svg width="50px" height="50px" viewBox="0 0 66 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Asset-Exporting" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard-3" transform="translate(-50.000000, -123.000000)">
                                <g id="Group" transform="translate(50.000000, 123.000000)">
                                    <path d="M3,66 L63,66 C64.6565,66 66,64.6565 66,63 L66,3 C66,1.3435 64.6565,0 63,0 L3,0 C1.3435,0 0,1.3435 0,3 L0,63 C0,64.6565 1.3435,66 3,66" id="background" fill="#119DFF"></path>
                                    <g id="chart" transform="translate(12.000000, 12.000000)">
                                        <path d="M30,15 C30,16.6565 28.6565,18 27,18 C25.3435,18 24,16.6565 24,15 C24,13.3435 25.3435,12 27,12 C28.6565,12 30,13.3435 30,15" id="Fill-17" fill="#09FFFF"></path>
                                        <path d="M42,3 C42,4.6565 40.6565,6 39,6 C37.3435,6 36,4.6565 36,3 C36,1.3435 37.3435,0 39,0 C40.6565,0 42,1.3435 42,3" id="Fill-19" fill="#09FFFF"></path>
                                        <path d="M30,3 C30,4.6565 28.6565,6 27,6 C25.3435,6 24,4.6565 24,3 C24,1.3435 25.3435,0 27,0 C28.6565,0 30,1.3435 30,3" id="Fill-21" fill="#09FFFF"></path>
                                        <path d="M18,3 C18,4.6565 16.6565,6 15,6 C13.3435,6 12,4.6565 12,3 C12,1.3435 13.3435,0 15,0 C16.6565,0 18,1.3435 18,3" id="Fill-23" fill="#09FFFF"></path>
                                        <path d="M6,3 C6,4.6565 4.6565,6 3,6 C1.3435,6 5.55111512e-17,4.6565 5.55111512e-17,3 C5.55111512e-17,1.3435 1.3435,0 3,0 C4.6565,0 6,1.3435 6,3" id="Fill-25" fill="#09FFFF"></path>
                                        <path d="M6,15 C6,16.6565 4.6565,18 3,18 C1.3435,18 5.55111512e-17,16.6565 5.55111512e-17,15 C5.55111512e-17,13.3435 1.3435,12 3,12 C4.6565,12 6,13.3435 6,15" id="Fill-27" fill="#09FFFF"></path>
                                        <path d="M3,24 C1.343,24 5.55111512e-17,25.3435 5.55111512e-17,27 L5.55111512e-17,39 C5.55111512e-17,40.6565 1.343,42 3,42 C4.6565,42 6,40.6565 6,39 L6,27 C6,25.3435 4.6565,24 3,24" id="Fill-29" fill="#FFFFFF"></path>
                                        <path d="M27,24 C25.343,24 24,25.3435 24,27 L24,39 C24,40.6565 25.343,42 27,42 C28.6565,42 30,40.6565 30,39 L30,27 C30,25.3435 28.6565,24 27,24" id="Fill-31" fill="#FFFFFF"></path>
                                        <path d="M15,12 C13.343,12 12,13.3435 12,15 L12,39 C12,40.6565 13.343,42 15,42 C16.6565,42 18,40.6565 18,39 L18,15 C18,13.3435 16.6565,12 15,12" id="Fill-33" fill="#FFFFFF"></path>
                                        <path d="M39,12 C37.343,12 36,13.3435 36,15 L36,39 C36,40.6565 37.343,42 39,42 C40.6565,42 42,40.6565 42,39 L42,15 C42,13.3435 40.6565,12 39,12" id="Fill-35" fill="#FFFFFF"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <h1 class="--name">plotly</h1>
            </div></a>
            <nav class="--nav-site">
                <ul>
                    <li><a href="https://dash.plot.ly/" target="_blank"><span class="--item">Dash</span></a></li>
                    <li><a href="https://plot.ly/products/consulting-and-oem/" target="_blank"><span class="--item">Consulting</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a id="toolsignin" href="/settings" target="_self" class="button --enterprise-quaternary">SIGN IN</a></li>
                    <li><a id="signup" href="/settings" target="_self" class="button --enterprise-quaternary">SIGN UP</a></li>
                    <li><a href="https://plotly.typeform.com/to/seG7Vb" data-mode="1" target="_blank" onclick="window.mixpanel.track('Typeform demo request');" class="typeform-share button --enterprise-quaternary">REQUEST DEMO</a></li>
                    <!-- Adding product dropdown here -->
                    <!-- <li><a href="https://plot.ly/create/" class="button">PRODUCTS</a></li> -->
                </ul>
            </nav>
            <div class="mobile-menu-btn" ng-click="mobile = !mobile" ng-class="{'active': mobile}" style="cursor: pointer;">


                <div href="#" class="menu"><span></span></div>

            </div>
            <nav class="--nav-mobile">
                <ul>
                    <li><a href="https://plot.ly/feed/" target="_blank"><span class="--item">Feed</span></a></li>
                    <li><a href="https://plot.ly/products/cloud/" target="_blank"><span class="--item">Pricing</span></a></li>
                    <li><a href="https://plot.ly/api/" onmouseover="dropDownMenu('api-menu')" onmouseout="hideDropDownMenu('api-menu')" target="_self"><span class="--item">API
                    <div class="icon">
                        <svg style="width:24px;height:24px" viewbox="0 0 24 24"></svg>
                        <path fill="#000000" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                    </div></span></a></li>
                    <li class="tablet"><a id="toolsignin" href="/settings" target="_self" class="headerbar-nav-item --product-header">
                        Sign
                        In</a></li>
                    <li class="tablet"><a id="signup" href="/settings" target="_self" class="button --enterprise-quaternary">SIGN UP</a></li>
                    <li class="tablet"><a href="https://plot.ly/products/cloud/" class="button">UPGRADE</a></li>
                    <li class="tablet"><a href="https://plotly.typeform.com/to/seG7Vb" data-mode="1" target="_blank" onclick="window.mixpanel.track('Typeform demo request');" class="typeform-share button --enterprise-quaternary">
                        REQUEST
                        DEMO</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
