<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left"><a href="https://plot.ly/feed/" target="_blank" class="-identity">
            <div class="-identity">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewbox="0 0 130.2 83" xml:space="preserve">
                  <rect x="3" y="73" width="15" height="10" class="st0"></rect>
                  <rect x="21.2" y="61" width="15" height="22" class="st0"></rect>
                  <rect x="39.4" y="3" width="15" height="80" class="st0"></rect>
                  <rect x="57.6" y="23" width="15" height="60" class="st0"></rect>
                  <rect x="75.8" y="13" width="15" height="70" class="st0"></rect>
                  <rect x="94" y="48.8" width="15" height="34.2" class="st0"></rect>
                  <rect x="112.2" y="73" width="15" height="10" class="st0"></rect>
                </svg>
                </div>
                <h1 class="--name">plotly</h1>
            </div></a>
            <nav class="--nav-site">
                <ul>
                    <li><a href="https://plot.ly/feed/" target="_blank"><span class="--item">Feed</span></a></li>
                    <li><a href="https://plot.ly/products/cloud/" target="_blank"><span class="--item">Pricing</span></a></li>
                    <li><a href="http://dashboards.ly/" target="_blank"><span class="--item">Dashboards</span></a></li>
                    <li><a href="https://plot.ly/api/" onmouseover="dropDownMenu('api-menu')" onmouseout="hideDropDownMenu('api-menu')" target="_self"><span class="--item">API
                    <div class="icon">
                        <svg style="width:24px;height:24px" viewbox="0 0 24 24"></svg>
                        <path fill="#000000" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                    </div></span></a></li>
                </ul>
            </nav>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a id="toolsignin" href="/settings" target="_self" class="headerbar-nav-item --product-header">
                        Sign
                        In</a></li>
                    <li><a id="signup" href="/settings" target="_self" class="button --enterprise-quaternary">SIGN UP</a></li>
                    <li><a href="/2/~bar-chart-excel/?plot_type=Bar%20chart" class="button">+ NEW PROJECT</a></li>
                    <li><a href="https://plot.ly/products/cloud/" class="button">UPGRADE</a></li>
                    <li><a href="https://plotly.typeform.com/to/seG7Vb" data-mode="1" target="_blank" onclick="window.mixpanel.track('Typeform demo request');" class="typeform-share button --enterprise-quaternary">
                        REQUEST
                        DEMO</a></li>
                </ul>
            </nav>
            <div class="mobile-menu-btn" ng-click="mobile = !mobile" ng-class="{'active': mobile}" style="cursor: pointer;">


                <div href="#" class="menu"><span></span></div>

            </div>
            <nav class="--nav-mobile">
                <ul>
                    <li><a href="https://plot.ly/feed/" target="_blank"><span class="--item">Feed</span></a></li>
                    <li><a href="https://plot.ly/products/cloud/" target="_blank"><span class="--item">Pricing</span></a></li>
                    <li><a href="http://dashboards.ly/" target="_blank"><span class="--item">Dashboards</span></a></li>
                    <li><a href="https://plot.ly/api/" onmouseover="dropDownMenu('api-menu')" onmouseout="hideDropDownMenu('api-menu')" target="_self"><span class="--item">API
                    <div class="icon">
                        <svg style="width:24px;height:24px" viewbox="0 0 24 24"></svg>
                        <path fill="#000000" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path>
                    </div></span></a></li>
                    <li class="tablet"><a id="toolsignin" href="/settings" target="_self" class="headerbar-nav-item --product-header">
                        Sign
                        In</a></li>
                    <li class="tablet"><a id="signup" href="/settings" target="_self" class="button --enterprise-quaternary">SIGN UP</a></li>
                    <li class="tablet"><a href="/2/~bar-chart-excel/?plot_type=Bar%20chart" class="button">+ NEW PROJECT</a></li>
                    <li class="tablet"><a href="https://plot.ly/products/cloud/" class="button">UPGRADE</a></li>
                    <li class="tablet"><a href="https://plotly.typeform.com/to/seG7Vb" data-mode="1" target="_blank" onclick="window.mixpanel.track('Typeform demo request');" class="typeform-share button --enterprise-quaternary">
                        REQUEST
                        DEMO</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>