*.ipynb_checkpoints
*.pyc
*.idea
*.DS_Store
.*.swp
users.json
port.sh
*~
_site
_posts/user_guide_python/streaming-template.ipynb

node_modules

.RData
.Rhistory
.sass-cache
.DS_Store
.jekyll-metadata
