*.ipynb_checkpoints
*.pyc
*.idea
*.DS_Store
.*.swp
users.json
port.sh
*~
_site
_posts/user_guide_python/streaming-template.ipynb

node_modules

.RData
.Rhistory
.sass-cache
.DS_Store
.jekyll-metadata
.mapbox_token

vendor/bundle
.bundle
_posts/python/fundamentals/static-image/images
_config_personal.yml
_posts/python/html
.Rproj.user
documentation.Rproj
.vscode
_posts/r/md
_posts/ggplot2/md

_data/mapbox_token.yml
