.db-client-lib {
  margin: 0px 0px 30px 0px; }
  .db-client-lib label {
    text-transform: uppercase;
    display: block;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.7; }
  .db-client-lib .list-lib-wrap {
    overflow: auto; }
    @media screen and (max-width: 767px) {
      .db-client-lib .list-lib-wrap {
        max-width: calc(100vw - 80px); } }
  .db-client-lib .list-lib {
    white-space: nowrap;
    display: flex; }
    .db-client-lib .list-lib .list-lib-item {
      border: 1px solid transparent;
      padding: 10px;
      min-width: 80px;
      margin: 0px 10px 0px 0px;
      border-radius: 4px;
      display: none;
      flex-shrink: 0;
      order: 10; }
      .db-client-lib .list-lib .list-lib-item.current {
        border: 1px solid #ddd; }
      .db-client-lib .list-lib .list-lib-item .item-icon {
        width: 40px;
        height: 40px;
        margin: 0px auto;
        background-repeat: no-repeat;
        background-position: center center; }
      .db-client-lib .list-lib .list-lib-item p {
        margin: 5px 0px 0px 0px;
        color: #506784;
        padding: 0px;
        text-align: center;
        text-decoration: none; }
      .db-client-lib .list-lib .list-lib-item:hover {
        border: 1px solid #ddd;
        text-decoration: none; }
        .db-client-lib .list-lib .list-lib-item:hover p {
          text-decoration: none; }
      .db-client-lib .list-lib .list-lib-item.matlab {
        display: inline-block;
        order: 6; }
        .db-client-lib .list-lib .list-lib-item.matlab .item-icon {
          background-image: url("../images/icon-matlab.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.python {
        display: inline-block;
        order: 1; }
        .db-client-lib .list-lib .list-lib-item.python .item-icon {
          background-image: url("../images/icon-python.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.r {
        display: inline-block;
        order: 2; }
        .db-client-lib .list-lib .list-lib-item.r .item-icon {
          background-image: url("../images/icon-r.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.julia {
        display: inline-block;
        order: 4; }
        .db-client-lib .list-lib .list-lib-item.julia .item-icon {
          background-image: url("../images/icon-julia.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.ggplot2 {
        display: inline-block;
        order: 3; }
        .db-client-lib .list-lib .list-lib-item.ggplot2 .item-icon {
          background-image: url("../images/icon-ggplot2.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.fsharp {
        display: inline-block;
        order: 15; }
        .db-client-lib .list-lib .list-lib-item.fsharp .item-icon {
          background-image: url("../images/icon-fsharp.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.nodejs {
        display: none; }
        .db-client-lib .list-lib .list-lib-item.nodejs .item-icon {
          background-image: url("../images/icon-nodejs.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.scala {
        display: none; }
      .db-client-lib .list-lib .list-lib-item.plotly_js {
        display: none; }
        .db-client-lib .list-lib .list-lib-item.plotly_js .item-icon {
          background-image: url("../images/icon-plotly_js.png");
          background-size: 35px auto; }
      .db-client-lib .list-lib .list-lib-item.python\/v3 {
        display: none; }
        .db-client-lib .list-lib .list-lib-item.python\/v3 .item-icon {
          background-image: url("../images/icon-python.png");
          background-size: 35px auto; }

body .page.\--home .\--documentation-categories li {
  width: 18%;
  margin: 1% 1%;
  flex: auto; }
  @media screen and (max-width: 991px) {
    body .page.\--home .\--documentation-categories li {
      width: 31.33%; } }
  @media screen and (max-width: 767px) {
    body .page.\--home .\--documentation-categories li {
      width: 48%; } }
  @media screen and (max-width: 575px) {
    body .page.\--home .\--documentation-categories li {
      width: 100%;
      margin: 10px 0px; } }
  body .page.\--home .\--documentation-categories li h2 {
    font-size: 1.2rem; }

@media screen and (max-width: 991px) {
  .page.\--home .hero .\--welcome h2 {
    font-size: 35px;
    padding: 0px 10px; } }

@media screen and (max-width: 991px) {
  .page.\--home .hero .\--welcome span {
    font-size: 15px;
    padding: 0px 10px; } }

@media screen and (max-width: 991px) {
  .\--tutorial-index {
    padding-left: 40px !important; } }

@media screen and (max-width: 991px) {
  .\--tutorial-index .\--welcome .\--title h1,
  .\--tutorial-index .\--welcome .\--title section.section h2,
  section.section .\--tutorial-index .\--welcome .\--title h2 {
    font-size: 34px; } }

.breadcrumb-nav a:hover {
  border-bottom: 2px solid white; }

@media screen and (max-width: 991px) {
  .\--tutorial-index .\--tutorial-section header.\--section-header {
    font-size: 25px; } }

aside.\--sidebar-container .\--sidebar-fixed.affix #modal-button {
  width: 195px; }

.langindexlink {
  text-decoration: none;
  color: #506784; }
  .langindexlink:hover {
    text-decoration: underline;
    color: #2186f4 !important; }

/*********fix  dark sidebar*********/
body p a {
  color: #606060 !important;
  font-weight: 600; }
  body p a:hover {
    color: #2186f4 !important; }

.subscribe-button {
  background-color: #2186f4 !important; }
  .subscribe-button:hover {
    color: #fff;
    opcity: 0.8; }

.--footer-column h6 {
  color: #3f3f3f !important;
  font-size: 14px;
  padding-top: 20px; }
  .--footer-column h6:before {
    display: none; }

.--nav-meta ul li a {
  font-weight: 600 !important; }
  .--nav-meta ul li a:hover {
    color: #2186f4 !important; }

body main.\--page {
  -webkit-box-flex: 1;
  padding-top: 0px; }

.\--wrap {
  max-width: 100%; }

.--page-body.--tutorial-index {
  flex: none !important;
  max-width: 1000px; }

.\--tutorial-index {
  padding-top: 50px;
  padding-left: 90px !important; }
  @media screen and (max-width: 1199px) {
    .\--tutorial-index {
      padding: 20px 20px 20px 20px !important; } }
  @media screen and (max-width: 767px) {
    .\--tutorial-index {
      padding: 20px 20px 20px 20px !important; } }

aside.\--sidebar-container {
  padding-top: 50px;
  margin-top: -60px; }
  aside.\--sidebar-container .brand {
    padding: 0px 30px 20px 0px; }
    aside.\--sidebar-container .brand img {
      width: 100%;
      height: auto !important; }

.breadcrumb-nav {
  display: none; }

header.header-main {
  border: none; }

.dash-plug {
  padding: 15px 10px 15px 15px;
  background-color: #f9f9f9;
  border-left: 4px solid #2186f4;
  margin: 20px 0px 0px 0px; }

aside.\--sidebar-container {
  position: relative; }
  @media screen and (max-width: 767px) {
    aside.\--sidebar-container {
      display: none; } }
  aside.\--sidebar-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 100%;
    bottom: 0px;
    background-color: #0e1012;
    width: 1000px;
    z-index: 10; }

aside.\--sidebar-container .\--sidebar-fixed #modal-button {
  width: 260px !important;
  border: none !important;
  background-color: transparent !important;
  padding: 5px !important;
  margin-left: -5px !important; }
  aside.\--sidebar-container .\--sidebar-fixed #modal-button input {
    background-color: #242a44 !important;
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 25px !important;
    padding: 0px 15px; }
    aside.\--sidebar-container .\--sidebar-fixed #modal-button input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8f90a0 !important; }

.--sidebar-list {
  margin: 10px 0px 0px 5px !important; }
  .--sidebar-list li a {
    font-size: 13px; }

.--sidebar-fixed details summary {
  padding: 0px 0px 0px 15px;
  position: relative; }
  .--sidebar-fixed details summary:before {
    display: block;
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    top: 5px;
    left: 0px;
    border: 5px solid transparent;
    border-width: 4px 7px;
    border-left-color: #fff; }
.--sidebar-fixed [open] summary:before {
  top: 9px;
  left: -2px;
  transform: rotate(90deg); }

.\--footer-meta {
  border-top: none;
  background: #fff; }

.\--tutorial-index .\--tutorial-section header.\--section-header {
  justify-content: space-between; }
  .\--tutorial-index .\--tutorial-section header.\--section-header .langindexlink {
    font-size: 13px;
    font-weight: normal; }

.langindexlink-mobile {
  display: none; }

.\--tutorial-section:not(.no-image) .\--grid-item .\--item-image span {
  display: none; }

.\--tutorial-section:not(.no-image) .\--grid-item .\--item-meta {
  color: #626262 !important;
  text-transform: none;
  font-size: 0.9rem !important;
  font-weight: bold;
  letter-spacing: 1; }

.\--tutorial-section:not(.no-image) .\--grid-item img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px; }

#forklink {
  display: flex;
  align-items: center; }
  #forklink .icon {
    margin: 0px 4px 0px 0px; }

.ais-search-box input {
  border: none;
  width: 96%;
  display: block;
  height: 40px;
  padding: 0px 45px;
  font-size: 20px;
  background-color: #dedede;
  border-radius: 40px;
  transition: all ease 0.3s; }
  .ais-search-box input:focus {
    background-color: #efefef; }

.modal-header > span {
  padding: 0px !important; }
.modal-header i.fa.fa-search.fa-lg {
  position: absolute;
  top: 28px;
  left: 30px; }
.modal-header .close {
  margin-top: 11px; }

.search-results {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: auto; }
  .search-results .primary-search-results {
    width: 50%;
    padding: 0px 20px 0px 10px; }
  .search-results .schema-search-results {
    width: 50%;
    padding: 0px 20px 0px 10px; }

.ais-hits--item {
  margin: 0px 0px 16px 0px; }

a.algolia__result-link {
  color: #2186f4 !important; }

.algolia__result-text {
  font-size: 0.9rem;
  opacity: 0.8; }

.algolia__result-link {
  font-size: 1rem;
  font-weight: bold; }

.ais-hits.ais-hits__empty {
  padding: 0px 0px 40px 0px; }

body * {
  font-family: Open Sans, sans-serif !important; }

body .fa {
  font: normal normal normal 14px/1 FontAwesome !important; }

#advanced-options .--grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -15px 20px -15px; }
  #advanced-options .--grid-list .--grid-item {
    width: 33.33%;
    padding: 0px 15px;
    margin: 0px 0px 20px 0px; }
    @media screen and (max-width: 991px) {
      #advanced-options .--grid-list .--grid-item {
        width: 50%; } }
    #advanced-options .--grid-list .--grid-item a {
      display: block;
      padding: 10px 10px;
      text-align: center;
      border: 1px solid #eee; }
      #advanced-options .--grid-list .--grid-item a:hover {
        color: #2186f4 !important;
        border: 1px solid #ddd; }

.highlight {
  font-family: dm mono, monospace !important;
  color: #606060; }
  .highlight * {
    font-size: 13px !important;
    font-family: dm mono, monospace !important; }
  .highlight .kn,
  .highlight .k {
    color: #f34705;
    font-weight: normal; }
  .highlight .s1 {
    color: #0854a7; }
  .highlight .mi {
    color: #72a125; }
  .highlight .c1 {
    color: #565656; }
  .highlight .k {
    font-weight: normal; }
  .highlight .s2 {
    color: #0854a7; }

code.hljs {
  font-size: 13px !important;
  font-family: dm mono, monospace !important;
  color: #606060; }
  code.hljs * {
    font-family: dm mono, monospace !important; }

.hljs-keyword,
.hljs-selector-tag {
  color: #f34705; }

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #0854a7; }

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #72a125; }

/*# sourceMappingURL=improve.css.map */
