
/*
 * Full-page application style
 */

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

.main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.dash-title{
  font-size: 18px !important;
  margin: 0px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2rem !important;
}

.dash-title-languages{
  font-weight: 200 !important;
  font-color: white !important;
}

#forklink{
  font-weight: 300;
  font-family: "Open sans",verdana,arial,sans-serif;
  font-size: 14px;  
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

/* Industries dashboards */

.navbar-industries .navbar-nav > li > a,
.navbar .navbar-brand {
  color: inherit;
  text-decoration: none;
}

.navbar-industries .navbar-nav > li > a:hover,
.navbar .navbar-brand:hover {
  color: inherit;
  text-decoration: none;
}

.navbar-industries{
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.navbar-industries .navbar-nav{
  position: absolute;
  right: 20px;
}

.navbar-industries li{
  float: right !important;
}

.navbar-industries #forklink{
  color: inherit;
}

.btn{
  border: 0px;
  border-radius: 0px;
}

div.plotly-intro-industries{
    width: 80%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    color: #444;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.plotly-intro-industries h4{
    color: #888;
    font-weight: 200;
    letter-spacing: 0.01rem !important;
    line-height: 24px;
}

.plotly-intro-industries ul{
    list-style: circle inside;
    line-height: 1.6;
    font-weight: 200;
    letter-spacing: 0.1rem;
}