version: 2
jobs:
  build:
    branches:
      ignore:
        - gh-pages

    docker:
      # a packaged system that has the instructions for creating a running container.
      - image: circleci/ruby:2.3.3

    # actions that need to be taken to perform your job
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:USaw9IC3qDmo5lTDeDE1ctu2VeLlrFbqhYZrPVJlw2U"
            - "c0:90:93:c0:d1:79:9e:d6:14:2e:0f:30:77:1a:83:04"

      - restore_cache:
          keys:
            - source-v1- #one time, not every time!

      # checks out the source code for a job over SSH
      - checkout

      - save_cache:
          key: source-v1-1 # Sept 7, 2019
          paths:
            - ".git"

      - restore_cache:
          keys:
            - gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-v1-{{ arch }}-{{ .Branch }}
            - gem-cache-v1

      - run:
          name: install dependencies
          command: bundle install --path vendor/bundle

      - save_cache:
          key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: deployment
          command: |
            git config --global user.email "accounts@plot.ly"
            git config --global user.name "Deployer"
            rm -rf _posts/python/html
            git clone -b built git@github.com:plotly/plotly.py-docs _posts/python/html
            bundle exec jekyll build
            mkdir snapshots
            cd _site
            cp -r 'all_static' '../snapshots'
            cp 'api/index.html' '../snapshots'
            cp --parents 'python/index.html' '../snapshots'
            cp --parents 'python/getting-started/index.html' '../snapshots'
            cp --parents 'python/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'python/line-and-scatter/index.html' '../snapshots'
            cp --parents 'r/index.html' '../snapshots'
            cp --parents 'r/getting-started/index.html' '../snapshots'
            cp --parents 'r/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'r/line-and-scatter/index.html' '../snapshots'
            cp --parents 'javascript/index.html' '../snapshots'
            cp --parents 'javascript/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'javascript/getting-started/index.html' '../snapshots'
            cp --parents 'javascript/line-and-scatter/index.html' '../snapshots'
            cp --parents 'ggplot2/index.html' '../snapshots'
            cp --parents 'ggplot2/getting-started/index.html' '../snapshots'
            cp --parents 'ggplot2/geom_abline/index.html' '../snapshots'
            cp --parents 'python/v3/index.html' '../snapshots'
            cp --parents 'python/v3/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'python/v3/getting-started/index.html' '../snapshots'
            cp --parents 'python/v3/line-and-scatter/index.html' '../snapshots'
            cp --parents 'matlab/index.html' '../snapshots'
            cp --parents 'matlab/getting-started/index.html' '../snapshots'
            cp --parents 'matlab/graphing-multiple-chart-types/index.html' '../snapshots'
            cp --parents 'matlab/scatter/index.html' '../snapshots'
            cd ..
            percy snapshot snapshots --enable_javascript
            rm -rf 'snapshots/'
            if [ "${CIRCLE_BRANCH}" == "source-design-merge" ]; then
             git checkout gh-pages
             git pull origin gh-pages
             cp -r _site/* .
             rm -rf _site/
             touch .nojekyll
             git add .
             git commit -m "deploying"
             git push origin gh-pages
            fi
