---
title: Plotly Dashboards
permalink: /dashboards/
description: Plotly dashboard templates for insurance, sales, energy use, Internet of Things, and more
layout: langindex
---

<h1 class="centered">Dashboard Templates</h1>

<!-- <div class="row centered btnrow">
	<a href="/python/getting-started/" class="button no_underline">Getting Started</a>
	<a href="/python/user-guide/" class="button no_underline">User Guide</a>
	<a href="/ipython-notebooks/" class="button no_underline">IPython Notebooks</a>
	<a href="/pandas/" class="button no_underline">Pandas</a>
	<a href="https://plot.ly/python/reference/" class="button no_underline">Reference</a>
</div> -->

<br>
<div class="tipbox row">
    <p>
    	Sample dashboards for 9 different industries built with Plotly graphs and the Keen.io dashboard templates..
    </p>    
    <p>
    	We recommend hosting your dashboard on Amazon Web Services, Plotly On-Premise or GitHub pages if data is not sensitive.
    </p>     
    <p>
    	Read how Goji Insurance transformed their business with Plotly dashboards hosted on Amazon Web Services.
    </p>      
</div>
<br>

<h2>By Industry</h2>

<hr>

<div class="row">

<!-- dashboard thumbnails -->

<a href="/python/line-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Line Charts" src="https://plot.ly/gh-pages/documentation/static//images/line-plots.png">
      <div class="titlecenter">
        <h5 class="centered"> Line Charts </h5>
      </div>
  </div>
</a>

<a href="/python/line-and-scatter/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Scatter Plots" src="https://plot.ly/gh-pages/documentation/static//images/line_and_scatter.png">
      <div class="titlecenter">
        <h5 class="centered"> Scatter Plots </h5>
      </div>
  </div>
</a>

<a href="/python/bar-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Bar Charts" src="https://plot.ly/gh-pages/documentation/static//images/bar.png">
      <div class="titlecenter">
        <h5 class="centered"> Bar Charts </h5>
      </div>
  </div>
</a>

<a href="/python/horizontal-bar-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Horizontal Bar Charts" src="https://plot.ly/gh-pages/documentation/static//images/horizontal-bar.png">
      <div class="titlecenter">
        <h5 class="centered"> Horizontal Bar Charts </h5>
      </div>
  </div>
</a>

<a href="/python/bubble-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Bubble Charts" src="https://plot.ly/gh-pages/documentation/static//images/bubble.png">
      <div class="titlecenter">
        <h5 class="centered"> Bubble Charts </h5>
      </div>
  </div>
</a>

<a href="/python/time-series/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Time Series" src="https://plot.ly/gh-pages/documentation/static//images/time-series.png">
      <div class="titlecenter">
        <h5 class="centered"> Time Series </h5>
      </div>
  </div>
</a>

<a href="/python/error-bars/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Error Bars" src="https://plot.ly/gh-pages/documentation/static//images/error-bar.png">
      <div class="titlecenter">
        <h5 class="centered"> Error Bars </h5>
      </div>
  </div>
</a>

<a href="/python/box-plots/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Box Plots" src="https://plot.ly/gh-pages/documentation/static//images/box.png">
      <div class="titlecenter">
        <h5 class="centered"> Box Plots </h5>
      </div>
  </div>
</a>

<a href="/python/histograms/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Histograms" src="https://plot.ly/gh-pages/documentation/static//images/histogram.png">
      <div class="titlecenter">
        <h5 class="centered"> Histograms </h5>
      </div>
  </div>
</a>

<a href="/python/2D-Histogram/">
  <div class="alltutcol">
    <img class="thumbnail" alt="2D Histograms" src="https://plot.ly/gh-pages/documentation/static//images/histogram2d.png">
      <div class="titlecenter">
        <h5 class="centered"> 2D Histograms </h5>
      </div>
  </div>
</a>

<a href="/python/heatmaps/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Heatmaps" src="https://plot.ly/gh-pages/documentation/static//images/heatmap.png">
      <div class="titlecenter">
        <h5 class="centered"> Heatmaps </h5>
      </div>
  </div>
</a>

<a href="/python/contour-plots/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Contour Plots" src="https://plot.ly/gh-pages/documentation/static//images/contour.png">
      <div class="titlecenter">
        <h5 class="centered"> Contour Plots </h5>
      </div>
  </div>
</a>

<a href="/python/2d-density-plots/">
  <div class="alltutcol">
    <img class="thumbnail" alt="2d Density Plots" src="https://plot.ly/gh-pages/documentation/static//images/2d-density-plot.png">
      <div class="titlecenter">
        <h5 class="centered"> 2d Density Plots </h5>
      </div>
  </div>
</a>

<a href="/python/heatmap-and-colorscales-colorscales/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Heatmap and Contour Colorscales" src="https://plot.ly/gh-pages/documentation/static//images/colorbars.png">
      <div class="titlecenter">
        <h5 class="centered"> Heatmap and Contour Colorscales </h5>
      </div>
  </div>
</a>

<a href="/python/filled-area-plots/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Filled Area Plots" src="https://plot.ly/gh-pages/documentation/static//images/area.png">
      <div class="titlecenter">
        <h5 class="centered"> Filled Area Plots </h5>
      </div>
  </div>
</a>

<a href="/python/wind-rose-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Wind Rose Charts" src="https://plot.ly/gh-pages/documentation/static//images/wind-rose.png">
      <div class="titlecenter">
        <h5 class="centered"> Wind Rose Charts </h5>
      </div>
  </div>
</a>

<a href="/python/polar-chart/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Polar Charts" src="https://plot.ly/gh-pages/documentation/static//images/polar-scatter.png">
      <div class="titlecenter">
        <h5 class="centered"> Polar Charts </h5>
      </div>
  </div>
</a>

<a href="/python/log-plot/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Log Plots" src="https://plot.ly/gh-pages/documentation/static//images/log.png">
      <div class="titlecenter">
        <h5 class="centered"> Log Plots </h5>
      </div>
  </div>
</a>

<a href="/python/graphing-multiple-chart-types/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Multiple Chart Types" src="https://plot.ly/gh-pages/documentation/static//images/mixed.png">
      <div class="titlecenter">
        <h5 class="centered"> Multiple Chart Types </h5>
      </div>
  </div>
</a>

<a href="/python/shapes/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Shapes" src="https://plot.ly/gh-pages/documentation/static//images/shape.png">
      <div class="titlecenter">
        <h5 class="centered"> Shapes </h5>
      </div>
  </div>
</a>

<a href="/python/candlestick-charts">
  <div class="alltutcol">
    <img class="thumbnail" alt="Candlestick Charts" src="https://plot.ly/gh-pages/documentation/static//images/candlestick.png">
      <div class="titlecenter">
        <h5 class="centered"> Candlestick Charts </h5>
      </div>
  </div>
</a>

<a href="/python/ohlc-charts">
  <div class="alltutcol">
    <img class="thumbnail" alt="OHLC Charts" src="https://plot.ly/gh-pages/documentation/static//images/ohlc.png">
      <div class="titlecenter">
        <h5 class="centered"> OHLC Charts </h5>
      </div>
  </div>
</a>

<a href="/python/pie-charts/">
  <div class="alltutcol">
    <img class="thumbnail" alt="Pie Charts" src="https://plot.ly/gh-pages/documentation/static//images/pie-chart.png">
      <div class="titlecenter">
        <h5 class="centered"> Pie Charts </h5>
      </div>
  </div>
</a>

</div>

{% include footer.html %}

</body>
	
</html>