{% if page.language == "matlab" or page.language == "python" or page.language == "matplotlib" or page.language == "pandas" or page.language == "r" or page.language == "ggplot2"  %}
<div style="text-align: center;position: relative;top: -190px;">
	<h5 style="color: #444; display: inline-block;">plotly is free for unlimited public use</h5>

	<a class="button" href="https://plot.ly/settings/" target="_blank" style="text-decoration: none;font-size: 14px;display: inline-block;padding: 12px 24px;">SIGN UP FOR FREE</a>

	<h6 style="color: #444;" style="text-align: center;">
		Sensitive data? Upgrade to a 
<a href="https://plot.ly/settings/subscription">paid plan</a> or trial 
<a href="http://purchasing.plot.ly/{% if page.language == "matlab" %}plotly-offline-matlab
{% elsif page.language == "python" %}plotly-offline-ipython
{% elsif page.language == "matplotlib" %}plotly-offline-ipython
{% elsif page.language == "pandas" %}plotly-offline-ipython
{% elsif page.language == "r" %}plotly-offline-r
{% elsif page.language == "ggplot2" %}plotly-offline-r
{% endif %}">plotly offline</a>	
	</h6>

</div>
{% elsif page.language == "plotly_js" %}
<div style="text-align: center;position: relative;top: -380px;">
		<h1 class="centered" style="color: white;margin-bottom: 20px;">plotly.js</h1>
	<h5 style="color: white;">the premier charting library for the web</h5>
	<a class="button plotlyjs-download" href="{{site.plotlyjs_download_url}}" target="_blank" onclick='mixpanel.track("PlotlyJS Download",{ "Location": "Banner" });'>
		<i class="fa fa-download fa-lg"></i> Download
	</a>
	<p class="centered version-number">version 20150720a_basic</p>
</div>
{% endif %}
