{% if page.language == "matlab" or page.language == "python" or page.language == "matplotlib" or page.language == "pandas" or page.language == "r" or page.language == "ggplot2"  %}
<div style="text-align: center;position: relative;top: -285px;">
	<h2 class="centered" style="color: white;margin-bottom: 20px;">use plotly offline</h2>

	<h5 style="color: white;">download for {% if page.language == "matlab" %}MATLAB
	{% elsif page.language == "python" %}IPython notebook
	{% elsif page.language == "matplotlib" %}IPython notebook
	{% elsif page.language == "r" %}RStudio and Shiny
	{% elsif page.language == "ggplot2" %}RStudio and Shiny
	{% endif %} for ${{site.offline_price}}</h5>

	<a class="button" href="http://purchasing.plot.ly/{% if page.language == "matlab" %}plotly-offline-matlab
	{% elsif page.language == "python" %}plotly-offline-ipython
	{% elsif page.language == "matplotlib" %}plotly-offline-ipython
	{% elsif page.language == "r" %}plotly-offline-r
	{% elsif page.language == "ggplot2" %}plotly-offline-r
	{% endif %}" target="_blank" style="text-decoration: none;font-size: 14px;display: inline-block;padding: 12px 24px;">DOWNLOAD</a>
</div>
{% elsif page.language == "plotly_js" %}
<div style="text-align: center;position: relative;top: -380px;">
		<h1 class="centered" style="color: white;margin-bottom: 20px;">plotly.js</h1>
	<h5 style="color: white;">the premier charting library for the web</h5>
	<a class="button plotlyjs-download" href="{{site.plotlyjs_download_url}}" target="_blank" onclick='mixpanel.track("PlotlyJS Download",{ "Location": "Banner" });'>
		<i class="fa fa-download fa-lg"></i> Download
	</a>
	<p class="centered version-number">version 20150720a_basic</p>
</div>
{% endif %}