{% for example in examples %}
    <div class="section">
        <div class="row auto-eg-padding">
      <div class=" row twelve columns">
        {% if example.name contains '<code>'%}
          <h3 id="{{ example.name | remove: '<code>' | remove: '</code>' | replace:' ','-' | downcase }}">{{ example.name }}</h3>
        {% else%}
          <h3 id="{{ example.name | replace:' ','-' | downcase }}">{{ example.name }}</h3>
        {% endif %}
      </div>
      <div class="row">
        <div class="six columns">
          <div class="z-depth-1">
            <pre><code class="{{page.language}}">{{ example.content }}</code></pre>
          </div>
          {% if example.description %}
            <blockquote>
              {{ example.description }}
            </blockquote>
          {% endif %}
        </div>
        <div class="six columns">
          <div class="border">
            <iframe src="{{ example.plot_url }}.embed" style="width: 100%; height: {% if example.height %}{{example.height}}px;{% else %}550px;{% endif %} border: none;"></iframe>
          </div>
        </div>
      </div>
        </div>

    </div>
{% endfor %}
