    <section class="section">
        <h2>Credentials</h2>
        <div class="content-box">
            <p >
                The initialization step places a special
                <strong>.plotly/.credentials</strong> file in your home
                directory. Your <strong>~/.plotly/.credentials</strong> file
                should look something like this:
            </p>
            <pre><code>
{
    "username": "DemoAccount",
    "stream_ids": ["ylosqsyet5", "h2ct8btk1s", "oxz4fm883b"],
    "api_key": "lr1c37zw81"
}
            </code></pre>
            <p >
                You can change the contents of this file manually or as
                described in the <strong>Initialization</strong> section.
            </p>
        </div>
    </section>
