    <hr>

    <p class="small text-muted">Built with a free dashboard template from <a href="http://keen.github.io/dashboards/">Keen IO</a> and seven <a href="https://plot.ly/python/embedding-plotly-graphs-in-HTML/">embedded Plotly graphs</a></p>
    <p class="small text-muted">
    This is a single static web page that can be displayed with any HTTP web server, offline as a HTML file, or on <a href="https://plot.ly/product/enterprise/">Plotly On-Premise</a>.
    </p>
  </div>

  <!--<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>-->
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="{{site.staticurl}}/javascripts/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <!-- Slider widget files -->
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSliderMouseTouch.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSliderDraggable.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSliderBar.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSliderHandle.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSliderLabel.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRangeSlider.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQDateRangeSliderHandle.js"></script>  
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQDateRangeSlider.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jQRuler.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/slider.js"></script>