<div class="navbar navbar-inverse navbar-fixed-top navbar-industries" role="navigation"
  style="background-color:{{page.background_color}}; border-color:{{page.foreground_color}}; color:{{page.foreground_color}};">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboards">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand" href="/dashboards" style="background-color:{{page.background_color}};z-index:99">
        <h1 class="dash-title">{{page.industry | capitalize}} Dashboard</h1>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://plot.ly/organize/home">Sign up</a></li>
        <li><a href="https://plot.ly/products/cloud/">Pricing</a></li>
        <li><a href="http://dashboards.ly/"><span class="create-dashboard-cta" style="border-color:{{page.foreground_color}};">Create a Dashboard</span></a></li>
      </ul>
    </div>
  </div>
</div>

<div>
    <div style="background:white;padding:60px;" class="row">
        <div class="col-sm-6" class="dashboard-description">
            {% include dashboards-copy/sales-copy.html %}
        </div>
        <div class="col-sm-6" style="text-align:center;">
          <br>
          <a href="https://plotly.typeform.com/to/seG7Vb" style="color:color:{{page.foreground_color}};border-color:color:{{page.foreground_color}} !important;" class="btn-try-it-out typeform-share" data-mode="1" target="_blank" onclick="window.mixpanel.track('Typeform demo request');">Request a demo</a>
          <br>
          <div id="wrap">
            <div class="phone" id="iphone">
              <div class="camera"></div>
              <div class="speaker"></div>
              <div class="screen" style="overflow:hidden;">
                <video preload="auto" loop="loop" autoplay="" width="100%">
                    <source src="https://images.plot.ly/background-images/iphone-screencast.mp4" type="video/mp4">
                </video>
              </div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="background:{{page.background_color}};padding:60px;color:{{page.foreground_color}};text-align:center;">
        <h1 style="font-size:22px;">{{page.industry}} dashboards made easy</h1>
        <br><br>
        <p style="font-size:18px;color:{{page.foreground_color}};opacity:0.6;">
            1. Sign up: <a href="https://plot.ly/" target="_blank">plot.ly</a><br><br>
            2. Chart data: <a href="https://plot.ly/plot" target="_blank">plot.ly/plot</a><br><br>
            3. Combine charts: <a href="https://dashboards.ly/" target="_blank">dashboards.ly</a>
        </p>
    </div>
</div>

