  <link rel="shortcut icon" href="https://plot.ly/gh-pages/documentation/static//images/plotly-ico.png" />
  <link rel="stylesheet" type="text/css" href="{{site.staticurl}}/fonts/font-awesome/css/font-awesome.min.css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/keen-dashboards.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- For slider -->
  <link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/iThing.css" />
</head>
<body class="application">