<div>
    <div style="background:white;padding:60px;" class="row">
        <div class="col-sm-6">
            {% include dashboards-copy/sales-copy.html %}
            <br><br>
            <ul style="font-size:18px;font-weight:200;">
                <li>Plotly works with tools that your data science team likes: R, Python, MATLAB, and Excel.</li>
                <br>
                <li>Plotly dashboards are gorgeous. They look and present better than any other dashboard platform.</li>
                <br>
                <li>Plotly dashboards work in a web browser or your phone. Never download or install anything.</li>
            </ul>
        </div>
        <div class="col-sm-6">
          <div id="wrap">
            <div class="phone" id="iphone">
              <div class="camera"></div>
              <div class="speaker"></div>
              <div class="screen">

              </div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="background:{{page.background_color}};padding:60px;color:{{page.foreground_color}};text-align:center;">
        <h1 style="font-size:22px;">{{page.industry}} dashboards made easy</h1>
        <br><br>
        <p style="font-size:18px;color:{{page.foreground_color}};opacity:0.6;">
            1. Sign up: <a href="https://plot.ly/" target="_blank">plot.ly</a><br><br>
            2. Chart data: <a href="https://plot.ly/plot" target="_blank">plot.ly/plot</a><br><br>
            3. Combine charts: <a href="https://dashboards.ly/" target="_blank">dashboards.ly</a>
        </p>
    </div>
</div>
