    <hr>

    <p class="small text-muted" style="text-align:center;">
        <h3>
                <a href="https://plot.ly/feed?q={{page.industry}}" target="_blank">
                    <i class="icon-search"></i> Discover more {{page.industry}} dashboard charts on the Plotly feed
                </a>
        </h3>
    </p>

  </div>

  <script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{site.staticurl}}/javascripts/dashboard-industries.js"></script>
