{% for page in languagelistimg %}
  {% if page.display_as == "chart_type" %}
    {% assign chart_type = true %}
  {% elsif page.display_as == "advanced_charts" %}
    {% assign advanced_charts = true %}
  {% elsif page.display_as == "maps" %}
    {% assign maps = true %}
  {% elsif page.display_as == "3d_charts" %}
    {% assign 3d_charts = true %}
  {% elsif page.display_as == "multiple_axes" %}
    {% assign multiple_axes = true %}
  {% endif %}
{% endfor %}

{% for page in languagelist %}
  {% if page.display_as == "layout_opt" %}
    {% assign layout_options = true %}
  {% elsif page.display_as == "file_settings" %}
    {% assign file_settings = true %}
  {% elsif page.display_as == "tutorial" %}
    {% assign tutorial = true %}
  {% elsif page.display_as == "showcase" %}
    {% assign showcase = true %}
  {% elsif page.display_as == "callbacks" %}
    {% assign callbacks = true %}
  {% elsif page.display_as == "get_request" %}
    {% assign get_request = true %}
  {% endif %}
{% endfor %}


{% if chart_type %}
  <hr>
  <h3 id="basic-charts">
    {% if page.language == "plotly_js" %}
      <a class="no_underline plot-blue" href="#basic-charts">Basic Charts</a>
      <a class="button plotlyjs-download" href="http://bit.ly/1gNqEZP" target="_blank">
	<i class="fa fa-download fa-lg"></i> Download
      </a>
    {% endif %}
  </h3>
  {% if page.language == "plotly_js" %}
    <h5>Plotly.js Basic Charts is free for unlimited use if all links and references to Plotly remain visible and unmodified.</h5>
  {% endif %}
  <div class="row">
    {% for page in languagelistimg %}
      {% if page.display_as == "chart_type" %}
              <a href="/{{page.permalink}}">
                  <div class="alltutcol">
                    <img class="thumbnail" alt="{{page.name}}" src="{{site.staticurl}}{{page.thumbnail}}" >
                    <div class="titlecenter">
                          <h5 class="centered"> {{page.name}} </h5>
                    </div>
                  </div>
              </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if advanced_charts %}
<hr>
<h3 id="advanced-charts">
  <a class="no_underline plot-blue" href="#advanced-charts">Advanced Charts</a>
  <a class="button plotlyjs-download" href="https://plot.ly/product/enterprise/get-in-touch/">$250/developer/year</a>
</h3>
{% if page.language == "plotly_js" %}
  <p>All the charts in <a href="#basic-charts">Basic Charts</a>, plus these:</p>
{% endif %}
  <div class="row">
    {% for page in languagelistimg %}
      {% if page.display_as == "advanced_charts" %}
              <a href="/{{page.permalink}}">
                  <div class="alltutcol">
                    <img class="thumbnail" alt="{{page.name}}" src="{{site.staticurl}}{{page.thumbnail}}" >
                    <div class="titlecenter">
                          <h5 class="centered"> {{page.name}} </h5>
                    </div>
                  </div>
              </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if maps %}
<hr>
<h3 id="maps"><a class="no_underline plot-blue" href="#maps">Maps</a></h3>
  <div class="row">
    {% for page in languagelistimg %}
      {% if page.display_as == "maps" %}
              <a href="/{{page.permalink}}">
                  <div class="alltutcol">
                    <img class="thumbnail" alt="{{page.name}}" src="{{site.staticurl}}{{page.thumbnail}}" >
                    <div class="titlecenter">
                          <h5 class="centered"> {{page.name}} </h5>
                    </div>
                  </div>
              </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if 3d_charts %}
<hr>
<h3 id="3d-charts">
  <a class="no_underline plot-blue" href="#3d-charts">3d Charts</a>
  {% if page.language == "plotly_js" %}
    <a class="button plotlyjs-download" href="https://plot.ly/product/enterprise/get-in-touch/">$995/developer/year</a>
  {% endif %}
</h3>
{% if page.language == "plotly_js" %}
  <h5>All the charts in Basic and Advanced, plus these:</h5>
{% endif %}
  <div class="row">
    {% for page in languagelistimg %}
      {% if page.display_as == "3d_charts" %}
              <a href="/{{page.permalink}}">
                  <div class="alltutcol">
                    <img class="thumbnail" alt="{{page.name}}" src="{{site.staticurl}}{{page.thumbnail}}" >
                    <div class="titlecenter">
                          <h5 class="centered"> {{page.name}} </h5>
                    </div>
                  </div>
              </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if multiple_axes %}
  <hr>
  <h3 id="multiple-axes-subplots-and-insets"><a class="no_underline plot-blue" href="#multiple-axes-subplots-and-insets">Multiple Axes, Subplots, and Insets</a></h3>
    <div class="row">
      {% for page in languagelistimg %}
        {% if page.display_as == "multiple_axes" %}
            <a href="/{{page.permalink}}">
              <div class="alltutcol">
                <img class="thumbnail" alt="{{page.name}}" src="{{site.staticurl}}{{page.thumbnail}}" >
                <div class="titlecenter">
                      <h5 class="centered"> {{page.name}} </h5>
                </div>
              </div>
            </a>
            <div class="{% cycle 'group 2': '', '', 'three-column-clear', '', 'five-column-clear' %}"></div>
        {% endif %}
      {% endfor %}
    </div>
{% endif %}

{% if page.language == "matlab" or page.language == "python" %}
  <hr>
  <h3 id="streaming"><a class="no_underline plot-blue" href="#streaming">Streaming</a></h3>
    <div class="row">
      {% if page.language == "matlab" %}<a href="/matlab/streaming-tutorial/">{% elsif page.language == "python"%}<a href="/python/streaming-tutorial/">{% endif %}
        <div class="alltutcol">
          <img class="thumbnail" alt="Streaming" src="{{site.staticurl}}/images/streaming.gif" >
          <div class="titlecenter">
                <h5 class="centered"> Real-Time Streaming </h5>
          </div>
        </div>
      </a>
  </div>
{% endif %}

{% if layout_options %}
  <hr>
  <h3 id="layout-options"><a class="no_underline plot-blue" href="#layout-options">Layout Options</a></h3>
    <div class="row">
      <ul class="no-list-style">
      {% for page in languagelist %}
        {% if page.display_as == "layout_opt" %}
        <li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
{% endif %}

{% if file_settings %}
  <hr>
  <h3 id="file-settings"><a class="no_underline plot-blue" href="#file-settings">File Settings</a></h3>
    <div class="row">
      <ul class="no-list-style">
      {% for page in languagelist %}
        {% if page.display_as == "file_settings" %}
        <li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
{% endif %}

{% if tutorial %}
  <hr>
  <h3 id="tutorial"><a class="no_underline plot-blue" href="#tutorial">Tutorial</a></h3>
    <div class="row">
      <ul class="no-list-style">
      {% for page in languagelist %}
        {% if page.display_as == "tutorial" %}
        <li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
{% endif %}
{% if page.language == "plotly_js" %}
  <hr>
  <h3 id="showcase-callbacks"><a class="no_underline plot-blue" href="#showcase-callbacks">Showcase and Callbacks</a></h3>
    <div class="row">
      <ul class="no-list-style">
        <li><a class="no-list-style" href="https://plot.ly/javascript-graphing-library/showcase/">Showcase</a></li>
        <li><a class="no-list-style" href="https://plot.ly/javascript-graphing-library/callbacks/">Callbacks</a></li>
      </ul>
    </div>
{% endif %}

{% if get_request %}
  <hr>
  <h3 id="get-requests-static-image-export"><a class="no_underline plot-blue" href="#get-requests-static-image-export">Get Requests, Static Image Export, and Interactive Embedding</a></h3>
    <div class="row">
      <ul class="no-list-style">
        {% for page in languagelist %}
          {% if page.display_as == "get_request" %}
            <li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
{% endif %}
