{% for page in languagelistimg %}
	{% if page.display_as == "chart_type" %}
		{% assign chart_types = true %}
	{% elsif page.display_as == "multiple_axes" %}
		{% assign multiple_axes = true %}
	{% elsif page.display_as == "streaming" %}
		{% assign streaming = true %}
	{% endif %}
{% endfor %}
		
{% for page in languagelist %}		
	{% if page.display_as == "layout_opt" %}
		{% assign layout_options = true %}	
	{% elsif page.display_as == "file_settings" %}
		{% assign file_settings = true %}	
	{% elsif page.display_as == "tutorial" %}
		{% assign tutorial = true %}	
	{% elsif page.display_as == "showcase" %}
		{% assign showcase = true %}			
	{% elsif page.display_as == "callbacks" %}
		{% assign callbacks = true %}		
	{% elsif page.display_as == "get_request" %}
		{% assign get_request = true %}	
	{% endif %}
{% endfor %}


{% if chart_types %}
<h3>Chart Types</h3>
	<div class="row">
		{% for page in languagelistimg %}
			{% if page.display_as == "chart_type" %}
							<a href="/{{page.permalink}}">
									<div class="alltutcol">
										<img class="thumbnail" alt="{{page.name}}" src="{{page.thumbnail}}" >
										<div class="titlecenter">
													<h5 class="centered"> {{page.name}} </h5>
										</div>
									</div>
							</a>
							<div class="{% cycle 'group 1': '', '', 'three-column-clear', '', 'five-column-clear' %}"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}

{% if multiple_axes %}
	<h3>Multiple Axes, Subplots, and Insets</h3>
		<div class="row">
			{% for page in languagelistimg %}
				{% if page.display_as == "multiple_axes" %}
						<a href="/{{page.permalink}}">
							<div class="alltutcol">
								<img class="thumbnail" alt="{{page.name}}" src="{{page.thumbnail}}" >
								<div class="titlecenter">
											<h5 class="centered"> {{page.name}} </h5>
								</div>
							</div>
						</a>
						<div class="{% cycle 'group 2': '', '', 'three-column-clear', '', 'five-column-clear' %}"></div>
				{% endif %}
			{% endfor %}
		</div>
{% endif %}
{% if streaming %}
	<h3>Streaming</h3>
		<div class="row">
			{% for page in languagelistimg %}
				{% if page.display_as == "streaming" %}
						<a href="/{{page.permalink}}">
							<div class="alltutcol">
								<img class="thumbnail" alt="{{page.name}}" src="{{page.thumbnail}}" >
								<div class="titlecenter">
											<h5 class="centered"> {{page.name}} </h5>
								</div>
							</div>
						</a>
						<div class="{% cycle 'group 3': '', '', 'three-column-clear', '', 'five-column-clear' %}"></div>
				{% endif %}
			{% endfor %}
		</div>
{% endif %}

		
		
		
{% if layout_options %}	
	<h3>Layout Options</h3>
		<div class="row">
			<ul class="no-list-style">
			{% for page in languagelist %}
				{% if page.display_as == "layout_opt" %}
				<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
{% endif %}
{% if file_settings %}
	<h3>File Settings</h3>
		<div class="row">
			<ul class="no-list-style">
			{% for page in languagelist %}
				{% if page.display_as == "file_settings" %}
				<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
{% endif %}
{% if tutorial %}
	<h3>Tutorial</h3>
		<div class="row">
			<ul class="no-list-style">
			{% for page in languagelist %}
				{% if page.display_as == "tutorial" %}
				<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
{% endif %}
{% if showcase %}
	<h3>Showcase</h3>
		<div class="row">
			<ul class="no-list-style">
				{% for page in languagelist %}
					{% if page.display_as == "showcase" %}
						<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
{% endif %}
{% if callbacks %}		
	<h3>Callbacks</h3>
		<div class="row">
			<ul class="no-list-style">
			{% for page in languagelist %}
				{% if page.display_as == "callbacks" %}
					<li class="no-list-style"><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
				{% endif %}
			</ul>
			{% endfor %}
		</div>
{% endif %}
{% if get_request %}
	<h3>Get Requests, Static Image Export, and Interactive Embedding</h3>
		<div class="row">
			<ul class="no-list-style">
				{% for page in languagelist %}
					{% if page.display_as == "get_request" %}
						<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
{% endif %}
