{% comment %}First, check which sections this page should contain checking all of the posts{% endcomment %}
{% for page in languagelistimg %}
	{% if page.display_as == "chart_type" or page.display_as == "basic" %}
		{% assign chart_type = true %}
	{% elsif page.display_as == "advanced_charts"%}
		{% assign advanced_charts = true %}
	{% elsif page.display_as == "maps" %}
		{% assign maps = true %}
	{% elsif page.display_as == "chart_events" %}
		{% assign chart_events = true %}
	{% elsif page.display_as == "3d_charts" %}
		{% assign 3d_charts = true %}
	{% elsif page.display_as == "financial_analysis" %}
		{% assign financial_analysis = true %}
	{% elsif page.display_as == "multiple_axes" %}
		{% assign multiple_axes = true %}
    {% elsif page.display_as == "fitting_tools" %}
		{% assign fitting_tools = true %}
	{% elsif page.display_as == "scientific" %}
		{% assign scientific = true %}
	{% elsif page.display_as == "statistical" %}
		{% assign statistical = true %}
	{% elsif page.display_as == "financial" %}
		{% assign financial = true %}
	{% elsif page.display_as == "report_generation" %}
		{% assign report_generation = true %}
	{% elsif page.display_as == "databases" %}
		{% assign databases = true %}

	<!-- START OF GGPLOT CUSTOM LAYOUT -->
	{% elsif page.display_as == "aesthetics" %}
		{% assign aesthetics = true %}
	{% elsif page.display_as == "geoms" %}
		{% assign geoms = true %}
	{% elsif page.display_as == "faceting" %}
		{% assign faceting = true %}
	{% elsif page.display_as == "other" %}
		{% assign other = true %}
	{% elsif page.display_as == "theme" %}
		{% assign theme = true %}	
	<!-- END OF GGPLOT CUSTOM LAYOUT -->	
	
	{% endif %}
{% endfor %}

{% comment %} these are the pages that don't have images to show {% endcomment %}
{% for page in languagelist %}
	{% if page.display_as == "layout_opt" %}
		{% assign layout_options = true %}
	{% elsif page.display_as == "file_settings" %}
		{% assign file_settings = true %}
	{% elsif page.display_as == "tutorial" %}
		{% assign tutorial = true %}
	{% elsif page.display_as == "get_request" %}
		{% assign get_request = true %}
	{% endif %}
{% endfor %}

<!-- START OF GGPLOT CUSTOM LAYOUT -->

<!-- Aesthetics -->
{% if aesthetics %}
<hr class="example-section-break">
<h4 class="example-section-title" id="aes">
<a class="no_underline plot-blue" href="#aes">Aesthetics</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "aesthetics" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

<!-- Geoms -->
{% if geoms %}
<hr class="example-section-break">
<h4 class="example-section-title" id="geoms">
<a class="no_underline plot-blue" href="#geoms">Geoms</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "geoms" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

<!-- Faceting -->
{% if faceting %}
<hr class="example-section-break">
<h4 class="example-section-title" id="faceting">
<a class="no_underline plot-blue" href="#faceting">Faceting</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "faceting" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

<!-- Other -->
{% if other %}
<hr class="example-section-break">
<h4 class="example-section-title" id="other">
<a class="no_underline plot-blue" href="#other">Other</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "other" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

<!-- theme -->
{% if theme %}
<hr class="example-section-break">
<h4 class="example-section-title" id="theme">
<a class="no_underline plot-blue" href="#theme">theme</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "theme" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}
<!-- END OF GGPLOT CUSTOM LAYOUT -->

{% if chart_type %}
<hr class="example-section-break">
<h4 class="example-section-title" id="basic-charts">
<a class="no_underline plot-blue" href="#basic-charts">Basic Charts</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "chart_type" or page.display_as == "basic" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'basic-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'basic-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if statistical %}
<hr class="example-section-break">
<h4 class="example-section-title" id="statistical-charts">
	<a class="no_underline plot-blue" href="#statistical-charts">Statistical Charts</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "statistical" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'statistical-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'statistical-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if scientific %}
<hr class="example-section-break">
<h4 class="example-section-title" id="scientific-charts">
	<a class="no_underline plot-blue" href="#scientific-charts">Scientific Charts</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "scientific" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'scientific-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'scientific-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if financial %}
<hr class="example-section-break">
<h4 class="example-section-title" id="financial-charts">
	<a class="no_underline plot-blue" href="#financial-charts">Financial Charts</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "financial" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
  <div class="alltutcol">
    <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}">
      <div class="titlecenter">
        <h5 class="centered"> {{page.name}} </h5>
      </div>
  </div>
</a>
<div class="{% cycle 'financial-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'financial-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if maps %}
<hr>
<h4 class="example-section-title" id="maps"><a class="no_underline plot-blue" href="#maps">Maps</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "maps" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
	  <img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
<div class="{% cycle 'maps-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'maps-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if 3d_charts %}
<hr>
<h4 class="example-section-title" id="3d-charts">
<a class="no_underline plot-blue" href="#3d-charts">3D Charts</a>
</h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "3d_charts" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
<div class="{% cycle 'three-d-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'three-d-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if financial_analysis %}
<hr>
<h4 class="example-section-title" id="maps"><a class="no_underline plot-blue" href="#maps">Financial Analysis</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "financial_analysis" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
	<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
<div class="{% cycle 'financial-three-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'financial-clear': '', '', '', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if multiple_axes %}
<hr>
<h4 class="example-section-title" id="multiple-axes-subplots-and-insets"><a class="no_underline plot-blue" href="#multiple-axes-subplots-and-insets">Multiple Axes, Subplots, and Insets</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "multiple_axes" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
<div class="{% cycle 'group2-clear': '', '', 'three-column-clear' %}"></div>
<div class="{% cycle 'group 2': '', '', 'three-column-clear', '', 'five-column-clear' %}"></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if report_generation %}
<hr>
<h4 class="example-section-title" id="report-generation"><a class="no_underline plot-blue" href="#report-generation">Report Generation</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "report_generation" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if databases %}
<hr>
<h4 class="example-section-title" id="databases"><a class="no_underline plot-blue" href="#databases">Connecting to Databases</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "databases" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if fitting_tools %}
<hr>
<h4 class="example-section-title" id="fitting-tools"><a class="no_underline plot-blue" href="#fitting-tools">Fitting Tools</a></h4>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "fitting_tools" %}
<a href="/{{page.permalink}}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
		<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if page.language == "matlab" or page.language == "python" %}
<hr>
<h4 class="example-section-title" id="streaming"><a class="no_underline plot-blue" href="#streaming">Streaming</a></h4>
<div class="row">
{% if page.language == "matlab" %}<a href="/matlab/streaming-tutorial/">{% elsif page.language == "python"%}<a href="/python/streaming-tutorial/">{% endif %}
<div class="alltutcol">
	<img class="thumbnail" alt="Streaming" src="{{site.imgurl}}thumbnail/streaming.gif" >
		<div class="titlecenter">
			<h5 class="centered"> Real-Time Streaming </h5>
		</div>
</div>
</a>
</div>
{% endif %}

{% if chart_events %}
<hr>
<h4 class="example-section-title" id="chart-events">
<a class="no_underline plot-blue" href="#chart-events">Add Custom Controls with JavaScript</a>
</h4>
<p>
All Plotly charts have click, hover and zoom events exposed to add custom controls{% if page.language != "plotly_js" %} with Plotly's JavaScript <a href="https://github.com/plotly/postMessage-API">postMessage API{% endif %}</a>.
</p>
<div class="row">
{% for page in languagelistimg %}
{% if page.display_as == "chart_events" %}
<a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
	<div class="alltutcol">
		<img class="thumbnail" alt="{{page.name}}" src="{{site.imgurl}}{{page.thumbnail}}" >
			<div class="titlecenter">
			<h5 class="centered"> {{page.name}} </h5>
		</div>
	</div>
</a>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if page.language == "r" %}
<hr>
<h4 class="example-section-title" id="layout-options">
<a class="no_underline plot-blue" href="#layout-options">Layout Options</a></h4>
<div class="row">
<div class="six columns">
<ul >
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "layout_opt" %}
{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>

<h4 class="example-section-title" id="file-settings">
<a class="no_underline plot-blue" href="#file-settings">File Settings</a></h4>
<div class="row">
<div class="six columns">
<ul >
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "file_settings" %}
{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>

<h4 class="example-section-title" id="static-image-export">
<a class="no_underline plot-blue" href="#static-image-export">Image Export & Retrieving Plots</a></h4>
<div class="row">
<div class="six columns">
<ul>
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "get_request" %}
{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
<li><a class="no-list-style" href="/{{page.permalink}}">{{page.name}}</a></li>
{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>

{% else %}

{% if layout_options %}
<hr>
<h4 class="example-section-title" id="layout-options"><a class="no_underline plot-blue" href="#layout-options">Layout Options</a></h4>
<div class="row">
<div class="six columns">
<ul>
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "layout_opt" %}
	{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
	<li><a href="/{{page.permalink}}">{{page.name}}</a></li>
	{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

{% if file_settings %}
<hr>
<h4 class="example-section-title" id="file-settings"><a class="no_underline plot-blue" href="#file-settings">File Settings</a></h4>
<div class="row">
<div class="six columns">
<ul>
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "file_settings" %}
	{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
	<li><a href="/{{page.permalink}}">{{page.name}}</a></li>
	{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

{% if tutorial %}
<hr>
<h4 class="example-section-title" id="tutorial"><a class="no_underline plot-blue" href="#tutorial">Tutorial</a></h4>
<div class="row">
<div class="six columns">
<ul>
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "tutorial" %}
	{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
	<li><a href="/{{page.permalink}}">{{page.name}}</a></li>
	{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

{% if get_request %}
<hr>
<h4 class="example-section-title" id="static-image-export"><a class="no_underline plot-blue" href="#static-image-export">Image Export & Retrieving Plots</a></h4>
<div class="row">
<div class="six columns">
<ul>
{% assign counter=0 %}
{% for page in languagelist %}
{% if page.display_as == "get_request" %}
	{% if counter == 4 %}</ul></div><div class="six columns"><ul>{% endif %}
	<li><a href="/{{page.permalink}}">{{page.name}}</a></li>
	{% assign counter=counter | plus:1 %}
{% endif %}
{% endfor %}
</ul>
</div>
</div>

{% if page.language == 'matlab' or page.language == 'python' or page.language == 'matplotlib' %}
<hr>
<h4 class="example-section-title" id="using-offline"><a class="no_underline plot-blue" href="#using-offline">Using Offline</a></h4>
<div class="row">
{% if page.language == 'python' or page.language == 'matplotlib' %}
<p>Plotly is a web-connected service by default, but can also work entirely offline within the IPython Notebook.</p>
{% elsif page.language == 'matlab' %}
<p>Plotly is a web-connected service by default, but can also work entirely locally.</p>
{% endif %}
<div class="six columns">
<ul>

{% if page.language == 'python' or page.language == 'matplotlib' %}
	<li><a href="https://plot.ly/python/offline/">Using plotly offline with IPython</a></li>
{% endif %}

{% if page.language == 'matlab' %}
	<li><a href="https://plot.ly/matlab/offline/">Using plotly offline with MATLAB</a></li>
{% endif %}

</ul>
</div>
</div>
{% endif %}


{% endif %}
{% endif %}
