<div class="headerbar">

  <div class="headerbar-leftside">
      <a href="https://plot.ly/feed/" class="logo">
          <i class="ploticon-plotlylogo"></i>
          <em>plotly</em>
      </a>
  </div>

  <div class="headerbar-rightside hidesmall">

      <a class="button" href="/2/~bar-chart-excel/?plot_type=Bar%20chart">
        &plus; NEW PROJECT
      </a>

      <a class="button" href="https://plot.ly/products/cloud/">
        UPGRADE
      </a>
  </div>

  <div class="headerbar-nav hidesmall">

      <a href="https://plot.ly/feed/" target="_self">
      <span class="headerbar-nav-item ">Explore</span>
      </a>

      <a href="https://plot.ly/products/cloud/" target="_self">
      <span class="headerbar-nav-item ">Pricing</span></span>
      </a>

      <a href="https://plot.ly/products/industries/" onmouseover="dropDownMenu('industries-nav')" onmouseout="hideDropDownMenu('industries-nav')" target="_self">
      <span class="headerbar-nav-item ">Industries</span><span class="caret"></span>
      </a>

          <nav id="industries-nav" role="menu" class="dropdown-menu" onmouseover="dropDownMenu('industries-nav')" onmouseout="hideDropDownMenu('industries-nav')" style="display:none; margin-left: 50px;">
              <a href="https://plot.ly/products/industries/finance/" class="dropdown-menu-item" target="_self">FINANCE</a>
              <a href="https://plot.ly/products/industries/insurance/" class="dropdown-menu-item" target="_self">INSURANCE</a>
              <a href="https://plot.ly/products/industries/aerospace/" class="dropdown-menu-item" target="_self">AEROSPACE</a>
              <a href="https://plot.ly/products/industries/energy/" class="dropdown-menu-item" target="_self">ENERGY</a>
              <a href="https://plot.ly/products/industries/research-and-development/" class="dropdown-menu-item" target="_self">RESEARCH &amp; DEVELOPMENT</a>
              <a href="https://plot.ly/products/industries/automotive/" class="dropdown-menu-item" target="_self">AUTOMOTIVE</a>
              <a href="https://plot.ly/products/industries/government-and-public/" class="dropdown-menu-item" target="_self">GOVERNMENT</a>
              <a href="https://plot.ly/products/industries/pharma/" class="dropdown-menu-item" target="_self">PHARMA &amp; COMPUTATIONAL BIOLOGY</a>
              <a href="https://plot.ly/products/industries/journalism/" class="dropdown-menu-item" target="_self">JOURNALISM</a>
              <a href="https://plot.ly/products/industries/business-intelligence/" class="dropdown-menu-item" target="_self">BUSINESS INTELLIGENCE</a>
          </nav>

      <a href="https://plot.ly/api/" onmouseover="dropDownMenu('api-menu')" onmouseout="hideDropDownMenu('api-menu')" target="_self">
      <span class="headerbar-nav-item ">API</span><span class="caret"></span>
      </a>

          <nav id="api-menu" role="menu" class="dropdown-menu" onmouseover="dropDownMenu('api-menu')" onmouseout="hideDropDownMenu('api-menu')" style="display:none; margin-left: 225px;">
              <a href="/python" class="dropdown-menu-item" target="_self">PYTHON</a>
              <a href="/r" class="dropdown-menu-item" target="_self">R</a>
              <a href="/matlab" class="dropdown-menu-item" target="_self">MATLAB</a>
              <a href="/javascript-graphing-library" class="dropdown-menu-item" target="_self">JAVASCRIPT</a>
              <a href="/api" class="dropdown-menu-item" target="_self">MORE</a>
          </nav>

  </div>

  <div class="hamburger">
    <a href='#popmenufull' onclick='return clickfullmenu();'>
      <img src="http://i.imgur.com/o7Mxj6T.png" alt="Menu" id="hamburgerlink" onmouseover="this.src='http://i.imgur.com/gj2TtuI.png'" onmouseout="this.src='http://i.imgur.com/o7Mxj6T.png'">
    </a>

  </div>

</div>

<!-- POP UP MENU -->
  <div id="popmenufull" style="display:none;">
      <div class="popupheader">
          <div class="headerbar-leftside">
            <a href="/feed/" class="logo">
              <i class="ploticon-plotlylogo"></i>
              <em>plotly</em>
            </a>
          </div>
          <a href='#popmenufull' onclick='return clickfullmenu();'>
          <div class="close"><img alt="close" src="http://i.imgur.com/esVZHwn.png"></div> </a>
      </div>

      <div class="popupmenu">
        <ul>
          <li><a href="https://plot.ly/feed/">Explore</a></li>
          <li><a href="https://plot.ly/products/cloud/">Pricing</a></li>

          <div onmouseover="dropDownMenu('sub-industries')" onmouseout="hideDropDownMenu('sub-industries')">
            <li><a href="https://plot.ly/products/industries/">Industries</a></li>
            <div class="sub-popmenu" id="sub-industries" style="display:none;">
                <ul class="no-margin">
                  <li class="no-margin"><a href="https://plot.ly/products/industries/finance/">FINANCE</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/insurance/">INSURANCE</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/aerospace/">AEROSPACE</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/energy/">ENERGY</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/research-and-development/">RESEARCH &amp; DEVELOPMENT</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/automotive/">AUTOMOTIVE</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/government-and-public/">GOVERNMENT</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/pharma/">PHARMA &amp; COMPUTATIONAL BIOLOGY</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/journalism/">JOURNALISM</a></li>
                  <li class="no-margin"><a href="https://plot.ly/products/industries/business-intelligence/">BUSINESS INTELLIGENCE</a></li>
                </ul>
            </div>
          </div>
          <div onmouseover="dropDownMenu('sub-api')" onmouseout="hideDropDownMenu('sub-api')">
            <li><a href="https://plot.ly/api/">API</a></li>
            <div class="sub-popmenu" id="sub-api" style="display:none;">
              <ul class="no-margin">
                <li class="no-margin"><a href="/python">PYTHON</a></li>
                <li class="no-margin"><a href="/r">R</a></li>
                <li class="no-margin"><a href="/matlab">MATLAB</a></li>
                <li class="no-margin"><a href="/javascript">JAVASCRIPT</a></li>
                <li class="no-margin"><a href="/api">MORE</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </div>

  </div>

  <!-- POPUP MENU FULL PAGE -->
  <script>
  function clickfullmenu(){
    var thediv=document.getElementById('popmenufull');
    if(thediv.style.display == "none"){
      thediv.style.display = "";
    }else{
      thediv.style.display = "none";
    }
    return false;
  };
  </script>

  <!-- Drop Down Menu -->
  <script>
  function dropDownMenu(divID){
    var chosenDiv = document.getElementById(divID);
    console.log(chosenDiv);
    if(chosenDiv.style.display == "none"){
      chosenDiv.style.display = "block";
    }
  };
  function hideDropDownMenu(divID){
    var chosenDiv = document.getElementById(divID);
    console.log(chosenDiv);
    if(chosenDiv.style.display == "block"){
      chosenDiv.style.display = "none";
    }
  }
  </script>
