    <head>

	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/plotly_icons.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    	
	<!-- Stytlesheets -->
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/base.css">
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/layout_block.css">
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/modules.css">
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/state.css">
	<link rel="stylesheet" type="text/css" href="http://help.plot.ly/documentation/css/api_docs.css">

	<!-- Icon -->
	<link rel="shortcut icon" href="/images/plotly-ico.png" type="image/x-icon" />
	 
	<!-- META TAGS -->
	{% include seo.html %}
	
	<!-- code highlighting -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.6/styles/default.min.css">
	<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	</head>
