<div class="header-large--wrap">
    <div class="header--blue-bg">


        <div class="--image"></div>
        <div class="header--meta-content">
            {% if page.language == "plotly_js" %}
            <h2 class="special-header">
                plotly.js
            </h2>
            {% endif %}

            {% if page.language == "nodejs" or page.language == "julia" or page.language == "dashboards" %}
            <p>
                Plotly is free for unlimited public use.
                <a class="button" href="https://plot.ly/products/cloud/" target="_blank">Sign up for free!</a>
            </p>

            <p>
                Sensitive data? Upgrade to a <a href="https://plot.ly/products/cloud/">paid plan</a>
            </p>

            {% elsif page.language == "plotly_js" %}
            <p>The open source JavaScript graphing library that powers Plotly</p>
            {% elsif page.title == "Plot Twist" %}
            <p>Plot Twist</p>
            {% endif %}
        </div>
    </div>
</div>
