<div class="header-large--wrap">
    <div class="header--blue-bg">
        <div class="--image"></div>
        <div class="header--meta-content">
            {% if page.language == "plotly_js" %}
            <h2 class="special-header">
                plotly.js
            </h2>
            {% endif %}

            {% if page.language == "nodejs" or page.language == "julia" or page.language == "dashboards" %}
            <p>
                Plotly is free for unlimited public use.
                <a class="button" href="https://plot.ly/products/cloud/" target="_blank">Sign up for free!</a>
            </p>

            <p>
                Sensitive data? Upgrade to a <a href="https://plot.ly/products/cloud/">paid plan</a>
            </p>

            {% elsif page.language == "plotly_js" %}
            <p>The open source JavaScript graphing library that powers plotly</p>
            {% elsif page.title == "Plot Twist" %}
            <p>Plot Twist</p>
            <!--Custom for ggplot2-->
            {% elsif page.language == "ggplot2" %}
            <p>
                Plotly for ggplot2 is now entirely open source, free, and self-hosted
            </p>
            <p>
                Learn more about <a href="https://plot.ly/javascript/open-source-announcement">why we've open
                sourced</a>
            </p>
            {% else %}
            <p>Plotly for {{ page.language | capitalize }} is now entirely open source, free, and self-hosted</p>
            <p>
                Learn more about <a href="https://plot.ly/javascript/open-source-announcement">why we've open
                sourced</a>
            </p>
            </p>
            {% endif %}

            <div class="github-star">
                {% if page.language == "plotly_js" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.js&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% elsif page.language == "ggplot2" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=ropensci&repo=plotly&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% elsif page.language == "matlab" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=plotly&repo=matlab-api&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% elsif page.language == "matplotlib" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.py&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% elsif page.language == "python" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.py&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% elsif page.language == "r" %}
                <iframe src="https://ghbtns.com/github-btn.html?user=ropensci&repo=plotly&type=star&count=true&size=large"
                        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                {% endif %}
            </div>

            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=plotly" id="_carbonads_js"></script>
        </div>
    </div>
</div>
