	<nav class="lang-nav">
		<ul class="lang-nav--list">


	{% assign page_type  = page.permalink | remove_first: page.language %}
	{% if page.permalink contains "javascript" %}
		{% assign page_type  = page.permalink | remove_first: "javascript" %}
	{% endif %}

	{% if page.language == "python" %}
		{% assign pyclass = "current" %}
	{% elsif page.language == "pandas" %}
		{% assign pdclass = "current" %}
	{% elsif page.language == "excel" %}
		{% assign xlsxclass = "current" %}
	{% elsif page.language contains "matlab" %}
		{% assign matclass = "current" %}
	{% elsif page.language == "r" %}
		{% assign rclass = "current" %}
	{% elsif page.url contains "nodejs" %}
		{% assign nodejsclass = "current" %}
	{% elsif page.url contains "julia" %}
		{% assign juliaclass = "current" %}
	{% elsif page.url contains "matplotlib" %}
		{% assign matplotclass = "current" %}
	{% elsif page.url contains "ggplot2" %}
		{% assign ggplotclass = "current" %}
	{% elsif page.url contains "javascript" %}
		{% assign plotjsclass = "current" %}
	{% elsif page.url contains "scala" %}
		{% assign scalaclass = "current" %}
	{% endif %}

	{% assign allpages = site.posts %}

	{% for page in allpages %}
		{% if page.permalink contains {{page_type}} and page.language == "excel" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{xlsxclass}}" href="http://help.plot.ly/excel{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/excel-small.png" alt="python" class="lang_nav_thum"></div>
                    Excel
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "python" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{pyclass}}" href="/python{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/python-small.png" alt="python" class="lang_nav_thum"></div>
                    Python
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "pandas" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{pdclass}}" href="/pandas{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/pandas-small.png" alt="pandas" class="lang_nav_thum"></div>
                    Pandas
                </a>
            </li>
		{% endif %}

		{% if page.permalink contains {{page_type}} and page.language == "matlab" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{matclass}}" href="/matlab{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/MATLAB-small.png" alt="matlab" class="lang_nav_thum"></div>
                    MATLAB
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "r" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{rclass}}" href="/r{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/r-small.png" alt="r" class="lang_nav_thum"></div>
                    R
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "matplotlib" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{matplotclass}}" href="/matplotlib{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/matplotlib_med.png" alt="matplotlib" class="lang_nav_thum"></div>
                    matplotlib
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "ggplot2" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{ggplotclass}}" href="/ggplot2{{page_type}}">
                    <div><img src="http://surf8.blue/wordpress/wp-content/uploads/2015/02/ggplot2-official-hexbin-logo.png" alt="ggplot2" class="lang_nav_thum"></div>
                    ggplot2
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "plotly_js" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{plotjsclass}}" href="/javascript{{page_type}}">
					<div><img src="https://images.plot.ly/language-icons/api-home/js-logo.png" alt="plotly.js" class="lang_nav_thum"></div>

					plotly.js
                </a>
            </li>
		{% endif %}
		{% if page.permalink contains {{page_type}} and page.language == "scala" %}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{scalaclass}}" href="/scala{{page_type}}">
					<img src="http://images.plot.ly/plotly-documentation/thumbnail/scala-small.jpg" alt="scala" class="lang_nav_thum">

					Scala
                </a>
            </li>
		{% endif %}
			{% if page.permalink contains {{page_type}} and page.language == "nodejs" %}
			<li class="lang-nav--item">
				<a class="lang_nav_button" href="/nodejs{{page_type}}">
					<div><img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="node js" class="lang_nav_thum"></div>

					node.js
				</a>
			</li>
			{% endif %}
	{% endfor %}
			</ul>
		</nav>
