<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./marketplace-kpi-metrics-dashboard.html">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand" >Marketplace KPI Dashboard - {{page.name}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/python/dashboard/marketplace-kpi-metrics">Summary</a></li>
        <li><a href="/python/dashboard/supply-side-kpi-metrics">Supply Side</a></li>
        <li><a href="/python/dashboard/demand-side-kpi-metrics">Demand Side</a></li>
        <li><a href="/python/dashboard/mashup-kpi-metrics">Mashup</a></li>
      </ul>
            <span style="border:0; overflow:hidden; position:absolute; right:10px; top:15px;">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://plot.ly/{{page.permalink}}" data-via="plotlygraphs" data-hashtags="d3js">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </span>
    </div>
  </div>
</div>

<div id="preamble" style="padding:30px;">
<h4 style="color:#888;">To help new and existing marketplace founders bring their KPIs to life, I've created dashboards for 4 separate areas</h4>
<ul>
<li><b><a href="/python/dashboard/marketplace-kpi-metrics">Marketplace Summary Metrics</a></b> High level metrics to highlight whats happening in the marketplace </li>
<li><b><a href="/python/dashboard/supply-side-kpi-metrics">Supply Side Metrics</a></b> Metrics highlighting specific trends with the supplier side of the marketplace </li>
<li><b><a href="/python/dashboard/demand-side-kpi-metrics">Demand Side Metrics</a></b> Metrics highlighting specific trends with the demand side of the marketplace </li>
<li><b><a href="/python/dashboard/mashup-kpi-metrics">Mashup Metrics</a></b> Metrics that mash up buyer and supplier side metrics to see if there are any trends that stand out </li>
</ul>
<p><a href="http://www.batting399.com/">Read more</a> about why these dashboards were created</p>
<footer><a href="http://www.paywithatweet.com/pay?id=292be2c5-af50-4ecb-8d6b-fada9ad5c528">Download the code</a> create these dashboard in exchange for a tweet</footer></p>
</div>