<link rel="shortcut icon" href="{{site.staticurl}}/images/plotly-ico.png" />
<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/keen-dashboards.css">
<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/marketplace-dashboards.css">  
<style type="text/css"></style><style id="holderjs-style" type="text/css"></style><script type="text/javascript" src="{{site.staticurl}}/javascripts/saved_resource"></script><link type="text/css" href="{{site.staticurl}}/css/ui+en,table+en.css" rel="stylesheet"><script type="text/javascript" src="{{site.staticurl}}/javascripts/webfontloader,format+en,default+en,ui+en,table+en,corechart+en.I.js"></script></head>
<body class="application">