<hr>

<p class="small text-muted">Dashboard Template from: <a href="http://keen.github.io/dashboards/layouts/">Keen IO</a>
<br>Charting: <a href="https://plot.ly/">Plot.ly</a></p>


<script type="text/javascript" src="{{site.staticurl}}/javascripts/slider/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{site.staticurl}}/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{site.staticurl}}/javascripts/holderjs/holder.js"></script>
<script>
Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="{{site.staticurl}}/js/keen.min.js"></script>
<script type="text/javascript" src="{{site.staticurl}}/js/meta.js"></script>
<script type="text/javascript" src="{{site.staticurl}}/javascripts/marketplaceDashboards.js"></script>