<div class="navigation-bar">

    <p class="align-left padding_left_small"><a href="http://help.plot.ly/"><i class="fa fa-life-ring"></i> Help</a><span>/</span><a href="/api/">API Libraries</a><span>/</span><a href="/{% if page.permalink contains 'javascript' %}javascript{% else %}{{page.language}}{% endif %}" {% if page.layout == "langindex" %} id="nav-not-active" {% endif %} >{% if page.language == "plotly_js" %}plotly.js{% elsif page.language == "ggplot2" %}ggplot2{% elsif page.language == "matlab" %}MATLAB{% elsif page.language == "matplotlib" %}matplotlib{% else %}{{page.language | capitalize}}{% endif %}</a><span>/</span><a href="#">{{page.name}}</a></p>

    <div class="float-right padding_right_small" style="margin-top:10px;">
        <a id="forklink" href="https://github.com/plotly"><i class="fa fa-github-alt"></i> Fork on GitHub</a>
    </div>

</div>
