    <section class="section">
        <h2 >Installation</h2>
        <div class="content-box">
            <p>
                To install Plotly's Python package, use the package manager pip inside your terminal.
            </p>

            <pre><code>$ pip install plotly</code></pre>
            <p>
                or
            </p>
            <pre><code>$ sudo pip install plotly</code></pre>

            <p >
                If you don't have <b>pip</b> installed on your machine, <a  href="https://pip.pypa.io/en/latest/installing.html" target="_blank">click here</a> for pip's installation instructions.
            </p>

            <p >
                Plotly's Python package is updated frequently! To upgrade, run:
            </p>
            <pre><code>$ pip install plotly --upgrade</code></pre>

        </div>
    </section>

    <section class="section">
        <h2 >Initialization</h2>
        <div class="content-box">
            <p >
                In the terminal, copy and paste the following to install the Plotly library and set your user credentials.
            </p>

            <pre><code>$ pip install plotly
$ python -c "import plotly; plotly.tools.set_credentials_file(username='DemoAccount', api_key='lr1c37zw81')"</code></pre>

            <p >
                You'll need to replace <code class="no-padding">'DemoAccount'</code> and <code class="no-padding">'lr1c37zw81'</code> with your Plotly username and <a href="https://plot.ly/settings/api/" target="_blank">API key</a>.
            </p>

            <p >
                <a href="https://plot.ly/settings/api/" target="_blank">Find my API key.</a>
            </p>

            <br>

            <h6>Special Instructions for <a class="no_underline"  href="https://plot.ly/product/enterprise/">Plotly On-Premise</a> users</h6>

            Your API key for account on the public cloud will be different than the API key in Plotly On-Premise. Visit https://plotly.your-company.com/settings/api/ to find your Plotly On-Premise API key. Remember to replace "your-company.com" with the URL of your Plotly On-Premise server.

            <p>If your company has a Plotly On-Premise server, change the Python API endpoint so that it points to your company's Plotly server instead of Plotly's cloud.</p>

            <br>

            <p>In your Terminal, enter:<p>

            <pre><code class="terminal">
$ python -c "import plotly; plotly.tools.set_config_file(plotly_domain='https://plotly.your-company.com',
plotly_streaming_domain='stream-plotly.your-company.com', plotly_api_domain='https://api-plotly.your-company.com')"
            </code></pre>

            <p>Make sure to replace "your-company.com" with the URL of your Plotly On-Premise server. <b>Questions? Email support@plot.ly</b></p>

        </div>
    </section>
