<div style="
    background-image: url('http://images.plot.ly/background-images/grey-chart-background.png');
    height: 200px;
    font-family: 'Open sans',verdana,arial,sans-serif;
    z-index: -99;
    position: relative;">

<h2 style="
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    margin: 0px;
    padding-top: 20px;
    font-family: 'Open sans',verdana,arial,sans-serif;">upgrade to pro</h2>

<h5 style="
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    margin: 0;
    padding: 20px 0px;
    color: black;
    font-family: 'Open sans',verdana,arial,sans-serif;">unlimited private files & email support</h5>

<div style="
    text-align: center;
    height: 50%;
    font-family: 'Open sans',verdana,arial,sans-serif;
    background-color: rgba(255,255,255,0.9);">

<a class="button trial-offline-cta" href="https://plot.ly/products/cloud/">$20 per month</a>

</div>
</div>
