&lt;!DOCTYPE html&gt;
&lt;head&gt;
  &lt;!-- Plotly.js --&gt;
  &lt;script src="https://cdn.plot.ly/plotly-latest.min.js"&gt;&lt;/script&gt;
  {% if page.permalink contains "candlestick-charts/" or page.permalink contains "ohlc-charts/" %}
  &lt;!-- PlotlyFinance.js --&gt;
  &lt;script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"&gt;&lt;/script&gt;
  {% endif %}
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- Plotly chart will be drawn inside this DIV --&gt;
  &lt;div id="myDiv"&gt;&lt;/div&gt;
  &lt;script&gt; /* JAVASCRIPT CODE GOES HERE */&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
