{% if page.language == 'r' or page.language == 'ggplot2' or page.language == 'matlab' or page.language == 'python' or page.language == 'matplotlib' %}

<div style="
    background-image: url('http://i.imgur.com/gMliICo.png');
    height: 200px;
    font-family: 'Open sans',verdana,arial,sans-serif;
    position: relative;">

<h2 style="
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: 0px;
    padding-top: 20px;
    font-family: 'Open sans',verdana,arial,sans-serif;">use plotly offline</h2>

<h5 style="
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: 0;
    padding: 20px 0px;
    color: black;
    font-family: 'Open sans',verdana,arial,sans-serif;">$250 / developer / year</h5>

<div style="
    text-align: center;
    height: 50%;
    font-family: 'Open sans',verdana,arial,sans-serif;
    background-color: rgba(255,255,255,0.8);">

{% if page.language == 'r' or page.language == 'ggplot2' %}
<a class="button trial-offline-cta" href="http://purchasing.plot.ly/plotly-offline-r">FREE 14 DAY TRIAL</a>
{% elsif page.language == 'python' or page.language == 'matplotlib' %}
<a class="button trial-offline-cta" href="http://purchasing.plot.ly/plotly-offline-ipython">FREE 14 DAY TRIAL</a>
{% elsif page.language == 'matlab' %}
<a class="button trial-offline-cta" href="http://purchasing.plot.ly/plotly-offline-matlab">FREE 14 DAY TRIAL</a>
{% endif %}

</div>
</div>
{% endif %}
