&lt;!DOCTYPE html&gt; 
&lt;head&gt;
  &lt;!-- D3.js --&gt;
  &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"&gt;&lt;/script&gt;
  &lt;!-- jQuery --&gt;  
  &lt;script src="https://code.jquery.com/jquery-2.1.4.min.js"&gt;&lt;/script&gt;
  &lt;!-- Plotly.js --&gt;   
  &lt;script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;!-- Plotly chart will be drawn inside this DIV --&gt;
&lt;div id="myDiv"&gt;&lt;/div&gt;
  &lt;script&gt;
  /* JAVASCRIPT CODE GOES HERE */
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
