<h6>
    Special Instructions for <a class="no_underline"  href="https://plot.ly/product/enterprise/">Plotly On-Premise</a> users
</h6>

Your API key for account on the public cloud will be different than the API key in Plotly On-Premise. Visit https://plotly.your-company.com/settings/api/ to find your Plotly On-Premise API key. Remember to replace "your-company.com" with the URL of your Plotly On-Premise server.

<p>
    If your company has a Plotly On-Premise server, change the API endpoint so that it points to your company's Plotly server instead of Plotly's cloud.
</p>

<p>In your R console, enter:<p>

<br>

<pre><code class="terminal">set_config_file("https://plotly.your-company.com", "plotly.your-company.com")
</code></pre>

<br><p>Make sure to replace "your-company.com" with the URL of your Plotly On-Premise server. <b>Questions? <a href="mailto:support@plot.ly">support@plot.ly</a></b></p>
