<div id="reference-side-nav">
  <ul>
    <li><a href="#scatter">Scatter</a></li>
    <li><a href="#bar">Bar</a></li>
    <li><a href="#box">Box</a></li>  
    <li><a href="#heatmap">Heatmap</a></li>
    <li><a href="#histogram">Histogram</a></li>
    <li><a href="#histogram2d">Histogram 2d</a></li>
    <li><a href="#pie">Pie</a></li>  
    <li><a href="#histogram2dcontour">Histogram 2d Contour</a></li>  
    <li><a href="#scatter3d">3D Scatter</a></li>  
    <li><a href="#surface">3d Surface</a></li>  
    <li><a href="#mesh3d">3d Mesh</a></li> 
    <li><a href="#scattergeo">Scatter Geo</a></li> 
    <li><a href="#choropleth">Choropleth Map</a></li> 
    <li><a href="#scattergl">WebGL Scatter</a></li>   
    <li><a href="#area">Area</a></li>   
    <li><a href="#layout">Layout</a></li> 
  	<ul>
    	<li><a href="#layout-margin">Margins</a></li> 
    	<li><a href="#layout-xaxis">X Axis</a></li> 
  		<li><a href="#layout-yaxis">Y Axis</a></li> 
  		<li><a href="#layout-scene">3d Scene</a></li> 
  		<ul>
          <li><a href="#layout-scene-xaxis">X Axis</a></li>
          <li><a href="#layout-scene-yaxis">Y Axis</a></li> 
          <li><a href="#layout-scene-zaxis">Z Axis</a></li> 
  		</ul>
  		<li><a href="#layout-geo">Geo Layout</a></li> 
  		<ul>
          <li><a href="#layout-lonaxis">Longitude Axis</a></li>
          <li><a href="#layout-lataxis">Latitude Axis</a></li> 
  		</ul>  
  		<li><a href="#layout-legend">Legend</a></li> 
  		<li><a href="#layout-annotations">Annotations</a></li> 
  		<li><a href="#layout-shapes">Shapes</a></li> 
  	</ul>  
  </ul>
</div>
