{% for obj in attribute %}
    <ul>
    {% if obj[0] != "flags" and obj[0] != "dflt" and obj[0] != "values" and obj[0] != "valType" and obj[0] != "role" and obj[0] != "min" and obj[0] != "max" and obj[0] != "arrayOk" and obj[0] != "flags" and obj[0] != "extras" and obj[0] != "description" and obj[0] != "type" %}
        <li>
            <a href="#{{parentlink}}-{{obj[0]}}">{{obj[0]}}</a>
            {% if obj[1].role == "object" %}
                {% assign parentattribute = attribute %}
                {% assign oldparentlink = parentlink %}
                {% assign attribute = obj[1] %}
                {% capture parentlink %}{{parentlink}}-{{obj[0]}}{% endcapture %}
                {% include reference-toc.html %}
                {% assign attribute = parentattribute %}
                {% assign parentlink = oldparentlink %}
            {% endif %}
        </li>
    {% endif %}
    </ul>
{% endfor %}
