<div id="reference-side-nav">
  <b>PLOT OBJECTS</b>
  <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest:'li', cls:'scrollspy-highlight', repeat: true}">
    <li class="inl-blk"><a href="#scatter">Scatter</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#bar">Bar</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#box">Box</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#heatmap">Heatmap</a></li>
    <br>
    <li class="inl-blk"><a href="#histogram">Histogram</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#histogram2d">Histogram 2d</a></li>
    <br>
    <li class="inl-blk"><a href="#area">Area</a></li></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#pie">Pie</a>
    <br>
    <li class="inl-blk"><a href="#contour">Contour</a></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#histogram2dcontour">Histogram 2d Contour</a></li>
    <br>
    <li class="inl-blk"><b>3D:</b></li>
    <li class="inl-blk"><a href="#scatter3d">Scatter</a></li><li class="inl-blk">&nbsp;|</li>  
    <li class="inl-blk"><a href="#surface">Surface</a></li><li class="inl-blk">&nbsp;|</li>  
    <li class="inl-blk"><a href="#mesh3d">Mesh</a></li>
    <br>
    <li class="inl-blk"><b>Maps:</b></li>
    <li class="inl-blk"><a href="#scattergeo">Scatter Geo</a></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#choropleth">Choropleth</a></li>
    <br>
    <li class="inl-blk"><b>WebGL:</b></li>
    <li class="inl-blk"><a href="#scattergl">Scatter</a></li>
    <br>
    <br>
    <li><a href="#layout">Layout</a></li> 
  	<ul>
    	<li><a href="#layout-margin">Margins</a></li> 
    	<li><a href="#layout-xaxis">X Axis</a></li> 
  		<li><a href="#layout-yaxis">Y Axis</a></li> 
  		<li><a href="#layout-scene">3d Scene</a></li> 
  		<ul>
  		    <li><a href="#layout-scene-camera">Camera</a></li>
          <li><a href="#layout-scene-xaxis">X Axis</a></li>
          <li><a href="#layout-scene-yaxis">Y Axis</a></li> 
          <li><a href="#layout-scene-zaxis">Z Axis</a></li> 
  		</ul>
  		<li><a href="#layout-geo">Geo Layout</a></li> 
  		<ul>
          <li><a href="#layout-geo-lonaxis">Longitude Axis</a></li>
          <li><a href="#layout-geo-lataxis">Latitude Axis</a></li> 
  		</ul>  
  		<li><a href="#layout-legend">Legend</a></li> 
  		<li><a href="#layout-annotations">Annotations</a></li> 
  		<li><a href="#layout-shapes">Shapes</a></li> 
  	</ul>  
  </ul>
</div>
