<div id="reference-side-nav">
  <b>PLOT OBJECTS</b>
  <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest:'li', cls:'scrollspy-highlight', repeat: true}">
    <li class="inl-blk"><a href="#scatter">Scatter</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#bar">Bar</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#box">Box</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#heatmap">Heatmap</a></li>
    <br>
    <li class="inl-blk"><a href="#histogram">Histogram</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#histogram2d">Histogram 2d</a></li>
    <br>
    <li class="inl-blk"><a href="#area">Area</a></li></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#pie">Pie</a></li>
    <br>
    <li class="inl-blk"><a href="#contour">Contour</a></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#histogram2dcontour">Histogram 2d Contour</a></li>
    <br>
    <li class="inl-blk"><b class="underline">3D:</b></li>
    <li class="inl-blk"><a href="#scatter3d">Scatter</a></li><li class="inl-blk">&nbsp;|</li>  
    <li class="inl-blk"><a href="#surface">Surface</a></li><li class="inl-blk">&nbsp;|</li>  
    <li class="inl-blk"><a href="#mesh3d">Mesh</a></li>
    <br>
    <li class="inl-blk"><b class="underline">Maps:</b></li>
    <li class="inl-blk"><a href="#scattergeo">Scatter Geo</a></li><li class="inl-blk">&nbsp;|</li> 
    <li class="inl-blk"><a href="#choropleth">Choropleth</a></li>
    <br>
    <li class="inl-blk"><b class="underline">WebGL:</b></li>
    <li class="inl-blk"><a href="#scattergl">Scatter</a></li>
    <br>
    <br>
    <li><a href="#layout" style="font-size:.875em;"><b>LAYOUT</b></a></li>
    <br>
    <li class="inl-blk"><a href="#layout-margin">Margins</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-width">Width</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-height">Height</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-font">Font</a></li>
    <br>
    <li class="inl-blk"><b class="underline"><a href="#layout-xaxis">X Axis:</a></b></li>
    <li class="inl-blk"><a href="#layout-xaxis-title">Title</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-xaxis-type">Type</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-xaxis-tickmode">Ticks</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-xaxis-range">Range</a></li>
    <br>
    <li class="inl-blk"><b class="underline"><a href="#layout-yaxis">Y Axis:</a></b></li>
    <li class="inl-blk"><a href="#layout-yaxis-title">Title</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-yaxis-type">Type</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-yaxis-tickmode">Ticks</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-yaxis-range">Range</a></li>
    <br>
    <li class="inl-blk"><b class="underline"><a href="#layout-scene">3D Scene:</a></b></li> 
  	<li class="inl-blk"><a href="#layout-scene-camera">Camera</a></li><li class="inl-blk">&nbsp;|</li>
  	<li class="inl-blk"><a href="#layout-scene-aspectmode">Aspect Ratio</a></li>
  	<br>
  	<li class="inl-blk"><b class="underline"><a href="#layout-scene-xaxis">3D Axes:</a></b></li>
    <li class="inl-blk"><a href="#layout-scene-xaxis">X</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-scene-yaxis">Y</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-scene-zaxis">Z</a></li>
    <br>
  	<li class="inl-blk"><b class="underline"><a href="#layout-geo">Geo:</a></b></li> 
  	<li class="inl-blk"><a href="#layout-geo-projection">Projection</a></li><li class="inl-blk">&nbsp;|</li>
  	<li class="inl-blk"><a href="#layout-geo-resolution">Resolution</a></li><li class="inl-blk">&nbsp;|</li>
  	<li class="inl-blk"><a href="#layout-geo-scope">Scope</a></li>
  	<br>
  	<li class="inl-blk"><b class="underline"><a href="#layout-geo-lonaxis">Geo-Axes:</a></b></li>
    <li class="inl-blk"><a href="#layout-geo-lonaxis">Longitude</a></li><li class="inl-blk">&nbsp;|</li>
    <li class="inl-blk"><a href="#layout-geo-lataxis">Latitude</a></li>
    <br>
    <br>
  	<li class="inl-blk"><a href="#layout-legend">Legend</a></li><li class="inl-blk">&nbsp;|</li>
  	<li class="inl-blk"><a href="#layout-annotations">Annotations</a></li><li class="inl-blk">&nbsp;|</li>
  	<li class="inl-blk"><a href="#layout-shapes">Shapes</a></li> 
  	</ul>  
  </ul>
</div>
