{% for obj in attribute %}
    <ul>
    {% if obj[0] != "flags" and obj[0] != "dflt" and obj[0] != "values" and obj[0] != "valType" and obj[0] != "role" and obj[0] != "min" and obj[0] != "max" and obj[0] != "arrayOk" and obj[0] != "flags" and obj[0] != "extras" and obj[0] != "description" and obj[0] != "type" %}
        <li>
            {% if toc %}
                {% assign id="" %}
            {% else %}
                {% capture id %}{{parentlink}}-{{obj[0]}}{% endcapture %}
            {% endif %}
            <a class="attribute-name" id="{{id}}" href="#{{parentlink}}-{{obj[0]}}">
                {{ obj[0] }}
            </a>

            {% if display_type %}
                {% if obj[1].valType %}
                    {% if obj[1].valType == "enumerated" %}
                        (<code class="attribute-type">{{ obj[1].valType }} -
                        {% for value in obj[1].values %}
                            {% if value != false and value != true %}
                            <code>"{{value}}"</code>
                            {% else %}
                            <code>{{value}}</code>
                            {% endif %}
                            {% unless forloop.last %}
                            |
                            {% endunless %}
                        {% endfor %}
                        </code>)
                    {% else %}
                    (<code class="attribute-type">{{ obj[1].valType }}</code>)
                    {% endif %}
                {% endif %}
                {% if obj[1].role == "object" %}
                    (<code class="attribute-type">object</code>)
                {% endif %}
            {% endif %}

            {% if display_default and obj[1].dflt %}
                <br>default: {{ obj[1].dflt }}
            {% endif %}

            {% if display_description and obj[1].description %}
            <br>{{ obj[1].description }}
            {% endif %}


            {% if obj[1].role == "object" %}
                {% assign parentattribute = attribute %}
                {% assign oldparentlink = parentlink %}
                {% assign attribute = obj[1] %}
                {% capture parentlink %}{{parentlink}}-{{obj[0]}}{% endcapture %}
                {% include reference-block.html %}
                {% assign attribute = parrentattribute %}
                {% assign parentlink = oldparentlink %}
            {% endif %}
        </li>
    {% endif %}
    </ul>
{% endfor %}
