{% if page.plottype != null %}

{% if page.language == "plotly_js" %}
    {% assign extension = "js" %}
{% elsif page.language == "python" %}    
    {% assign extension = "py" %}
{% endif %}    

<h6 style="
    margin: 100px;
    margin-bottom: 0px;
    border-left: 5px solid #ccc;
    padding-left: 20px;">
    Want more advanced {{page.plottype}} examples in {{ page.language | replace:'_','.' }}?<br>
    <p><a target="blank" href="https://plot.ly/feed/?q=plottype:{{page.plottype}}"><i class="icon-search"></i> Search for {{page.plottype}} on Plotly's feed</a>.</p>
    Append "<span style="color:red;">.{{extension}}</span>" to any plot URL to get the {{ page.language | replace:'_','.' }} code.
</h6>
{% endif %}
