{% if page.plottype %}

{% if page.language == "plotly_js" %}
    {% assign extension = "js" %}
{% elsif page.language == "r" %}
    {% assign extension = "r" %}
{% elsif page.language == "python" %}    
    {% assign extension = "py" %}
{% endif %}    

<h6 style="
    margin: 100px;
    margin-bottom: -50px;
    border-left: 5px solid #ccc;
    padding-left: 20px;">
    Pssst... Need more {{ page.language | replace:'_','.' }} examples?<br>
    <a href="target='blank" href="https://plot.ly/feed/?q={{page.plottype}}"><i class="icon-search"></i> Search for surface plots on Plotly's feed</a> 
    and append "<span style="color:red;">.{{extension}}</span>" to get the {{ page.language | replace:'_','.' }} code. <br>
    <small>https://plot.ly/~empet/6640 → https://plot.ly/~empet/6640<span style="color:red;">.{{extension}}</span></small>
</h6>
{% endif %}
