{% if page.url contains "ipython-notebooks/gallery" %}
{% assign ipython_notebooks_gallery = true %}
{% elsif page.url contains "dashboards" %}
{% assign dashboards = true %}
{% elsif page.url contains "python" %}
{% assign language = "python" %}
{% elsif page.url contains "javascript" %}
{% assign language = "plotly_js" %}
{% elsif page.url contains "ggplot2" %}
{% assign language = "ggplot2" %}
{% elsif page.url contains "matlab" %}
{% assign language = "matlab" %}
{% elsif page.url contains "matplotlib" %}
{% assign language = "matplotlib" %}
{% elsif page.url contains "julia" %}
{% assign language = "julia" %}
{% elsif page.url contains "nodejs" %}
{% assign language = "nodejs" %}
{% elsif page.url contains "pandas" %}
{% assign language = "pandas" %}
{% elsif page.url contains "r/" %}
{% assign language = "r" %}
{% endif %}

{% assign pages_list = site.posts | where:"language", language %}

{% for page in pages_list %}
{% if page.display_as == "chart_type" or page.display_as == "basic" %}
{% assign basic = true %}
{% elsif page.display_as == "advanced_charts"%}
{% assign advanced_charts = true %}
{% elsif page.display_as == "maps" %}
{% assign maps = true %}
{% elsif page.display_as == "chart_events" %}
{% assign chart_events = true %}
{% elsif page.display_as == "3d_charts" %}
{% assign 3d_charts = true %}
{% elsif page.display_as == "financial_analysis" or page.display_as == "financial" %}
{% assign financial = true %}
{% elsif page.display_as == "multiple_axes" %}
{% assign multiple_axes = true %}
{% elsif page.display_as == "fitting_tools" %}
{% assign fitting_tools = true %}
{% elsif page.display_as == "scientific" %}
{% assign scientific = true %}
{% elsif page.display_as == "statistical" %}
{% assign statistical = true %}
{% elsif page.display_as == "layout_opt" %}
{% assign layout_opt = true %}
{% elsif page.display_as == "file_settings" %}
{% assign file_settings = true %}
{% elsif page.display_as == "tutorial" %}
{% assign tutorial = true %}
{% elsif page.display_as == "get_request" %}
{% assign get_request = true %}
{% elsif page.display_as == "report_generation" %}
{% assign report_generation = true %}
{% elsif page.display_as == "databases" %}
{% assign databases = true %}

<!-- START OF GGPLOT CUSTOM LAYOUT -->
{% elsif page.display_as == "aesthetics" %}
{% assign aesthetics = true %}
{% elsif page.display_as == "geoms" %}
{% assign geoms = true %}
{% elsif page.display_as == "faceting" %}
{% assign faceting = true %}
{% elsif page.display_as == "other" %}
{% assign other = true %}
{% elsif page.display_as == "theme" %}
{% assign theme = true %}
<!-- END OF GGPLOT CUSTOM LAYOUT -->

{% endif %}
{% endfor %}


<aside class="--sidebar-container">
    <div class="--sidebar-fixed reference" data-spy="affix" data-offset-top="194" data-offset-bottom="610" id="where">
        <header class="--sidebar-header">Quick Start</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                {% if page.language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/javascript/getting-started" class="js-splash--navigation-item">Getting
                        Started</a>
                </li>

                <li class="--sidebar-item">

                    <a href="https://cdn.plot.ly/plotly-latest.min.js" class="js-splash--navigation-item">CDN</a>
                </li>
                <li class="--sidebar-item">

                    <a download target=href="https://cdn.plot.ly/plotly-latest.min.js"
                       class="js-splash--navigation-item">Download</a>
                </li>
                <li class="--sidebar-item">

                    <a href="{{ BASE_URL }}/javascript/reference" class="js-splash--navigation-item">Chart
                        Attributes</a>
                </li>
                <li class="--sidebar-item">

                    <a href="{{ BASE_URL }}/javascript/plotlyjs-function-reference/" class="js-splash--navigation-item">Function
                        Reference</a>
                </li>
                <li class="--sidebar-item">

                    <a href="{{ BASE_URL }}/javascript/configuration-options/" class="js-splash--navigation-item">Configuration
                        Options</a>
                </li>
                {% else %}
                {% unless dashboards %} <!-- dashboards do not have getting started page -->
                {% if ipython_notebooks_gallery %} <!--ipython notebooks gallery and getting started are crazier -->
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/ipython-notebooks/" class="js-splash--navigation-item">Getting Started</a>
                </li>
                {% else %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/{{ page.language }}/getting-started" class="js-splash--navigation-item">Getting
                        Started</a>
                </li>
                {% endif %}
                {% endunless %}
                {% endif %}

                <!-- Cheat Sheets -->
                {% if page.language == "plotly_js" or page.language == "r" or page.language == "python" or page.language == "matlab" %}
                <li class="--sidebar-item">
                    <a href="https://images.plot.ly/plotly-documentation/images/{{ page.language }}_cheat_sheet.pdf" class="js-splash--navigation-item">Cheat Sheets</a>
                </li>
                {% endif %}

                <!-- Reference Pages -->
                {% if page.language == "r" or page.language == "python" or page.language == "matlab" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/{{ page.language }}/reference" class="js-splash--navigation-item">Chart Attributes</a>
                </li>
                {% endif %}

                <!-- User Guides -->
                {% if page.language == "r" or page.language == "ggplot2" or page.language == "matlab" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/{{ page.language }}/user-guide/" class="js-splash--navigation-item">User Guide</a>
                </li>
                {% endif %}

                {% if page.language == "matplotlib" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/python/matplotlib-to-plotly-tutorial/" class="js-splash--navigation-item">User Guide</a>
                </li>
                {% endif %}

                <!-- GGPlot2 Tutorials -->
                {% if page.language == "r"%}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/ggplot2/" class="js-splash--navigation-item">GGPlot2</a>
                </li>

                <!-- Shiny Tutorial -->
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/{{ page.language }}/shiny-tutorial/" class="js-splash--navigation-item">Shiny Tutorial</a>
                </li>
                {% endif %}

                <!-- Python Specific -->
                {% if page.language == "python" or page.language == "matlab" or page.language == "r" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/{{ page.language }}/offline/" class="js-splash--navigation-item">Use Offline</a>
                </li>
                {% endif %}

                {% if page.language == "python" %}
                {% if ipython_notebooks_gallery %}
                <!-- not required -->
                {% else %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/ipython-notebooks/" class="js-splash--navigation-item">IPython Notebooks</a>
                </li>
                {% endif %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/pandas/" class="js-splash--navigation-item">Pandas</a>
                </li>
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/matplotlib/" class="js-splash--navigation-item">Matplotlib</a>
                </li>
                {% endif %}

                <!-- Pandas Specific -->
                {% if page.language == "pandas" %}
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/ipython-notebooks/cufflinks/" class="js-splash--navigation-item">Cufflinks User Guide</a>
                <li class="--sidebar-item">
                    <a href="{{ BASE_URL }}/python/ipython-notebooks/" class="js-splash--navigation-item">Ipython Notebooks</a>
                </li>
                {% endif %}


            </ul>
        </nav>

        <!-- Examples start -->
        <header class="--sidebar-header">Examples</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                <!-- START OF GGPLOT CUSTOM LAYOUT -->
                {% if aesthetics == true %}
                <li class="--sidebar-item">
                    <a href="#aes" class="js-splash--navigation-item">Aesthetics</a>
                </li>
                {% endif %}
                {% if geoms == true %}
                <li class="--sidebar-item">
                    <a href="#geoms" class="js-splash--navigation-item">Geoms</a>
                </li>
                {% endif %}
                {% if faceting == true %}
                <li class="--sidebar-item">
                    <a href="#faceting" class="js-splash--navigation-item">Faceting</a>
                </li>
                {% endif %}
                {% if other == true %}
                <li class="--sidebar-item">
                    <a href="#other" class="js-splash--navigation-item">Other</a>
                </li>
                {% endif %}
                {% if theme == true %}
                <li class="--sidebar-item">
                    <a href="#theme" class="js-splash--navigation-item">Theme</a>
                </li>
                {% endif %}
                <!-- END OF GGPLOT CUSTOM LAYOUT -->

                {% if basic == true %}
                <li class="--sidebar-item">
                    <a href="#basic-charts" class="js-splash--navigation-item">Basic</a>
                </li>
                {% endif %}
                {% if statistical == true %}
                <li class="--sidebar-item">
                    <a href="#statistical-charts" class="js-splash--navigation-item">Statistical</a>
                </li>
                {%
                endif %}
                {% if scientific == true %}
                <li class="--sidebar-item">
                    <a href="#scientific-charts" class="js-splash--navigation-item">Scientific</a>
                </li>
                {%
                endif %}
                {% if financial == true %}
                <li class="--sidebar-item">
                    <a href="#financial-charts" class="js-splash--navigation-item">Financial</a>
                </li>
                {%
                endif %}
                {% if maps == true %}
                <li class="--sidebar-item">
                    <a href="#maps" class="js-splash--navigation-item">Maps</a>
                </li>
                {% endif %}
                {% if 3d_charts == true %}
                <li class="--sidebar-item">
                    <a href="#3d-charts" class="js-splash--navigation-item">3D</a>
                </li>
                {% endif %}
                {% if report_generation == true %}
                <li class="--sidebar-item">
                    <a href="#report-generation" class="js-splash--navigation-item">Report Generation</a>
                </li>
                {% endif %}
                {% if databases == true %}
                <li class="--sidebar-item">
                    <a href="#databases" class="js-splash--navigation-item">Connecting to Databases</a>
                </li>
                {% endif %}

                {% if fitting_tools == true %}
                <li class="--sidebar-item">
                    <a href="#fitting-tools" class="js-splash--navigation-item">Fitting Tools</a>
                </li>
                {% endif %}
                {% if language == "matlab" or language == "python" %}
                <li class="--sidebar-item">
                    <a href="#streaming" class="js-splash--navigation-item">Streaming</a>
                </li>
                {% endif %}
                {% if chart_events == true %}
                <li class="--sidebar-item">
                    <a href="#chart-events" class="js-splash--navigation-item">Events and Controls</a>
                </li>
                {% endif %}
                {% if layout_opt == true %}
                <li class="--sidebar-item">
                    <a href="#layout-options" class="js-splash--navigation-item">Layout Options</a>
                </li>

                {% endif %}
                {% if file_settings == true %}
                <li class="--sidebar-item">
                    <a href="#file-settings" class="js-splash--navigation-item">File Settings</a>
                </li>

                {% endif %}
                {% if tutorial == true %}
                <li class="--sidebar-item">
                    <a href="#tutorial" class="js-splash--navigation-item">Tutorial</a>
                </li>
                {% endif %}
                {% if get_request == true %}
                <li class="--sidebar-item">
                    <a href="#static-image-export" class="js-splash--navigation-item">Image Export &amp; Retrieving Plots</a>
                </li>
                {% endif %}

                {% if dashboards %}
                <!--override for dashboards index page -->
                <li class="--sidebar-item">
                    <a href="#industry" class="js-splash--navigation-item">By Industry</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#language" class="js-splash--navigation-item">By Data Science Language</a>
                </li>
                {% endif %}

                {% if ipython_notebooks_gallery %}
                <!--override for IPython Gallery  -->
                <li class="--sidebar-item">
                    <a href="#notebook-basics" class="js-splash--navigation-item">Plotly Basics</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#science-and-engineering" class="js-splash--navigation-item">Science and Engineering</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#civic-data" class="js-splash--navigation-item">Civic Data</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#finance" class="js-splash--navigation-item">Finance</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Community -->
        <header class="--sidebar-header">Community</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">

                {% if language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.js/blob/master/CONTRIBUTING.md"
                   class="js-splash--navigation-item">Contributing</a>
                </li>
                {% endif %}

                {% if page.permalink == '/ipython-notebooks/' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/IPython-plotly"
                   class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'python' or page.language == 'pandas' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.py" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'matlab' or page.language == 'matplotlib' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/matlab-api" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'julia' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/Julia-API" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'nodejs' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly-nodejs"
                   class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'r' or page.language == 'ggplot2' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/ropensci/plotly" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'plotly_js' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.js/" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% else %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% endif %}
                <li class="--sidebar-item">
                    <a target="_blank" href="http://community.plot.ly/" class="js-splash--navigation-item">community.plot.ly</a>
                </li>

            </ul>
        </nav>
        <header class="--sidebar-header">Tools</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                <li class="--sidebar-item">
                    <a target="_blank" href="{{ BASE_URL }}/plot" class="js-splash--navigation-item">Web Editor</a>
                </li>
                {% if language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://codepen.io/plotly" class="js-splash--navigation-item">CodePen</a>
                </li>
                {% endif %}
            </ul>
            <button class="--btn back">
                <div class="icon">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000"
                              d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z"/>
                    </svg>
                </div>
                <span><a href="/api/">Back to API Index</a></span>
            </button>
        </nav>
    </div>
</aside>