// Abstract



$slg: #efefef;
$grey:#626262;
$gray-dark:#626262;

$blue: #447bdc;
$bblue: #2391fe;
$lb: rgb(244, 244, 248);
$font: 'Open Sans',sans-serif;
$unit: 10px;
$border: 1px solid darken($slg, 3%);
// $shadow: 0 2px 2px 0 rgba(0, 0, 0, .05),
// 0 1px 4px 0 rgba(0, 0, 0, .08),
// 0 3px 1px -2px rgba(0, 0, 0, .2);
$shadow: 0;
$max-width: 1400px;
$mw: $max-width;
$header-height: 80px;
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


//-------------------
// Mobile Specific Styles

//-------------------

$tablet: 585px;
$desktop: 1024px;
$bigaf: 1315px;
@mixin handheld {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin handheld-up {
  @media (min-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin bigaf {
  @media (min-width: #{$bigaf}) {
    @content;
  }
}