{% capture plotschemacontent %}

{%- for trace in site.data.plotschema.traces -%}

<div class="row">
    <div class="eight columns">
        <a id="{{ trace[0] }}" href="#{{ trace[0] }}"><h4>{{ trace[0] }} traces</h4></a>
        <div class="description">
            <!-- Ugh, wish I could keep `language` out of here -->
            {% if page.language == "plotly_js" %}
            A <code>{{trace[0]}}</code> trace is an object with the key <code>"type"</code> equal to <code>"{{trace[1].attributes.type}}"</code>
            (i.e. <code>{"type": "{{trace[1].attributes.type}}"}</code>) and any of the keys listed below.
            {% elsif page.language == "python" %}
            {% if trace[1].hrName %}
            {% capture graph_object %}{{ trace[1].hrName }}{% endcapture %}
            {% else %}
            {% capture graph_object %}{{trace[0] }}{% endcapture %}
            {% endif %}
            {% capture graph_object %}{{ graph_object | replace: '_', ' ') | capitalize_all | replace: ' ', '' |
            replace: '2d', '2D' | replace: '3d' : '3D'}}{% endcapture %}
            A <code>plotly.graph_objects.{{ graph_object }}</code> trace is a graph object in the figure's <code>data</code> list with any of the named arguments or attributes
            listed below.
            {% elsif page.language == "r" %}
            A <code>{{trace[0]}}</code> trace is initialized with <code>plot_ly</code> or <code>add_trace</code>:<br>
            <code>plot_ly(df, type="{{trace[0]}}"[, ...])<br>
                add_trace(p, type="{{trace[0]}}"[, ...])</code><br>
            A {{trace[0]}} trace accepts any of the keys listed below.
            {% elsif page.language == "matlab" %}
            A <code>{{trace[0]}}</code> trace is a <code>struct</code> inside <code>fig.data</code> which has
            <code>type</code> equal to <code>'{{trace[0]}}'</code>. This section lists all of the valid keys that a
            <code>{{trace[0]}} struct</code> can contain.
            {% endif %}
            <br><br>{{ trace[1].meta.description }}<br><br>
        </div>
        {% assign localparentlink=trace[0] %}
        {% capture localparentpath %}data[type={{trace[0]}}]{% endcapture %}
        {% assign attribute=trace[1].attributes %}
        {% assign display_info = true %}
        {% assign toc = false %}
        {% assign block = "data" %}
        {% include posts/reference-block.html parentlink=localparentlink block=block parentpath=localparentpath %}
    </div>
</div>
<hr>

{%- endfor -%}

<div class="row">
    <div class="eight columns">

            {% assign localparentlink=trace[0] %}
            {% assign attribute=trace[1].attributes %}
            {% assign display_info = true %}
            {% assign toc = false %}
            {% assign block = "data" %}
            <a id="layout" href="#layout"><h4>layout</h4></a>
            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.layout.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.box.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.bar.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.violin.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.waterfall.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.pie.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}

            {% assign localparentlink="layout" %}
            {% assign localparentpath="layout" %}
            {% assign attribute=site.data.plotschema.traces.sunburst.layoutAttributes %}
            {% assign block = "layout" %}
            {% include posts/reference-block.html parentlink=localparentlink block=block  parentpath=localparentpath %}
    </div>
</div>

{% endcapture %}
{% capture curlyarray %}{% raw %}{array}{% endraw %}{% endcapture %}
{% capture curlyarrays %}{% raw %}{arrays}{% endraw %}{% endcapture %}
{% capture curly2darray %}{% raw %}{2D array}{% endraw %}{% endcapture %}
{% capture curlyobject %}{% raw %}{object}{% endraw %}{% endcapture %}
{{ plotschemacontent | replace:'*',quote |
    replace:curlyarray,array | replace:curlyobject,object |
    replace:curlyarrays,arrays | replace:curly2darray,2darray |
    replace:"data_array",data_array | replace:"true",truestring | replace:"false",falsestring | normalize_whitespace }}
