//getting started styles

main.getting-started {
  section.tutorial-content {
    & > h1:first-of-type {
      border-bottom: 0;
      display: none;
      //padding:$unit*4 0;
    }
  }
  div.content-box {
    margin: $unit*2 !important;
    border: $border;
    padding: $unit*2;
    p {
      padding: $unit/2 0 !important;
    }
  }
  *[class*="-download"].button {
    padding: $unit;
    border: $border;
    font-size: 1.5rem;
    text-decoration: none;
  }
  h4 {
    margin: $unit*2 0;
    align-items: center;
  }
  h2 {
    //display: none;
    div.icon.copy {
      //display: none !important;
    }
  }

}

h1, h2, h3, h4, h5, h6{
  display: block !important;
  div.icon.copy{
    display: inline-block !important;
  }

}
.rendered_html{
  h2{
    div.icon.copy{
      display: none !important;
    }

  }
}
a.anchor-link {
  display: none !important;
}

.btnrow {
  .button {
    padding: $unit;
    text-decoration: none;
    background: $lb;
    border: $border;
    margin-right: $unit;
    display: block;
    margin-top:$unit;
    &:hover{
      background:white;
    }
  }
}

h2#getting-started{
  display: flex;
  div.icon{
    display: none;
  }
}
