// Home Styles
.\--wrap-top {
  margin-top: 80px;
}

.page {
  &.\--home {
    .hero {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 110% 110%;
      background-image: url(https://plotly-tutorials.s3-us-west-1.amazonaws.com/assets/api/images/api-bg-img.png);
      width: 100%;
      height: 400px;
      max-height: 500px;
      @include handheld {
        height: 100vh;
        background-size: cover;
      }

      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      //border-bottom:$border;
      position: relative;
      overflow: hidden;

      .\--welcome {
        position: relative;
        z-index: 2;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #fff;
        margin-top: 120px;
        max-width: 700px;
        text-align: center;
        @include handheld {
          margin-top: $unit * 11;
        }
        h2 {
          font-size: 28pt;
          font-family: "Asap", sans-serif;
          margin-bottom: 0;
          margin-top: 20px;
        }
        h1 {
          width: 100%;

          @include handheld {
            font-size: 3rem;
            padding: $unit $unit * 4;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          margin: 0;
          font-weight: 100;
          color: $bblue;
          padding-top: $unit;
          padding-bottom: $unit * 2;
        }
        @include handheld {
          p {
            padding: 0 $unit * 4;
          }
        }
        span {
          color: #fff;
          font-size: 14pt;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    .\--documentation-categories {
      position: relative;
      z-index: 2;
      background-color: $lb;
      padding: $unit * 2;
      width: 100%;
      border-top: $border;
      a {
        &::before {
          display: none;
        }
      }
      .category-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding: $unit * 3;
        max-width: 100%;
        //margin-top:$unit*2.5;
        .github-stars {
          padding-top: 20px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: wrap;
          max-width: 100%;
        }
      }

      ul {
        list-style-type: none;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        li {
          display: flex;
          background: white;
          align-items: baseline;
          flex-wrap: wrap;
          box-sizing: border-box;
          position: relative;
          flex: 1 1 22%;
          margin: $unit;
          transition: 0.2s all ease-in-out;
          //margin-top: $unit*4;
          border: $border;
          @include tablet {
            flex: 1 1 calc(50% - 20px);
          }
          @include handheld {
            flex: 1 1 100%;
            margin: $unit 0;
          }
          .category-meta {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
          .category-img {
            //position: absolute;

            $imgsize: 100px;
            height: $imgsize;
            width: $imgsize;
            @include flex-center;
            background-color: white;
            //border: $border;
            //border-radius: 50%;
            padding: $unit;
            transition: 0.2s all ease-in-out;
            //transform: scale(0.8);
            img,
            svg {
              width: 70%;
              max-width: 70%;
              max-height: 90px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            height: 6px;
            width: 100%;
            background: transparent;
            top: 100%;
            left: 0;
            margin-top: -6px;
            transition: all 0.2s ease-in-out;
          }
          &:hover {
            opacity: 1;
            .category-img {
              background: white;
              border-color: $bblue;
              transform: scale(1);
            }
            h2 {
              color: $bblue;
            }

            cursor: pointer;
            &::before {
              background: $bblue;
              height: 6px;
            }
          }
          p {
            text-align: center;
            margin: 0;
            padding: 0;
            max-width: 80%;
          }
          h2 {
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-align: center;
            font-weight: 500;
            padding: 0;
            margin: $unit * 2.5 0 $unit;
            letter-spacing: 1px;
            color: $grey;
          }
        }
      }
    }
  }
}
