$gray-dark: #626262;
div.prompt{
  visibility: hidden;
  padding:$unit 0;
  font-weight:bold;
}
div.output_subarea::-webkit-scrollbar{
  background: white !important;
}
.highlight, .output_text {
  pre {
    padding: $unit*2;

  }
}

h2.special-header {
  padding-bottom: $unit*2;
  margin: 0;
}

.z-depth-1 {
  width: 100%;
}

pre {
  width: 100%;
  code {
    width: 100%;
  }
}

.page {

  &--single {

    .tutorial-content {
      padding-left: $unit*2;
      * {
        //font-size: 1.1rem;
      }
      strong {
        display: inline !important;
      }
      p {
        //background: $lb;
        //display: flex;
        //flex-wrap:wrap;
        padding: 10px;
        margin: 0;
        position: relative;
        img {
          max-width: 100%;
        }
        &.last {
          + h4 {
            border-top: $border !important;

          }
          + h3 {
            border-top: $border !important;

          }
        }
        &:not(.last)::before {
          //content: '';
          //position: absolute;
          //height: 4px;
          //width: $unit*4;
          //left: $unit*2;
          //background: $slg;
          //top: 100%;
        }
        //display: block;
      }
      a {
        color: $bblue !important;
      }
      ul {
        li {
          padding: $unit;
        }
      }
      p {

        strong {
          font-weight: 700 !important;
        }
      }
      table {
        width: 100%;
        tr {
          width: 100%;
          display: flex;
          th {
            //background: $lb !important;
          }
        }
        td {
          border-bottom: $border;
        }
        td ~ td {
          border-left: $border;
        }
        td, th {
          flex: 1;
          //padding: $unit*2;

          &:nth-of-type(odd) {
            //width:40%;
            //max-width:40%;

          }
          &:nth-of-type(even) {
            //background: lighten($lb, 2%);
            //border-top: $border;
          }
          img {
            max-width: 100%;
          }
        }
      }
      h1:first-of-type {
        border-top: 0;
      }

      p {
        + table {
          border-top: $border;
        }
        + h1, h2, h3, h4 {
          border-top: $border;
        }
      }
      h1, h3, h4 {
        //background: darken($lb, 85%);

      }
      h1 { font-size: 2.5rem; }
      h2 { font-size: 2.5rem; }
      h3 { font-size: 2.5rem; }
      h4 { font-size: 2rem; }
      h5 { font-size: 2rem; }

      h1, h3, h4, h5 {
        + table {
          //border-bottom: $border;
        }
        padding: 15px;
        padding-left: 10px;
        font-weight: 300;
        display: flex;
        margin: 0;
        //flex-direction: column;
        strong {
          font-weight: inherit;
          font-size: 1rem;
          display: inline-block;
          padding-right: $unit;
        }
        div.icon {
          margin-top: 4px;
          margin-left: $unit/2;
          &:hover {
            cursor: pointer;
            svg path {
              fill: $blue;
            }
          }
          svg {
            path {
              fill: darken($slg, 25%);
              //margin-bottom:-20px;
            }
          }
        }

      }
      th {
        border-bottom: $border;
        border-top: $border;
      }
      h5 {
        display: flex;
        //border-top: $border;
        //background: $lb;
        a {
          font-size: 2rem;
          &::before {
            display: none;
          }
        }
      }
    }
  }

}

div.help-links {
  a {
    display: inline-block;
    border: $border;
    padding: $unit;
    &:hover {
      background: lighten($lb, 2%);
    }
  }
}

article {
  img {
    margin: $unit*2 0;
  }
  ul.toc {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $unit*2;
    border-top: $border;
    border-right: $border;
    //padding-left:$unit*2;
    //padding-bottom:$unit*2;
    li {
      border-bottom: $border;
      border-left: $border;
      flex: 1 1 50%;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      a {
        width: 100%;
        padding: $unit*1.5;
        display: flex;
        align-items: center;
        &:hover {
          background: lighten($lb, 2%);
        }
      }
    }
  }
}

div.output_html{
  & > div {
    overflow-x: auto;

  }
}
section.sponsor{
  &--wrap{
    //@extend .wrap;
    display: flex;
    margin-top:$unit*2;
    padding:$unit*4;
    background: $lb;
    max-width:$mw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &--title{

  }
}
section.meta{
  background: $lb;
  padding:$unit*4;
  border:$border;
  div.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
      margin:0 auto;
    }
  }
}
