.\--page-body {
  flex: 1;
  padding-left:0 !important;
  max-width: calc(100% - 220px);
  overflow-x: hidden;
  @include handheld {
    min-width: 100%;
  }

}
body:-moz-handler-blocked  {
  .\--page-body {
    flex: 1;
    padding-left:0 !important;
  }
}

body:not(:-moz-handler-blocked)  {
  main.\--page {
    .\--page-body {
      max-width: calc(100% - 220px);
      //padding-left:220px !important;
    }
  }
}

.\--index {
  min-height: calc(100vh - 660px);

}

.\--tutorial-index {
  //border-right: $border;
  //padding: $unit*2 !important;
  padding-bottom: $unit*2;
  padding-top: $unit*2;
  padding-left: $unit*2 !important;
  padding-right:$unit*2;
  &.tutorial-content, .tutorial-content{
    padding:0 !important;
  }
  .\--welcome {
    //border-bottom: $border;
    padding: $unit*2 0;
    padding-top: 0;
    padding-left: 0 !important;

    position: relative;
    //margin-bottom:$unit*2;

    &::before {
      content: '';
      left: 0;
      top: 100%;
      width: calc(100% - 20px);
      background: darken($lb, 5%);
      height: 1px;
      margin-top: -1px;
      position: absolute;
    }
    .\--title {
      display: flex;
      padding-bottom: $unit;
      flex-direction: row;
      justify-content: flex-start;
      .\--body {
        padding-right: 100px;
        @include handheld {
          padding-right:0;
        }
        flex: 1;
      }
      .\--category-img {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px !important;
        margin-right: $unit*2;

        @include handheld {
          display: none;
        }
        img {
          //max-width:60%;
          max-width: 100%;
          //width: 60px;
          margin: 0 !important;
          //position: absolute;
          //top: 50%;
          //left: 50%;
          //margin-left: -28px;
          //margin-top: -35px;
        }

      }
      h1 {
        font-weight: 100;
        font-size: 3rem;
        margin: 0;
        opacity: 0.7;
      }
      .sub {
        font-size: 1.5rem;
      }
    }
  }

  .\--section {
    margin: $unit*2 0;
    padding: $unit*2;
    border-bottom: $border;

    h5 {
      font-size: 2rem;
      padding: $unit 0;
    }
    img {
      padding: $unit*2 0;
    }
    a {
      display: inline-block;
      padding: 0 4px;
    }

  }
  .\--tutorial-section {
    @include handheld {
      overflow: hidden !important;
    }
    &:not(:last-of-type) {
      //border-bottom: $border;
      position: relative;
      &::before {
        //content: '';
        //left: $unit*2;
        //top: 100%;
        //margin-top: -1px;
        //width: calc(83.25% - 40px);
        //background: darken($lb, 3%);
        //height: 1px;
        //position: absolute;
      }

    }
    header.\--section-header {
      padding: $unit*2;
      font-size: 2rem;
      display: flex;
      padding-left:0;
      position: relative;
      &::before {
        content: '';
        left: 0;
        top: 100%;
        width: 25%;
        background: darken($lb, 3%);
        height: 1px;
        margin-top: -1px;

        position: absolute;
      }
      a {
        &::before {
          display: none;
        }
      }
      div.icon {
        margin-top: 4px;
        margin-left: $unit/2;
        &:hover {
          cursor: pointer;
          svg path {
            fill: $blue;
          }
        }
        svg {
          path {
            fill: darken($slg, 25%);
          }
        }
      }

    }

    &:not(.no-image) {

    }

  }

}

body {
  position: relative;
}

.\--wrap.category-buttons {
  h2 {
    font-weight: 100;
    padding: 0 $unit*1.5;
    text-align: center;
  }
  a {
    width: 100%;
  }
}

.\--more-categories {
  //padding:$unit;
  background: $lb;
  border-top: $border;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .\--wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  & > header {
    display: flex;
    background: white;
    padding: $unit*2 $unit*4;
    border-bottom: $border;
    width: 100%;
    margin-bottom: $unit;
    *:not(.\--wrap) {
      margin: 0;
      padding: 0;
      font-weight: 100;
      font-size: 2rem;
    }

  }
  .\--wrap {
    padding: $unit;
  }
  article {
    box-sizing: border-box;
    flex: 1 1 50%;
    padding: $unit $unit;
    display: flex;
    //align-items: stretch;
    flex-wrap: nowrap !important;
    flex-direction: column;
    header {
      width: 100%;
      //flex: 1;
      background: $blue;
      padding: $unit;
      * {
        margin: 0;
        color: white;
        font-size: 1rem;
      }
    }
    p {
      padding: $unit;
      margin: 0 !important;
      border: $border;
    }
    ul {
      flex: 1 1 100%;
      border: $border;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      border-bottom: 0;
      border-top: 0;

      li {
        flex: 1;
        display: flex;
        align-items: stretch;
        a {
          flex: 1;
          padding: $unit;
          background: white;
          display: flex;
          align-items: center;
          border-bottom: $border;
          text-decoration: none;
          &:hover {
            background: $lb;
          }
        }
      }
    }
  }
}

.\--api {
  .hero {
    border-bottom: $border;
  }
  .\--breadcrumb-container {
    border-bottom: 0;
  }
}

.js-splash--section-title {
  @extend h4;
  font-weight: 600 !important;

  text-transform: capitalize;
}

.js-splash--feature-block {
  .block-title {
    font-weight: 300;
    padding: $unit*2;
    padding-bottom: 0;
    font-size: 2rem;
    //border-top: $border;
    margin-top: $unit;
    text-transform: capitalize;

  }
  .js-splash--inline-text-right, .js-splash--inline-text-left {
    padding: $unit*2;
    background: $lb;
    border: $border;
  }
  .block-content {
    padding: $unit*2;
    font-weight: 400;

  }
}

.\--grid {

  p {
    padding: $unit*2;
    padding-bottom: 0;
  }
}

h2 {
  padding-left: $unit*2;
  font-weight: 100;
  font-size: 2.5rem;
}

hr {
  display: none !important;
}

div.row {
  margin-left: 0;
  padding-left: 0 !important;
  //border-bottom:$border;/
  margin-bottom: $unit*2;
  display: flex;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {

    width: 100%;
    a {
      //width: 100%;
      //white-space: nowrap;
      br {
        display: none;

      }
    }
  }
  h6 {
    font-size: 2rem;
    font-weight: 100;
    padding: $unit*2;
    &::before {
      display: none;
    }
    pre {
      width: 100%;
    }
  }
  div.border {
    margin: $unit*2 0;
    border: $border;
    //padding:$unit*2;
  }
  div.columns {
    max-width: 700px;
    width: 100%;
  }
  flex-wrap: wrap;
  & > p {
    width: 100%;
  }
  & > pre {
    padding: $unit*2;

    code {
    }
    width: 100%;
  }
  .four {
    flex: 1 1 25%;
    border: $border;
    background: $lb;
    align-self: flex-start;
  }
  .eight {
    flex: 1 1 75%;
    padding-right: $unit*2;
    code{
      white-space: normal !important;
    }
    h4 {
      font-weight: 100;
      font-size: 2rem;
      border-bottom: $border;
      padding-bottom: $unit*2;
    }
    ul {
      li {
        margin: $unit*2 0;
        //border-bottom:$border;
        margin-bottom: $unit*2;
        padding-bottom: $unit*2;
        line-height: 2;
        overflow-x: auto;

        ul {
          margin-left: $unit*2;
          padding-left: $unit*2;
          border-left: 5px solid rgba($lb, 0.8);
        }
        a {
          color: $bblue !important;
          display: inline-block;
          font-size: 1.5rem;
        }
      }
    }
  }
  padding-left: $unit*2;
  padding-bottom: $unit*2;

  .toc {
    h4 {
      padding: $unit*2;
      margin: 0;
      border-bottom: $border;
    }
    ul {
      margin: 0;
      background: darken($lb, 3%);
      width: 100%;
      li {
        margin: 0;
        width: 100%;
        li {
          padding-left: $unit*2;
        }
        a {
          background: $lb;
          padding: $unit $unit*2;
          width: 100%;
          display: block;
          margin: 0;
          border-bottom: $border;
          &:hover {
            background: white;
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }

}

div.section {
  //padding-left: $unit*2;
  //padding-right: $unit*4;
}

div.tipbox.row{
  background: $lb;
  padding:$unit*2;
  padding-right:$unit*2 !important;
  padding-left:$unit*2 !important;
  border:$border;
  margin-top:$unit*2;
  //display: block;
  h4{
    div.icon{
      display: none;
    }
    font-size:1.5rem;
    border-bottom:0;
    background: darken($lb, 3%);
  }

  a{
    display: inline-block;
    padding:$unit*2;
    background: lighten($lb, 3%);
    border: $border;
    margin-right:$unit;
    margin-top:$unit;
  }
}

section.section{
  h4{
    a{
      padding:0 $unit/1.5;
    }
    margin-bottom:$unit*2;
  }
  b{
    font-weight:600 !important;
  }
  div.content-box{
    @extend p;
    //padding:$unit*2;
    p{
      padding: $unit*2 0;
    }
  }
}
