<style>
    /*body {
        background-color: #F5F5F5;
    }*/
    div.cell{
        width: 900px;
        margin-left: 13% !important;
        margin-right: auto;
    }
    #notebook li { /* More space between bullet points */
    margin-top:0.8em;
    }

    h1 {
        font-family: 'Alegreya Sans', sans-serif;
    }
    .text_cell_render h1 {
        font-weight: 200;
        font-size: 40pt;
        line-height: 100%;
        color: rgb(8, 66, 133);
        margin-bottom: 0em;
        margin-top: 0em;
        display: block;
    }
    h2 {
        font-family: 'Fenix', serif;
        text-indent:1em;
        text-align:center;
    }
    .text_cell_render h2 {
        font-weight: 200;
        font-size: 28pt;
        line-height: 100%;
        color: rgb(8, 66, 133);
        margin-bottom: 1.5em;
        margin-top: 0.5em;
        display: block;
    }
    h3 {
        font-family: 'Fenix', serif;
        %margin-top:12px;
        %margin-bottom: 3px;
    }
    .text_cell_render h3 {
        font-weight: 300;
        font-size: 18pt;
        line-height: 100%;
        color: rgb(8, 66, 133);
        margin-bottom: 0.5em;
        margin-top: 2em;
        display: block;
    }
    h4 {
        font-family: 'Fenix', serif;
    }
    .text_cell_render h4 {
        font-weight: 300;
        font-size: 16pt;
        color: rgb(8, 66, 133);
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }
    h5 {
        font-family: 'Alegreya Sans', sans-serif;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-style: normal;
        font-size: 16pt;
        margin-bottom: 0em;
        margin-top: 1.5em;
        display: block;
        }
    div.text_cell_render{
        font-family: 'Alegreya Sans',Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%;
        font-size: 130%;
        width:900px;
        margin-left:auto;
        margin-right:auto;
        %text-align:justify;
        %text-justify:inter-word;
    }
    
    
    code{
      font-size: 78%;
    }
    .rendered_html code{
        background-color: transparent;
        white-space: inherit;   
    }
    .prompt{
        display: None;
     }
    .rendered_html code{
    background-color: transparent;
    }

    blockquote{
      display:block;
      background: #f3f3f3;
      font-family: "Open sans",verdana,arial,sans-serif;
      width:610px;
      padding: 15px 15px 15px 15px;
      text-align:justify;
      text-justify:inter-word;
      }
      blockquote p {
        margin-bottom: 0;
        line-height: 125%;
        font-size: 100%;
      }
   /* element.style {
    } */
</style>
<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ["$","$"], ["\\(","\\)"] ],
                    displayMath: [ ["$$","$$"], ["\\[","\\]"] ]
                },
                displayAlign: "center", // Change this to "center" to center equations.
                "HTML-CSS": {
                    styles: {".MathJax_Display": {"margin": 4}}
                }
        });
</script>
