// Grid styles used to display cards for tutorial indexes

// in use: *.--grid
// (usually section.--grid)

.\--tutorial-section {

  &:not(.no-image) {

    .\--grid {
      padding-top: $unit*2;
      // in use: ul.--grid-list
      &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: $unit/2;
        padding-bottom: $unit*2;
        @include handheld {
          padding: 0;
          padding-bottom: $unit*2;

          justify-content: center; // this groups them to be centered in the page together

        }
      }

      // parent: *.--grid-list
      // in use: *.--grid-item
      &-item {
        // flex: 1 1 calc(162px);
        flex: auto;
        width: calc(162px - 20px);
        max-width: 162px;

        background: $lb !important;
        border: $border;

        margin-right: $unit*2;
        margin-top: $unit*2;
        padding: 0 !important;

        // Tablet / Small Desktop
        // forces 2x2
        @include tablet {
          flex: 1 1 calc(162px);

          width: calc(162px);
          max-width: calc(162px);
          min-width: calc(162px);

          margin: 0;
          margin-bottom: $unit*2;

          margin-right: $unit*2;

          // every odd (1, 3, 5, etc) will create the padding in the center of the two columns
          &:nth-of-type(odd) {

          }
        }

        //  Handheld Devices
        // forces 2x2
        @include handheld {
          flex: 1 1 calc(50% - 20px);

          width: calc(162px);
          max-width: calc(162px);
          min-width: calc(162px);

          margin: 0;
          margin-bottom: $unit*2;

          // every odd (1, 3, 5, etc) will create the padding in the center of the two columns
          &:nth-of-type(odd) {
            margin-right: $unit*2;

          }
        }
        img {
          max-width: 160px;
          height: 160px;
          width: 160px !important;
        }
        a {
          &::before {
            display: none;
          }
          display: flex;
          flex-direction: column;
        }

        .\--item {
          //.--item-meta
          &-meta {
            min-height: 130px;

            padding: $unit*2;

            display: flex;
            align-items: center;
            order: 2 !important;

            border-top: $border;

            font-size: 1.3rem;

          }
          &-image {
            position: relative;

            background: $blue;

            width: 160px;
            min-width: 160px;
            max-width: 160px;

            height: 160px;
            min-height: 160px;
            max-height: 160px;

            transition: 0.2s ease-in-out all;

            span {
              position: absolute;

              height: 100%;
              width: 100%;

              display: flex;
              align-items: center;

              padding-left: $unit*2;
              margin-left: 0px;

              color: white;
              font-size: 1.25rem;
              font-weight: 300;

              opacity: 0;
              transition: 0.2s all ease-in-out;

              &::before {
                content: '';

                position: absolute;
                left: $unit*2;
                top: 50%;
                margin-top: 1.5rem;

                width: 40%;
                height: 4px;

                background: darken($lb, 5%);

                opacity: 0.3;

                transform-origin: left;
                transform: scaleX(0);
                transition: 0.2s transform ease-in-out 0.15s;

              }
            }
            img {
              transition: 0.2s ease-in-out all;
              display: block;
            }
          }
        }

        // li.--grid-item Hover (only on desktop devices)
        @include desktop {
          &:hover {
            background: white !important;
            .\--item {
              &-meta {

              }
              &-image {
                span::before {
                  transform: scale(1);
                }
                * {

                }
                img {
                  opacity: 0;
                }
                span {
                  opacity: 1;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }

    }
  }

  &.no-image {
    .\--grid {
      display: block;

      &-list {
        columns: 2;
        border: $border;
        margin-top: $unit*2;
        column-gap: 0;

        @include tablet {
          columns: 1;
        }
      }

      &-item {
        background: white;
        width: 100%;
        margin: 0;
        border: 0;

        -webkit-column-break-inside: avoid; /* Chrome, Safari */
        page-break-inside: avoid; /* Theoretically FF 20+ */
        break-inside: avoid-column; /* IE 11 */
        display: table;

        @include tablet {
          &:not(:last-of-type) {

            a {
              border-bottom: $border;
            }
          }
        }

        a {

          padding: $unit*1.5;
          display: block;
          &:hover {
            background: whitesmoke;
          }

        }

      }
    }

    .\--item {
      &-meta {
        padding: 0;
      }
    }

  }
}
