.\--page {
  position: relative;
  z-index: 3;
  background: white;
}

.header--meta-content {
  //min-height:485px;
  //padding-bottom:180px !important;
  //flex-direction: column;
  //justify-content: flex-start !important;
  //align-items: flex-start !important;
}

.upgrade {
  &#carbonads{
    width: 100%;
    max-width: $max-width;
    margin:0 auto;
    @include handheld{
      margin:0 !important;
      padding:0 !important;
    }
  }
  span {
    display: block;
  }

  .carbon-wrap {
    display: block;
  }
  &--cta {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($blue, 0.5);
    border-top: 1px solid $blue;
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: 5;
    min-height: 160px;
    bottom: 0;
    &:hover {
      background: rgba($blue, 0.8);
    }
  }
  &--header {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: $unit*2;
    color: #9AD1FD;
    //text-transform: uppercase;
    @include tablet {
      padding-bottom: 0;
      padding: 0 $unit;
      text-align: center;
      width:100%;

    }
  }
  &--wrap {
    //border: 1px solid rgba(245, 245, 245, 0.3);
    //border: 1px solid rgba(white, 0.25);
    padding: $unit*2;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border-radius: 5px;
    max-width: 1120px;
    padding: 0;
    @include desktop {
      padding-top:$unit*2;
      padding-bottom:$unit;
    }
    width: 100%;
    margin:0 auto;
    &:hover {
      //background: rgba(white, 0.25);
      text-decoration: none !important;
      //color: white !important;
      .header {
        color: white !important;
      }
      .body {
        color: white;
      }
      .upgrade--header {
        //opacity: 0.75;
        color: white;
      }
    }
    .columns--three {
      @include tablet {
        display: none;
      }
      display: flex;
      li {
        &.image{
          max-width:180px;
          width: 180px;
          margin-right:$unit*2;
          img{
            transform: translateY(-20px);
            max-width:100%;
          }
        }
        text-align: center;
        &:not(:last-of-type) {

          //margin-right: $unit*2;
        }
      }
      .header {
        font-weight: bold;
        color: white;
        text-align: left;
        padding-bottom: $unit;
      }
      .body {
        opacity: 0.75;
        text-align: left;
        padding-right:$unit*2;
        //padding: 0 $unit*4;
      }
    }
  }
}