<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
<div id="header" style="
  background-image: url('https://images.plot.ly/excel/plotlyjs/plotlyjs-banner-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: center top;
  width: 100%;
  height: 350px;
  position: relative;
  ">

	{% include header.html %}
  <div style="
    background-image: linear-gradient(0deg, rgba(100,91,158, 0.89)  0%, rgba(58,124,187, 0.89) 100%);
    width: 100%;
    height: 100%;
  "></div>
  
    <!-- Lang Banner -->
    {% include lang-splash-banner.html %}

</div>

    <!-- sitemap -->
    {% include navigation-bar.html %}

	<div class="allcontent">
		
		{% include search-suggestions.html %}

		<div class="sectionseparator_bg">
			<div class="bigcontainer">

				{% if page.language != "r" %}
					{% unless page.ignore_header %}
					<h1 class="centered" {% if page.language == "plotly_js" %}{% endif %}>
						{{page.name}} in {% if page.language == "plotly_js" %}plotly.js{% elsif page.language == "ggplot2" %}ggplot2{% elsif page.language == "matlab" %}MATLAB{% elsif page.language == "matplotlib" %}matplotlib{% else %}{{page.language | capitalize}}{% endif %}
					</h1>
					{% endunless %}
					{% include lang-navigation.html %}
				{% endif %}
				<div class="row">

				{{ content }}

				</div>
			</div>
		</div>
	</div>

	{% if page.language == "plotly_js" %}
		<img width="250" src="{{ site.staticurl }}/images/browser_support.png">
		<p style="text-align: center;">
			<b style="color:#447adb;">plotly.js</b> runs on all SVG-compatible browsers
		</p>
	{% endif %}

  {% include footer.html %}
	</body>
</html>
