<!DOCTYPE html>
<html>
	{% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/api_docs.css">
	<body>
    {% include header.html %}
	{% include navigation-bar.html %}
		
	<div class="sectionseparator_bg">
		<div class="container">
			<h1 class="centered">{{page.name}} in {{page.language | capitalize}}</h1>
			{% include lang-navigation.html %}
			
			<div class="row">
			
			
	
			{{ content }}
			
			</div>
		</div>
	</div>
    {% include footer.html %}
	</body>
</html>
