<!DOCTYPE html>
<html>
	{% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/api_docs.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.6/styles/default.min.css">
	<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<body>
    {% include header.html %}
	{% include navigation-bar.html %}
		
	<div class="sectionseparator_bg">
		<div class="bigcontainer">
			<h1 class="centered">{{page.name}} in {{page.language | capitalize}}</h1>
			{% include lang-navigation.html %}
			
			<div class="row">
			
			
	
			{{ content }}
			
			</div>
		</div>
	</div>
    {% include footer.html %}
	</body>
</html>
