<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include lang-splash-banner.html %}
{% include _new/_page-components/_header-main.html %}
{% include breadcrumb.html %}

<main class="--page page--single --index">

    <div class="--wrap">

        {% include side-bar.html %}
        <section class="--page-body --tutorial-index">
          <div class="content container">
            <div class="algolia__initial-content js-algolia__initial-content">{{ content }}</div>

            <div class="algolia__search-content js-algolia__search-content">
              <h1 class="page-title">Search</h1>
              <div class="posts algolia__results"></div>
            </div>
          </div>

        </section>
    </div>

</main>

{% include helpbox.html %}
{% include _new/_page-components/_footer-main.html %}

</body>
</html>
