<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include lang-splash-banner.html %}

{% include _new/_page-components/_header-main.html %}

{% include breadcrumb.html %}

<main class="--page page--single --index">

    <div class="--wrap">
        <!-- aside - Main Sidebar-->
        {% if page.page_type == "reference" %}
        {% include reference-side-nav.html %}
        {% elsif page.nosidebar %}
        <!-- If this tag is set to true in the page, it will not apply sidebar -->
        {% else %}
        {% include side-bar.html %}
        {% endif %}
        <!-- Main-->
        <section class="--page-body --tutorial-index">

            <!-- Start pulling content -->
            {{ content }}
            <!--End content -->
        </section>
    </div>

</main>
{% include helpbox.html %}

{% include _new/_page-components/_footer-main.html %}

</body>
</html>
