<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<div id="header" style="
  background-image: url('http://images.plot.ly/excel/plotlyjs/plotlyjs-banner-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: center top;
  width: 100%;
  height: 350px;
  position: relative;
  ">

	{% include header.html %}
  <div style="
    background-image: linear-gradient(0deg, rgba(100,91,158, 0.89)  0%, rgba(58,124,187, 0.89) 100%);
    width: 100%;
    height: 100%;
  "></div>
  
    <!-- Lang Banner -->
    {% include lang-splash-banner.html %}

    <!-- sitemap -->
    {% include navigation-bar.html %}

    <!-- sidebar -->
	  {% include side-bar.html %}
		
	
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
<!-- pin the sidebar to the top -->
$(function() {
    var $sidebar   = $("#sidebar"),
        $window    = $(window),
        $header    = $("#header");
    function setHeight() {
      $sidebar.css({top: Math.max(50,
                (($header.height() + 50) - // 50: margin-top of the first header
                $window.scrollTop()))});
    }
    setHeight();
    $window.scroll(setHeight);
});
</script>

<div class="js-splash--container">
 {% if page.page_type == 'reference' %}style="margin-left:280px;"{% endif %}
					{{ content }}
</div>

{% if page.language == "plotly_js" %}
<div class="sponsor">Distribution powered by</div>
<a target="_blank" href="https://www.fastly.com/"><img src="https://www.fastly.com/sites/default/files/fastly_logo.png" alt="Fastly"></a>
{% endif %}
{% include footer.html %}

</body>
</html>
