<!DOCTYPE html>
<html>
	{% include head.html %}
	<head>
	<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/state.css">
	<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/userguide_style.css">
	</head>
	
	<body>
    {% include header.html %}
	{% include navigation-bar.html %}
		
	<div class="sectionseparator_white">
		<div class="container">
			
			<div class="row">
			<div class="getstartarea">
			
			<h1 class="centered">Plotly for {% if page.language == "plotly_js" %}plotly.js{% elsif page.language == "ggplot2" %}ggplot2{% elsif page.language == "matlab" %}MATLAB{% elsif page.language == "matplotlib" %}matplotlib{% else %}{{page.language | capitalize}}{% endif %} - User Guide</h1>

			
				{{ content }}
			
			
			</div>
			</div>
		</div>
	</div>
    {% include footer.html %}
	</body>
</html>
