<!DOCTYPE html>
<html>
	{% include head.html %}
	<head>
	<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/state.css">
	<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/ipython-notebook-base.css">
	<link rel="stylesheet" type="text/css" href="{{site.staticurl}}/css/ipython-notebook-custom.css">
	</head>

	<body>
		<div class="allcontent">
			{% include header.html %}
				{% include ad-text.html %}
			{% include navigation-bar.html %}

			<div class="sectionseparator_white">
				<div class="container">



					{{ content }}

				</div>
			</div>
		</div>
    {% include footer.html %}
	</body>
</html>
