---
title: Marketing Dashboard
name: Marketing Dashboard
description: Dashboard for marketers. Marketing dashboard has KPIs for lead generation, lead conversion, click-through rate, marketing RoI, and social media analytics.
permalink: dashboards/marketing-and-web-analytics-dashboard/
industry: Marketing
language: dashboard
background_color: '#fb9a99'
foreground_color: '#444'
---
<!DOCTYPE html>
<html>
<head>

{% include seo.html %}

{% include dashboard-head.html %}

{% include dashboard-industries-nav.html %}

<div class="container-fluid">

  <!--------------------->
  <!-- LEAD GENERATION -->
  <!------------------ -->

  <h2>Lead generation metrics</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Q1 Lead Conversions
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12267.embed?autoscale=True&link=false"></iframe>
            </div>
          </div>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12267/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12267" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Q4 Lead Sources
        </div>
        <div class="chart-stage">
            <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12273.embed?autoscale=True&link=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12273/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12273" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Q1 Lead Generation by Geography
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12282.embed?autoscale=True&link=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12282/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12282" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

  </div>


  <!--------------------------------------->
  <!-- CLICK THROUGH RATE AND CONVERSION -->
  <!------------------------------------ -->

  <h2>Click-through rate (CTR) and conversion metrics</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Daily Checkout Funnel Conversion Rate (%)
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12286.embed?autoscale=True&link=false"></iframe>
            </div>
            <div class="chart-notes">
              <a href="https://plot.ly/12286/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
              <a href="https://plot.ly/~jackp/12286" style="float:right"><i class="fa fa-comment"></i> Comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Google Analytics Organic Traffic Conversion Rate (%) Jan 2014
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12345.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12302/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12302" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Checkout Conversions
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12319.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12319/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12319" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Daily Impressions and CTR
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12323.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12323/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12323" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

  </div>

  <!------------------>
  <!-- SOCIAL MEDIA -->
  <!--------------- -->

  <h2>Social media metrics</h2>

  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          @plotlygraphs Friends vs Followers (Top 1,500) - Log 10 Scale
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <iframe width="100%" height="600px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12359.embed?autoscale=True&link=false&modebar=false"></iframe>
            </div>
            <div class="chart-notes">
              <a href="https://plot.ly/12359/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
              <a href="https://plot.ly/~jackp/12359" style="float:right"><i class="fa fa-comment"></i> Comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Twitter Users and Tweet Counter near Hurricane Sandy
        </div>
        <div class="chart-stage">
            <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12363.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12363/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12363" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Twitter Follower Distribution (by product platform)
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12375.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12375/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12375" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Number of Tweets vs Device Source (log scale)
        </div>
        <div class="chart-stage">
            <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12474.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12474/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12474" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sales per Broker, 2014 into 2015
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12481.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12481/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12481" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

  </div>

  <!--------------->
  <!-- RETENTION -->
  <!------------ -->

  <h2>Dashboard charts of Retention</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Monthly Retention for Uber Black vs Non Uber Black
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12495.embed?autoscale=True&link=false&modebar=false"></iframe>
            </div>
            <div class="chart-notes">
              <a href="https://plot.ly/12495/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
              <a href="https://plot.ly/~jackp/12495" style="float:right"><i class="fa fa-comment"></i> Comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Retention by Device Nov-Dev 2014
        </div>
        <div class="chart-stage">
            <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12501.embed?autoscale=True&link=false&modebar=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12501/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12501" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

  </div>

{% include dashboard-industries-footer.html %}

</body>
</html>
