---
title: Insurance Dashboard
name: Insurance Dashboard
description: Insurance dashboard with KPIs for claims analysis, insurance plans customer satisfaction, stochastic modeling for the insurance industry, and more.
permalink: dashboards/insurance/
industry: Insurance
language: dashboard
background_color: '#1f78b4'
foreground_color: 'white'
report_link: https://plot.ly/~Dreamshot/folder/Dreamshot:5782
---
<!DOCTYPE html>
<html>
<head>

{% include seo.html %}

{% include dashboard-head.html %}

{% include dashboard-industries-nav.html %}

<div class="container-fluid">

<h2>Dashboard charts of Claims analysis</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Average Cost per Claim in 2014
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~Dreamshot/5470.embed?autoscale=true&modebar=false&link=false"></iframe>
            </div>
          </div>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/5470/~Dreamshot"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~Dreamshot/5470" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Claims and Premiums Paid, 2012 into 2013
        </div>
        <div class="chart-stage">        
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~Dreamshot/5487.embed?autoscale=true&modebar=false&link=false"></iframe> 
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/5487/~Dreamshot"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~Dreamshot/5487" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>
  </div>

  <h2>Dashboard charts of Revenue analysis</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sales per Broker, 2014 into 2015
        </div>
        <div class="chart-stage">
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~Dreamshot/5497.embed?autoscale=true&modebar=false&link=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/5497/~Dreamshot"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~Dreamshot/5497" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Average time to Settle, by Policy Type
        </div>
        <div class="chart-stage">      
          <iframe id="usaSalesPlot" width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~Dreamshot/5506.embed?autoscale=true&modebar=false&link=false"></iframe>        
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/5506/~Dreamshot"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~Dreamshot/5506" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Net Income Ratio, 2008 to 2014
        </div>
        <div class="chart-stage">        
          <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~Dreamshot/5512.embed?autoscale=true&modebar=false&link=false"></iframe> 
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/5512/~Dreamshot"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~Dreamshot/5512" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>    

    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Customer Satisfaction
        </div>
        <div class="chart-stage">
            <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12168.embed?autoscale=true&modebar=false&link=false"></iframe>
        </div>
        <div class="chart-notes">
          <a href="https://plot.ly/12168/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
          <a href="https://plot.ly/~jackp/12168" style="float:right"><i class="fa fa-comment"></i> Comment</a>
        </div>
      </div>
    </div>
  </div>

  <h2>Dashboard charts of Stochastic modeling for the insurance industry</h2>
  <a href="https://plot.ly/ipython-notebooks/salesforce/">IPython notebook analysis</a>

  <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            UK coal mining disasters (per year), 1851-1962
          </div>
          <div class="chart-stage">        
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~jackp/12561.embed?autoscale=true&modebar=false&link=false"></iframe>
          </div>
          <div class="chart-notes">
            <a href="https://plot.ly/12561/~jackp"><i class="icon-edit"></i> Copy & Edit</a>
            <a href="https://plot.ly/~jackp/12561" style="float:right"><i class="fa fa-comment"></i> Comment</a>
          </div>
        </div>
      </div>    

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Probability of a future disaster
          </div>
          <div class="chart-stage">
              <iframe width="100%" height="480px" frameborder="0" scrolling="no" src="https://plot.ly/~marianne2/1662.embed?autoscale=true&modebar=false&link=false"></iframe>
          </div>
          <div class="chart-notes">
            <a href="https://plot.ly/1662/~marianne2"><i class="icon-edit"></i> Copy & Edit</a>
            <a href="https://plot.ly/~marianne2/1662" style="float:right"><i class="fa fa-comment"></i> Comment</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include dashboard-industries-footer.html %}

</body>
</html>
