<footer class="--footer-main">
        <section class="--footer-top">
            <div class="--wrap">
                <ul class="--footer-body">
                    <li class="--footer-column">
                        <h6 style="color:#e763fa" class="--footer-heading">Products</h6>&#x9;&#x9;&#x9;
                        <ul>
                            <li><a href="https://plot.ly/dash/" target="_self">Dash</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                            <li><a href="https://plot.ly/online-chart-maker/" target="_self">Chart Studio</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                            <li><a href="https://plot.ly/products/oem/" target="_self">Plotly OEM</a></li>
                        </ul>
                    </li>
                    &#x9;&#x9;
                    <li class="--footer-column">
                        <h6 style="color:#636efa" class="--footer-heading">Pricing</h6>&#x9;&#x9;&#x9;
                        <ul>
                            <li><a href="https://go.plot.ly/get-pricing" target="_self">Enterprise Pricing</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                        </ul>
                    </li>
                    &#x9;&#x9;
                    <li class="--footer-column">
                        <h6 style="color:#00cc96" class="--footer-heading">About Us</h6>&#x9;&#x9;&#x9;
                        <ul>
                            <li><a href="https://plot.ly/company/careers" target="_self">Careers</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                            <li><a href="https://plot.ly/resources/" target="_self">Resources</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                            <li><a href="https://medium.com/@plotlygraphs" target="_self">Blog</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                        </ul>
                    </li>
                    &#x9;&#x9;
                    <li class="--footer-column">
                        <h6 style="color:#EF553B" class="--footer-heading">Support</h6>&#x9;&#x9;&#x9;
                        <ul>
                            <li><a href="https://community.plot.ly/" target="_self">Community Support</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                            <li><a href="https://plot.ly/graphing-libraries" target="_self">Documentation</a></li>
                            &#x9;&#x9;&#x9;&#x9;
                        </ul>
                    </li>
                    &#x9;&#x9;
                    <li class="--footer-column">
                        <h6 style="color:#119dff" class="--footer-heading">JOIN OUR MAILING LIST</h6>&#x9;&#x9;&#x9;
                        <ul>
                            &#x9;&#x9;&#x9;&#x9;
                            <li>
                              <p class="subscribe-text"> Sign up to stay in the loop with all things Plotly — from Dash Club to product updates, webinars, and more!</p>
                              <a 
                                href="https://go.plot.ly/subscription" 
                                class="subscribe-button" 
                                target="_blank">
                                Subscribe
                              </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <section class="--footer-meta">
            <div class="--wrap">
                <div class="left">
                    {% include layouts/copyright.html %}
                </div>
                <div class="right">
                    <article class="--tos"><a href="https://plot.ly/terms-of-service/" target="_blank">Terms of Service</a>
                    </article>
                    <article class="--privacy"><a href="https://plot.ly/privacy/" target="_blank">Privacy Policy</a>
                    </article>
                </div>
            </div>
        </section>
    </footer>

{% if page.layout != "langindex" %}
<!-- Mathjax -->
<script type='text/x-mathjax-config'>MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}});</script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML%2CSafe.js&#038;ver=4.1'></script>
{% endif %}
 {% if page.layout == "langindex" %}
<!-- ALGOLIA SEARCH -->
{% if page.permalink == "/python/" %}
<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': 'python_docs',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '/'
  }
</script>
{% elsif page.permalink == "/javascript/" %}
<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': 'js_docs',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '/'
  }
</script>
{% elsif page.permalink == "/r/" or page.permalink == "/ggplot2/" %}
<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': 'r_docs',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '/'
  }
</script>
{% elsif page.permalink == "/python/reference/" or page.permalink == "/javascript/reference/" or page.permalink == "/r/reference/" or page.permalink == "/matlab/reference/" %}
<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': 'schema',
    'apiKey': '{{ site.algolia.read_only_api_key }}',
    'baseurl': '/'
  }
</script>
{% endif %}
 <script id="algolia__template" type="text/template">
{% raw %}
  <div class="algolia__result">
    <a class="algolia__result-link" href="{{ full_url }}">{{{ _highlightResult.name.value }}}</a>
    <div class="algolia__result-text">{{{ _highlightResult.description.value }}}</div>
  </div>
{% endraw %}
</script>
<script id="algolia__template--no-results" type="text/template">
  No results found.
</script>
<script src="//cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>
<script src="/all_static/javascripts/algolia/algolia.js"></script>
{% endif %}
 <!-- Hash offset Script -->
<script src="/all_static//javascripts/hash_offset.js"></script>
 <!-- Image Hover Script -->
<script src="/all_static/javascripts/imghover.js"></script>
 {% if page.language != "python" %}
<!-- code highlighting -->
<script src="/all_static/javascripts/codehighlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
