<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left">
            <div class="-identity">
                <a href="https://plot.ly/"><img src="/all_static/images/plotly_graphing_libraries_1.png" style="height: 66px;"/></a>
                <a href="/graphing-libraries/"><img src="/all_static/images/plotly_graphing_libraries_2.png" style="height: 66px;"/></a>
            </div>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a href="https://go.plot.ly/demo_live" data-mode="1" target="_blank" class="typeform-share button --enterprise-quaternary">DEMO DASH</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
