<head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Call to CDNS -->
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Mono:400,700|Asap"
      rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!-- code highlighting -->
      <link rel="stylesheet" href="/all_static/javascripts/codehighlight/styles/tomorrow.css">
      <link rel="stylesheet" type="text/css" href="/all_static/css/js-splash-highlight.css"/>

      <!-- Main Stylesheets -->
      <link rel="stylesheet" type="text/css" href="/all_static/css/main.css">


      <!-- Main Stylesheets -->
      <link rel="stylesheet" type="text/css" href="/all_static/css/main.css?version={{ site.data.cache_bust_css | truncate: 10, '' }}">
      <link rel="shortcut icon" href="/all_static/images/plotly-ico.png" type="image/x-icon"/>

      {% include layouts/google-tag-head.html %}
      {% include layouts/drift-tag.html %}
      {% include layouts/seo.html %}
</head>
