<head>
      <meta charset="utf-8"/>

      <!-- Media query magic - http://stackoverflow.com/questions/19945658/my-iphone-thinks-its-980px-wide -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
              integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
              crossorigin="anonymous"></script>

      {% if page.language != "python" %}
      <!-- code highlighting -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      {% endif %}

      {% if page.language == "plotly_js" or page.language == "r" or page.language == "ggplot2" %}
        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      {% endif %}

      {% if page.language == "r" or page.language == "ggplot2" %}
        <script src="/all_static/r_files/r_dependencies.js"></script>
      {% endif %}
      <!--
      //// Stylesheets
      -->

      <!-- Fonts -->
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Mono:400,700|Asap" rel="stylesheet" type="text/css"/>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!-- Main Stylesheets -->
      <link rel="stylesheet" type="text/css" href="/all_static/css/main.css?version={{ site.data.cache_bust_css | truncate: 10, '' }}">

      <!-- LOCAL DEV STYLESHEET -->
      <!--<link rel="stylesheet" type="text/css" href="http://api.plotly.dev/all_static/css/main.css">-->

      <!-- Icon -->
      <link rel="shortcut icon" href="/all_static/images/plotly-ico.png" type="image/x-icon"/>

      <!-- Google Tags-->
      {% include layouts/google-tag-head.html %}
      {% include layouts/drift-tag.html %}


    <!-- META TAGS -->
    {% include layouts/seo.html %}


</head>
