	<nav class="lang-nav">
		<ul class="lang-nav--list">


	{%- assign page_type  = page.permalink | remove_first: page.language -%}
	{%- if page.permalink contains "javascript" -%}
		{%- assign page_type  = page.permalink | remove_first: "javascript" -%}
	{%- endif -%}

	{%- if page.language == "python" -%}
		{%- assign pyclass = "current" -%}
	{%- elsif page.language == "excel" -%}
		{%- assign xlsxclass = "current" -%}
	{%- elsif page.language contains "matlab" -%}
		{%- assign matclass = "current" -%}
	{%- elsif page.language == "r" -%}
		{%- assign rclass = "current" -%}
	{%- elsif page.url contains "nodejs" -%}
		{%- assign nodejsclass = "current" -%}
	{%- elsif page.url contains "julia" -%}
		{%- assign juliaclass = "current" -%}
	{%- elsif page.url contains "ggplot2" -%}
		{%- assign ggplotclass = "current" -%}
	{%- elsif page.url contains "javascript" -%}
		{%- assign plotjsclass = "current" -%}
	{%- elsif page.url contains "scala" -%}
		{%- assign scalaclass = "current" -%}
	{%- endif -%}

	{%- assign allpages = site.posts -%}
	{%- for page in allpages -%}
		{%- if page.permalink contains {{page_type}} and page.language == "python" -%}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{pyclass}}" href="/python{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/python-small.png" alt="python" class="lang_nav_thum"></div>
                    Python
                </a>
            </li>
		{%- endif -%}
		{%- if page.permalink contains {{page_type}} and page.language == "r" -%}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{rclass}}" href="/r{{page_type}}">
                    <div><img src="https://plot.ly/gh-pages/documentation/static/images/r-small.png" alt="r" class="lang_nav_thum"></div>
                    R
                </a>
            </li>
		{%- endif -%}
		{%- if page.permalink contains {{page_type}} and page.language == "plotly_js" -%}
			<li class="lang-nav--item">
                <a class="lang_nav_button {{plotjsclass}}" href="/javascript{{page_type}}">
					<div><img src="https://images.plot.ly/language-icons/api-home/js-logo.png" alt="plotly.js" class="lang_nav_thum"></div>

					JavaScript
                </a>
            </li>
		{%- endif -%}
	{%- endfor -%}
			</ul>
		</nav>
