<div class="--title">
    <div class="--body">
      <details>
          <summary>New To Plotly?</summary>
          <br/>
              <section class="tutorial-content --tutorial-index --base">
                {% if page.language == "python" %}
                <div class="js-splash--feature-block">
                    Python Block 
                </div>
                <div class="block-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur qui doloremque, ipsam id fuga non natus sed dignissimos dolore sint quibusdam dolorum ab repudiandae explicabo, ea a ducimus nemo.</p>
                </div>
                {% endif %}
                {% if page.language == "plotly_js" %}
                <div class="js-splash--feature-block">
                    JavaScript Block 
                </div>
                <div class="block-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur qui doloremque, ipsam id fuga non natus sed dignissimos dolore sint quibusdam dolorum ab repudiandae explicabo, ea a ducimus nemo.</p>
                </div>
                {% endif %}
                {% if page.language == "r" %}
                <div class="js-splash--feature-block">
                    R Block 
                </div>
                <div class="block-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur qui doloremque, ipsam id fuga non natus sed dignissimos dolore sint quibusdam dolorum ab repudiandae explicabo, ea a ducimus nemo.</p>
                </div>
                {% endif %}
              </section>
          </details>
    </div>
</div>