<div class="--title">
    <div class="--body">
      <details>
          <summary>New To Plotly?</summary>
          <br/>
              <section class="tutorial-content --tutorial-index --base">
                {% if page.language == "python" %}
                <div class="block-content">
                    <p>Welcome! If this is your first time visiting Plotly's Python graphing library documentation, we suggest you read through our <a href="https://plot.ly/python/getting-started">getting started</a> guide. You might also benefit from reading our <a href="python/creating-and-updating-figures/">guide to creating and updating figures in Python</a>. And don't forget to check out <a href="https://dash.plot.ly">Dash</a>, Plotly's open-source framework for building analytical web applications.</p>
                </div>
                {% endif %}
                {% if page.language == "plotly_js" %}
                <div class="block-content">
                    <p>Welcome! If this is your first time visiting Plotly's JavaScript graphing library documentation, we suggest you read through our <a href="https://plot.ly/javascript/getting-started">getting started</a> guide. </p>
                </div>
                {% endif %}
                {% if page.language == "r" %}
                <div class="block-content">
                    <p>Welcome! If this is your first time visiting Plotly's R graphing library documentation, we suggest you read through our <a href="https://plot.ly/r/getting-started">getting started</a> guide.</p>
                </div>
                {% endif %}
              </section>
          </details>
    </div>
</div>