<aside class="--sidebar-container ref">
    <div class="--sidebar-fixed reference" data-spy="affix">
        <header class="--sidebar-header">Trace Types</header>
        <nav class="--sidebar-body watch" id="where">

            <ul class="--sidebar-list --ref">

                <li class="--sidebar-item --sub-head">Simple</li>

                <li class="--sidebar-item">
                    <a href="#scatter">Scatter</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#scattergl">Scatter GL</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#bar">Bar</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#pie">Pie</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#heatmap">Heatmap</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#image">Image</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#contour">Contour</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#table">Table</a>
                </li>

                <li class="--sidebar-item --sub-head">Distributions</li>

                <li class="--sidebar-item">
                    <a href="#box">Box</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#violin">Violin</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#histogram">Histogram</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#histogram2d">Histogram 2D</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#histogram2dcontour">Histogram 2D Contour</a>
                </li>

                <li class="--sidebar-item --sub-head">Finance</li>

                <li class="--sidebar-item">
                    <a href="#ohlc">OHLC</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#candlestick">Candlestick</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#waterfall">Waterfall</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#funnel">Funnel</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#funnelarea">Funnel Area</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#indicator">Indicator</a>
                </li>

                <li class="--sidebar-item --sub-head">3D</li>

                <li class="--sidebar-item">
                    <a href="#scatter3d">Scatter 3D</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#surface">Surface</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#mesh3d">Mesh</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#cone">Cone</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#streamtube">Streamtube</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#volume">Volume</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#isosurface">Isosurface</a>
                </li>


                <li class="--sidebar-item --sub-head">Maps</li>

                <li class="--sidebar-item">
                    <a href="#scattergeo">Scatter Geo</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#choropleth">Choropleth</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#scattermapbox">Scatter Mapbox</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#choroplethmapbox">Choropleth Mapbox</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#densitymapbox">Density Mapbox</a>
                </li>


                <li class="--sidebar-item --sub-head">Specialized</li>


                <li class="--sidebar-item">
                    <a href="#scatterpolar">Scatter Polar</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#scatterpolargl">Scatter Polar GL</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#barpolar">Bar Polar</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#scatterternary">Scatter Ternary</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#sunburst">Sunburst</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#treemap">Treemap</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#sankey">Sankey</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#splom">SPLOM</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#parcoords">Parallel Coordinates</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#parcats">Parallel Categories</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#carpet">Carpet</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#scattercarpet">Scatter Carpet</a>
                </li>

                <li class="--sidebar-item">
                    <a href="#contourcarpet">Contour Carpet</a>
                </li>

            </ul>
        </nav>
        <header class="--sidebar-header">Layout</header>
        <nav class="--sidebar-body watch" id="where">

            <ul class="--sidebar-list --ref">
                <li class="--sidebar-item">

                    <a href="#layout-title">Title</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-showlegend">Legend</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-margin">Margins</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-autosize">Size</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-font">Fonts</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-paper_bgcolor">Colors</a>

                </li>
                <li class="--sidebar-item --sub-head">Axes and Subplots</li>
                <li class="--sidebar-item">

                    <a href="#layout-xaxis">X Axis</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-yaxis">Y Axis</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-scene">3D Scene</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-geo">Geo</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-mapbox">Mapbox</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-ternary">Ternary</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-polar">Polar</a>

                </li>
                <li class="--sidebar-item --sub-head">Layers</li>
                <li class="--sidebar-item">

                    <a href="#layout-annotations">Annotations</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-shapes">Shapes</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-images">Images</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-sliders">Sliders</a>

                </li>
                <li class="--sidebar-item">

                    <a href="#layout-updatemenus">Update Menus</a>

                </li>
            </ul>
        </nav>
        <button class="--btn back">
                        <div class="icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                      d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z"/>
                            </svg>
                        </div>
                        <span><a href="/{% if page.language == "plotly_js" %}javascript{% else %}{{page.language}}{% endif %}/">Back to {% if page.language == "plotly_js" %}JavaScript{% elsif page.language == "ggplot2" %}ggplot2{% elsif page.language == "matlab" %}MATLAB{% else %}{{page.language | capitalize}}{% endif %}
                        </a></span>
        </button>
    </div>
</aside>
