<!-- SEO Tags - title, meta_description -->
<title>{% if page.name %}{{page.name}} | {% if page.language == 'plotly_js' %} JavaScript {% elsif page.language == 'ggplot2'%} ggplot2 {% elsif page.language == 'matlab' %} Plotly Graphing Library for MATLAB® {% else %}{{page.language | capitalize }}{% endif %} | Plotly {% elsif page.name == '404' %} 404 Page Not Found {% else %} Plotly Open Source Graphing Libraries{% endif %} </title>
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}">

<!-- Bing tags -->
    <meta name="msvalidate.01" content="D319859A832F9F1D15A7646E2A42150A" />
<!-- Facebook tags -->
    <meta property="og:title" content="{% if page.name %}{{page.name}}{% else %}plotly{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{% if page.imageurl %}{{page.imageurl}}{% else %}{% if page.thumbnail%}{{site.imgurl}}{{page.thumbnail}}{%else%}https://help.plot.ly/images/twitter-default.png{% endif %}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}"/>
    <meta property="og:url" />
    <meta property="fb:admins" content="1123751525"/>
    <meta property="fb:admins" content="22418"/>

<!-- twitter tags -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="{% if page.name %}{{page.name}}{% else %}plotly{% endif %}"/>
    <meta name="twitter:url" content="{% if page.permalink %}https://plot.ly/{{page.permalink}}{% endif %}"/>
    <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}"/>
    <meta name="twitter:image" content="{% if page.imageurl %}{{page.imageurl}}{% else %}{% if page.thumbnail%}{{site.imgurl}}{{page.thumbnail}}{%else%}https://help.plot.ly/images/twitter-default.png{% endif %}{% endif %}">
    <meta name="twitter:site" content="@plotlygraphs"/>

<!-- Favicon -->
    <link rel="shortcut icon" href="/all_static/images/plotly-ico.png?v=2" />
