{% if page.url contains "/python/v3/ipython-notebooks/gallery" %}
{% assign ipython_notebooks_gallery = true %}
{% elsif page.url contains "dashboards" %}
{% assign dashboards = true %}
{% elsif page.url contains "python" %}
{% assign language = "python" %}
{% elsif page.url contains "javascript" %}
{% assign language = "plotly_js" %}
{% elsif page.url contains "ggplot2" %}
{% assign language = "ggplot2" %}
{% elsif page.url contains "matlab" %}
{% assign language = "matlab" %}
{% elsif page.url contains "julia" %}
{% assign language = "julia" %}
{% elsif page.url contains "nodejs" %}
{% assign language = "nodejs" %}
{% elsif page.url contains "r/" %}
{% assign language = "r" %}
{% elsif page.url contains "scala/" %}
{% assign language = "scala" %}
{% endif %}

{% assign display_as = page.display_as %}

{% assign pages_list = site.posts | where:"language", language %}

{%- for page in pages_list -%}
{% if page.display_as == "chart_type" or page.display_as == "basic" %}
{% assign basic = true %}
{% elsif page.display_as == "file_settings" %}
{% assign file_settings = true %}
{% elsif page.display_as == "statistical" %}
{% assign statistical = true %}
{% elsif page.display_as == "scientific" %}
{% assign scientific = true %}
{% elsif page.display_as == "maps" %}
{% assign maps = true %}
{% elsif page.display_as == "financial_analysis" or page.display_as == "financial" %}
{% assign financial = true %}
{% elsif page.display_as == "3d_charts" %}
{% assign 3d_charts = true %}
{% elsif page.display_as == "advanced_charts"%}
{% assign advanced_charts = true %}
{% elsif page.display_as == "multiple_axes" %}
{% assign multiple_axes = true %}
{% elsif page.display_as == "transforms" %}
{% assign transforms = true %}
{% elsif page.display_as == "controls" %}
{% assign controls = true %}
{% elsif page.display_as == "animations" %}
{% assign animations = true %}
{% elsif page.display_as == "streaming" %}
{% assign streaming = true %}
{% elsif page.display_as == "chart_events" %}
{% assign chart_events = true %}
{% elsif page.display_as == "style_opt" %}
{% assign style_opt = true %}
{% elsif page.display_as == "layout_opt" %}
{% assign layout_opt = true %}
{% elsif page.display_as == "tutorial" %}
{% assign tutorial = true %}
{% elsif page.display_as == "get_request" %}
{% assign get_request = true %}
{% elsif page.display_as == "report_generation" %}
{% assign report_generation = true %}
{% elsif page.display_as == "databases" %}
{% assign databases = true %}
{% elsif page.display_as == "chart_studio" %}
{% assign chart_studio = true %}
{% elsif page.display_as == "advanced_opt" %}
{% assign advanced_opt = true %}

<!-- START OF GGPLOT CUSTOM LAYOUT -->
{% elsif page.display_as == "aesthetics" %}
{% assign aesthetics = true %}
{% elsif page.display_as == "geoms" %}
{% assign geoms = true %}
{% elsif page.display_as == "faceting" %}
{% assign faceting = true %}
{% elsif page.display_as == "other" %}
{% assign other = true %}
{% elsif page.display_as == "theme" %}
{% assign theme = true %}
<!-- END OF GGPLOT CUSTOM LAYOUT -->
{% endif %}
{%- endfor -%}


<aside class="--sidebar-container">
    <div class="--sidebar-fixed reference"  data-spy="affix" id="where">
        <header class="--sidebar-header">Quick Start</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                <!-- Getting Started -->
                {% if page.language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a href="/javascript/getting-started" class="js-splash--navigation-item">Getting Started</a>
                </li>
                {% else %}
                <li class="--sidebar-item">
                    <a href="/{{ page.language }}/getting-started" class="js-splash--navigation-item">Getting Started</a>
                </li>
                {% endif %}
                {% if page.language == "r" or page.language == "python" %}
                <li class="--sidebar-item">
                    <a href="/{{ page.language }}/is-plotly-free" class="js-splash--navigation-item">Is Plotly Free?</a>
                </li>
                {% endif %}
                {% if page.language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a href="/javascript/is-plotly-free" class="js-splash--navigation-item">Is Plotly Free?</a>
                </li>
                {% endif %}

                <!-- Cheat Sheets -->
                {% if page.language == "plotly_js" or page.language == "r" or page.language == "matlab" %}
                <li class="--sidebar-item">
                    <a href="https://images.plot.ly/plotly-documentation/images/{{ page.language }}_cheat_sheet.pdf" class="js-splash--navigation-item">Cheat Sheet</a>
                </li>
                {% endif %}

                <!-- Reference Pages -->
                {% if page.language == "r" or page.language == "python" or page.language == "matlab" %}
                <li class="--sidebar-item">
                    <a href="/{{ page.language }}/reference" class="js-splash--navigation-item">Figure Reference</a>
                </li>
                {% endif %}
                {% if page.language == "python" %}
                <li class="--sidebar-item">
                    <a href="/python-api-reference" class="js-splash--navigation-item">API Reference</a>
                </li>
                {% endif %}

                <!-- User Guides -->
                {% if page.language == "r" or page.language == "ggplot2" or page.language == "matlab" or page.language == "scala" %}
                <li class="--sidebar-item">
                    <a href="/{{ page.language }}/user-guide/" class="js-splash--navigation-item">User Guide</a>
                </li>
                {% endif %}

                {% if page.language == "matlab" or page.language == "r" %}
                <li class="--sidebar-item">
                    <a href="/{{ page.language }}/offline/" class="js-splash--navigation-item">Use Offline</a>
                </li>
                {% endif %}

                <!-- JS Specific -->
                {% if page.language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a href="/javascript/getting-started/#plotlyjs-cdn" class="js-splash--navigation-item">CDN</a>
                </li>
                <li class="--sidebar-item">
                    <a href="/javascript/getting-started/#download" class="js-splash--navigation-item">Download</a>
                </li>
                <li class="--sidebar-item">
                    <a href="/javascript/reference" class="js-splash--navigation-item">Full Reference</a>
                </li>
                <li class="--sidebar-item">
                    <a href="/javascript/plotlyjs-events" class="js-splash--navigation-item">Event Reference</a>
                </li>
                <li class="--sidebar-item">
                    <a href="/javascript/plotlyjs-function-reference/" class="js-splash--navigation-item">Function Reference</a>
                </li>
                <li class="--sidebar-item">
                    <a href="/javascript/configuration-options/" class="js-splash--navigation-item">Configuration Options</a>
                </li>
                {% endif %}

                <!-- R Specific -->
                {% if page.language == "r"%}
                <li class="--sidebar-item">
                    <a href="/ggplot2/" class="js-splash--navigation-item">ggplot2 integration</a>
                </li>
                <li class="--sidebar-item">
                    <a href="https://plot.ly/dash" class="js-splash--navigation-item">Dash for R</a>
                </li>
                {% endif %}

                <!-- Python Specific -->
                {% if page.language == "python" %}
                <li class="--sidebar-item">
                    <a href="https://plot.ly/dash" class="js-splash--navigation-item">Dash</a>
                </li>
                {% endif %}

                <!-- Python/v3 Index Page Specific -->
                {% if page.permalink == "/python/v3/" %}
                <li class="--sidebar-item">
                    <a href="/ipython-notebooks/" class="js-splash--navigation-item">IPython Notebooks</a>
                </li>
                {% endif %}


            </ul>
        </nav>

        <!-- Examples start -->
	{% unless display_as %}
        <header class="--sidebar-header">Examples</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                {% if file_settings == true %}
                <li class="--sidebar-item">
                    <a href="#fundamentals" class="js-splash--navigation-item">Plotly Fundamentals</a>
                </li>
                {% endif %}

                {% if basic == true %}
                <li class="--sidebar-item">
                    <a href="#basic-charts" class="js-splash--navigation-item">Basic</a>
                </li>
                {% endif %}

                {% if statistical == true %}
                <li class="--sidebar-item">
                    <a href="#statistical-charts" class="js-splash--navigation-item">Statistical</a>
                </li>
                {% endif %}

                {% if scientific == true %}
                <li class="--sidebar-item">
                    <a href="#scientific-charts" class="js-splash--navigation-item">Scientific</a>
                </li>
                {% endif %}

                {% if financial == true %}
                <li class="--sidebar-item">
                    <a href="#financial-charts" class="js-splash--navigation-item">Financial</a>
                </li>
                {% endif %}

                {% if maps == true %}
                <li class="--sidebar-item">
                    <a href="#maps" class="js-splash--navigation-item">Maps</a>
                </li>
                {% endif %}

                {% if 3d_charts == true %}
                <li class="--sidebar-item">
                    <a href="#3d-charts" class="js-splash--navigation-item">3D</a>
                </li>
                {% endif %}

                {% if multiple_axes == true %}
                <li class="--sidebar-item">
                    <a href="#multiple-axes-subplots-and-insets" class="js-splash--navigation-item">Subplots</a>
                </li>
                {% endif %}

                {% if chart_events == true and language == "python" %}
                <li class="--sidebar-item">
                    <a href="#chart-events" class="js-splash--navigation-item">Jupyter Widgets Interaction</a>
                </li>
                {% endif %}

                {% if language == "plotly_js"%}
                <li class="--sidebar-item">
                    <a href="#chart-events" class="js-splash--navigation-item">Chart Events</a>
                </li>
                {% endif %}

                {% if transforms == true %}
                <li class="--sidebar-item">
                    <a href="#transforms" class="js-splash--navigation-item">Transforms</a>
                </li>
                {% endif %}

                {% if controls == true %}
                <li class="--sidebar-item">
                    <a href="#controls" class="js-splash--navigation-item">Custom Controls</a>
                </li>
                {% endif %}

                {% if animations == true %}
                <li class="--sidebar-item">
                    <a href="#animations" class="js-splash--navigation-item">Animations</a>
                </li>
                {% endif %}

                {% if chart_studio == true %}
                <li class="--sidebar-item">
                    <a href="#chart-studio" class="js-splash--navigation-item">Chart Studio</a>
                </li>
                {% endif %}

                {% if advanced_opt == true %}
                <li class="--sidebar-item">
                    <a href="#advanced-options" class="js-splash--navigation-item">Advanced</a>
                </li>
                {% endif %}

                {% if databases == true %}
                <li class="--sidebar-item">
                    <a href="#databases" class="js-splash--navigation-item">Connecting to Databases</a>
                </li>
                {% endif %}

                {% if report_generation == true %}
                <li class="--sidebar-item">
                    <a href="#report-generation" class="js-splash--navigation-item">Report Generation</a>
                </li>
                {% endif %}

                {% if style_opt == true %}
                <li class="--sidebar-item">
                    <a href="#style-options" class="js-splash--navigation-item">Style Options</a>
                </li>
                {% endif %}

                {% if layout_opt == true %}
                <li class="--sidebar-item">
                    <a href="#layout-options" class="js-splash--navigation-item">Layout Options</a>
                </li>
                {% endif %}

                {% if tutorial == true %}
                <li class="--sidebar-item">
                    <a href="#tutorial" class="js-splash--navigation-item">Tutorial</a>
                </li>
                {% endif %}

                {% if get_request == true %}
                <li class="--sidebar-item">
                    <a href="#static-image-export" class="js-splash--navigation-item">Image Export &amp; Retrieving Plots</a>
                </li>
                {% endif %}


                <!-- START OF GGPLOT CUSTOM LAYOUT -->
                {% if aesthetics == true %}
                <li class="--sidebar-item">
                    <a href="#aes" class="js-splash--navigation-item">Aesthetics</a>
                </li>
                {% endif %}

                {% if geoms == true %}
                <li class="--sidebar-item">
                    <a href="#geoms" class="js-splash--navigation-item">Geoms</a>
                </li>
                {% endif %}

                {% if faceting == true %}
                <li class="--sidebar-item">
                    <a href="#faceting" class="js-splash--navigation-item">Faceting</a>
                </li>
                {% endif %}

                {% if other == true %}
                <li class="--sidebar-item">
                    <a href="#other" class="js-splash--navigation-item">Other</a>
                </li>
                {% endif %}

                {% if theme == true %}
                <li class="--sidebar-item">
                    <a href="#theme" class="js-splash--navigation-item">Theme</a>
                </li>
                {% endif %}
                <!-- END OF GGPLOT CUSTOM LAYOUT -->

                {% if general_examples == true %}
                <li class="--sidebar-item">
                    <a href="#general-examples" class="js-splash--navigation-item">General Examples</a>
                </li>
                {% endif %}

                {% if real_dataset == true %}
                <li class="--sidebar-item">
                    <a href="#real_dataset" class="js-splash--navigation-item">Examples based on real world dataset</a>
                </li>
                {% endif %}

                {% if biclustering == true %}
                <li class="--sidebar-item">
                    <a href="#biclustering" class="js-splash--navigation-item">Biclustering</a>
                </li>
                {% endif %}

                {% if calibration == true %}
                <li class="--sidebar-item">
                    <a href="#calibration" class="js-splash--navigation-item">Calibration</a>
                </li>
                {% endif %}

                {% if classification == true %}
                <li class="--sidebar-item">
                    <a href="#classification" class="js-splash--navigation-item">Classification</a>
                </li>
                {% endif %}

                 {% if clustering == true %}
                <li class="--sidebar-item">
                    <a href="#clustering" class="js-splash--navigation-item">Clustering</a>
                </li>
                {% endif %}

                 {% if covariance_estimation == true %}
                <li class="--sidebar-item">
                    <a href="#covariance_estimation" class="js-splash--navigation-item">Covariance Estimation</a>
                </li>
                {% endif %}

                 {% if cross_decomposition == true %}
                <li class="--sidebar-item">
                    <a href="#cross_decomposition " class="js-splash--navigation-item">Cross Decomposition</a>
                </li>
                {% endif %}

                {% if dataset == true %}
                <li class="--sidebar-item">
                    <a href="#dataset " class="js-splash--navigation-item">Dataset Examples</a>
                </li>
                {% endif %}

                {% if decomposition == true %}
                <li class="--sidebar-item">
                    <a href="#decomposition " class="js-splash--navigation-item">Decomposition</a>
                </li>
                {% endif %}


                {% if ensemble_methods == true %}
                <li class="--sidebar-item">
                    <a href="#ensemble_methods " class="js-splash--navigation-item">Ensemble Methods</a>
                </li>
                {% endif %}

                {% if tutorial_exercises == true %}
                <li class="--sidebar-item">
                    <a href="#tutorial_exercises " class="js-splash--navigation-item">Tutorial Exercises</a>
                </li>
                {% endif %}

                 {% if feature_selection == true %}
                <li class="--sidebar-item">
                    <a href="#feature_selection " class="js-splash--navigation-item">Feature Selection</a>
                </li>
                {% endif %}

                {% if gaussian-process == true %}
                <li class="--sidebar-item">
                    <a href="#gaussian-process " class="js-splash--navigation-item">Gaussian Process for Machine Learning</a>
                </li>
                {% endif %}

                {% if linear_models == true %}
                <li class="--sidebar-item">
                    <a href="#linear_models " class="js-splash--navigation-item">Generalized Linear Models</a>
                </li>
                {% endif %}

                {% if manifold_learning == true %}
                <li class="--sidebar-item">
                    <a href="#manifold_learning " class="js-splash--navigation-item">Manifold Learning</a>
                </li>
                {% endif %}

                {% if gaussian_mixture == true %}
                <li class="--sidebar-item">
                    <a href="#gaussian_mixture" class="js-splash--navigation-item">Gaussian Mixture Models</a>
                </li>
                {% endif %}

                {% if model_selection == true %}
                <li class="--sidebar-item">
                    <a href="#model_selection" class="js-splash--navigation-item">Model Selection</a>
                </li>
                {% endif %}

                {% if nearest_neighbors == true %}
                <li class="--sidebar-item">
                    <a href="#nearest_neighbors " class="js-splash--navigation-item">Nearest Neighbors</a>
                </li>
                {% endif %}

                {% if neural_networks == true %}
                <li class="--sidebar-item">
                    <a href="#neural_networks " class="js-splash--navigation-item">Neural Networks</a>
                </li>
                {% endif %}

                {% if preprocessing == true %}
                <li class="--sidebar-item">
                    <a href="#preprocessing " class="js-splash--navigation-item">Preprocessing</a>
                </li>
                {% endif %}

                {% if semi_supervised == true %}
                <li class="--sidebar-item">
                    <a href="#semi_supervised " class="js-splash--navigation-item">Semi Supervised Classification</a>
                </li>
                {% endif %}

                {% if vector_machines == true %}
                <li class="--sidebar-item">
                    <a href="#vector_machines" class="js-splash--navigation-item">Support Vector Machines</a>
                </li>
                {% endif %}

                {% if decision_trees == true %}
                <li class="--sidebar-item">
                    <a href="#decision_trees" class="js-splash--navigation-item">Decision Trees</a>
                </li>
                {% endif %}

                {% if text_documents == true %}
                <li class="--sidebar-item">
                    <a href="#text_documents" class="js-splash--navigation-item">Working with Text Documents</a>
                </li>
                 {% endif %}
                {% if dashboards %}
                <!--override for dashboards index page -->
                <li class="--sidebar-item">
                    <a href="#industry" class="js-splash--navigation-item">By Industry</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#language" class="js-splash--navigation-item">By Data Science Language</a>
                </li>
                {% endif %}

                {% if ipython_notebooks_gallery %}
                <!--override for IPython Gallery  -->
                <li class="--sidebar-item">
                    <a href="#notebook-basics" class="js-splash--navigation-item">Plotly Basics</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#science-and-engineering" class="js-splash--navigation-item">Science and Engineering</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#civic-data" class="js-splash--navigation-item">Civic Data</a>
                </li>
                <li class="--sidebar-item">
                    <a href="#finance" class="js-splash--navigation-item">Finance</a>
                </li>
                {% endif %}
            </ul>
        </nav>
	{% endunless %}
        <!-- Community -->
        <header class="--sidebar-header">Community</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">

                {% if language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.js/blob/master/CONTRIBUTING.md"
                   class="js-splash--navigation-item">Contributing</a>
                </li>
                {% endif %}

                {% if page.language == 'python' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.py" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'matlab' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/matlab-api" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'julia' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/Julia-API" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'nodejs' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly-nodejs"
                   class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'r' or page.language == 'ggplot2' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/ropensci/plotly" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% elsif page.language == 'plotly_js' %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/plotly.js/" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% else %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://github.com/plotly/" class="js-splash--navigation-item">GitHub</a>
                </li>

                {% endif %}
                <li class="--sidebar-item">
                    <a target="_blank" href="http://community.plot.ly/" class="js-splash--navigation-item">community.plot.ly</a>
                </li>

            </ul>
        </nav>
        <header class="--sidebar-header">Tools</header>
        <nav class="--sidebar-body watch" id="where">
            <ul class="--sidebar-list">
                <li class="--sidebar-item">
                    <a target="_blank" href="/create/" class="js-splash--navigation-item">Web Editor</a>
                </li>
                {% if language == "plotly_js" %}
                <li class="--sidebar-item">
                    <a target="_blank" href="https://codepen.io/plotly" class="js-splash--navigation-item">CodePen</a>
                </li>
                {% endif %}
            </ul>
            <button class="--btn back">
                <div class="icon">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000"
                              d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z"/>
                    </svg>
                </div>
                <span><a href="/graphing-libraries/">Back to Graphing Libraries</a></span>
            </button>
        </nav>
    </div>
</aside>
