---
name: Hiding Legend Entries
plot_url: https://codepen.io/plotly/embed/6484a7ba0a21e9eab0f6e07cc56592a3/?height=497&theme-id=15263&default-tab=result
language: plotly_js
suite: legends
order: 9
sitemap: false
arrangement: horizontal
---
var trace1 = {
  x: [0, 1, 2],
  y: [1, 2, 3],
  name: 'First Trace',
  showlegend: false,
  type: 'scatter'
};
var trace2 = {
  x: [0, 1, 2, 3],
  y: [8, 4, 2, 0],
  name: 'Second Trace',
  showlegend: true,
  type: 'scatter'
};
var data = [trace1, trace2];
Plotly.newPlot('myDiv', data);
